.hover-scale-img{overflow:hidden}
.hover-scale-img img{transform:rotate(0) scale(1.5); transition:transform var(--ts-duration);transition-timing-function:ease-in-out}
.hover-scale-img:hover img{transform:rotate(10deg) scale(1.3)}

.animate{opacity: 0; visibility: hidden}
.animated{-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-fill-mode:both;animation-fill-mode:both}

.fade-in-up{-webkit-animation-name:fade-in-up;animation-name:fade-in-up}
.fade-in-left{-webkit-animation-name:fade-in-left;animation-name:fade-in-left}
.fade-in-right{-webkit-animation-name:fade-in-right;animation-name:fade-in-right}

.delay-1{animation-delay:.1s}
.delay-2{animation-delay:.2s}
.delay-3{animation-delay:.3s}
.delay-4{animation-delay:.4s}
.delay-5{animation-delay:.5s}
.delay-6{animation-delay:.6s}
.delay-7{animation-delay:.7s}
.delay-8{animation-delay:.8s}
.delay-9{animation-delay:.9s}
.delay-10{animation-delay:1s}
.delay-11{animation-delay:1.1s}
.delay-12{animation-delay:1.2s}

@keyframes fade-in-up{from{opacity:0;visibility:hidden;transform:translateY(50px)}to{visibility:visible;opacity:1;transform:none}}
@keyframes fade-in-left{from{opacity:0;visibility:hidden;transform:translateX(-50px)}to{visibility:visible;opacity:1;transform:none}}
@keyframes fade-in-right{from{opacity:0;visibility:hidden;transform:translateX(50px)}to{visibility:visible;opacity:1;transform:none}}
