/* Text */
.txt-main{color:var(--main)}
.txt-contrast{color:var(--contrast)}
.txt-main-dark{color:var(--main-dark)}
.txt-main-light{color:var(--main-light)}

.txt-spotlight{color:var(--spotlight)}
.txt-spotlight-dark{color:var(--spotlight-dark)}

.txt-primary{color:var(--primary)}
.txt-secondary{color:var(--secondary)}

.txt-white{color:#fff}
.txt-medium{color:var(--medium)}

/* Background */
.bg-main{background-color:var(--main)}
.bg-main-dark{background-color:var(--main-dark)}
.bg-main-light{background-color:var(--main-light)}
.bg-gradient{background: var(--gradient);}
.bg-white-transparent{background: var(--white-transparent)}

.bg-spotlight{background-color:var(--spotlight)}
.bg-spotlight-dark{background-color:var(--spotlight-dark)}

.bg-dark{background-color:var(--dark)}
.bg-light{background-color:var(--light)}
.bg-medium{background-color:var(--medium)}

.bg-white{background-color:#fff}
.bg-black{background-color:var(--black)}

/* Hover */
.hover-main{background-color:var(--main)}
.hover-main:hover{background-color:var(--main-dark)}

.hover-spotlight{background-color:var(--spotlight)}
.hover-spotlight:hover{background-color:var(--spotlight-dark)}

.hover-transparent{background-color:transparent; border: thin solid #fff;}
.hover-transparent:hover{background-color:var(--main); border-color: var(--main);}

.hover-underline:hover{text-decoration:underline}
.hover-underline-a a:hover{text-decoration:underline}

.hover-shadow{box-shadow: var(--shadow)}
.hover-shadow:hover{box-shadow: var(--shadow-lg)}

.link-main{color:var(--main); transition: color .2s}
.link-main:hover{color:var(--main-dark)}