/* Botão */
.btn{display:inline-block;outline:0;border:0;cursor:pointer;text-align:center;text-decoration:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;vertical-align:middle;background-color:transparent;padding: .25rem;font-size:.7rem;box-sizing:border-box;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}

/* Imagens */
.img{display:block;width:100%;max-width:100%;height: auto;}
.img-lazy{-webkit-transition:500ms -webkit-filter linear;transition:500ms -webkit-filter linear;-o-transition:500ms filter linear;transition:500ms filter linear;transition:500ms filter linear, 500ms -webkit-filter linear}
.img-blur{-webkit-filter:blur(1rem);filter:blur(1rem)}

.bg-cover{background-size:cover;background-repeat:no-repeat;background-position:center center}

/* Elementos externos */
.iframe{display:block;width:100%;height:auto}
.video-widescreen, .video-height{position: relative;background-color: #000;overflow:hidden}
.video-height{width: 0;height: 100%;padding-right: 100%;}
.video-widescreen{width:100%;height:0;padding-bottom:56.25%}
.video-widescreen iframe, .video-height iframe{position:absolute;top:0;left:0;width:100%;height:100%}

/* Divisor */
.divider-top{border-top: thin solid var(--light)}
.divider-left{border-left: thin solid var(--light)}
.divider-right{border-right: thin solid var(--light)}
.divider-bottom{border-bottom: thin solid var(--light)}