/* source-sans-pro-300 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro'), url('../fonts/source-sans-pro-v18-latin-300.woff2') format('woff2'), url('../fonts/source-sans-pro-v18-latin-300.woff') format('woff');
   
}

/* source-sans-pro-regular - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), url('../fonts/source-sans-pro-v18-latin-regular.woff2') format('woff2'), url('../fonts/source-sans-pro-v18-latin-regular.woff') format('woff');
   
}

/* source-sans-pro-600 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro'), url('../fonts/source-sans-pro-v18-latin-600.woff2') format('woff2'), url('../fonts/source-sans-pro-v18-latin-600.woff') format('woff');
   
}

/* source-sans-pro-700 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Sans Pro'), url('../fonts/source-sans-pro-v18-latin-700.woff2') format('woff2'), url('../fonts/source-sans-pro-v18-latin-700.woff') format('woff');
   
}

/* source-sans-pro-900 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    src: local('Source Sans Pro'), url('../fonts/source-sans-pro-v18-latin-900.woff2') format('woff2'), url('../fonts/source-sans-pro-v18-latin-900.woff') format('woff');
   
}