
.presentation::before{content: ""; display: block; width: 100%; height: calc(100% - 1px); position: absolute; left: 0; top: 0; background: var(--gradient); z-index: -2;}
.presentation::after{content: ""; display: block; width: 580px; height: 600px; position: absolute; top: 0;  right: 0; background-repeat: no-repeat; background-size: contain; z-index: -1;}

.presentation .welcome{padding: .7rem 2.5rem; font-size: 1.2rem; border-radius: 20px; letter-spacing:3px;}
.presentation .title{font-size: 1.9rem}
.presentation .desc{line-height: 1.5; font-size: 1.1rem;}
.presentation .content .btn{font-size: 1.1rem; padding: 1rem 1.5rem; border-radius: 40px; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)}
.presentation .image{display: block; user-select: none; z-index: -1}
.presentation .balls{top:-20px; left: -110px; height: 100%; animation: move 5s infinite;user-select: none;}
.presentation .circle{animation: move 5s infinite;}
.presentation .circle span{display: block; position:absolute; bottom: -90px; left: 250px; background: var(--gradient); border-radius: 50%; width: 120px; height: 120px;box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)}
.presentation .circle span:last-child{bottom: -250px; width: 70px; height: 70px; right: -100px; left: auto;}

@keyframes move {
    0%{transform:rotate(0)}
    50%{transform:rotate(2deg)}
    100%{transform:rotate(0)}
}

@media (min-width:576px){
    .presentation .balls{ left: -70px;}
}

@media (min-width:992px){
    .presentation::after{ background-image: url(../images/pic-home.webp);}
}

@media (min-width:1200px){
    .presentation .balls{height: 650px; top: -30px; left: -160px;}
    .presentation .title{font-size: 3rem}
    .presentation .desc{font-size: 1.3rem}
    .presentation .content .btn{font-size: 1.3rem;}
    .presentation::after{width: 650px; height: 720px;}
}

@media (min-width:1366px){
    .presentation::after{width: 800px; height: 820px;}
}


/* Quem somos */
.about{fill: var(--main);}
.about p{font-size: 1.05rem; line-height: 1.3; color: var(--secondary);}
.about p:not(:last-child){margin-bottom: 1rem}
.about li{display: flex; align-items: center; line-height: 1;}
.about li:not(:last-child){margin-bottom: 1rem;}
.about .list svg{height: 20px; margin-right: .5rem;}

.about .social a{background: var(--gradient); display: flex; align-items: center; justify-content: center; border-radius: 50%; width: 46px; height: 46px; transition: transform .2s; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)}
.about .social a:not(:last-child){margin-right: 5px;}
.about .social svg{fill: #fff; height: 20px;}
.about .social a:hover{transform: scale(1.1);}

/* Marketing integrado */

.mkt p{font-size: 1.05rem; line-height: 1.3; color: var(--secondary);}
.mkt p:not(:last-child){margin-bottom: 1rem}