/* Posições */
.fixed{position:fixed}
.static{position:static}
.relative{position:relative}
.absolute{position:absolute}

.top-left{top:0;left:0}
.top-right{top:0;right:0}
.bottom-left{bottom:0;left:0}
.bottom-right{bottom:0;right:0}

.z-index{z-index: 1;}
.in-back{z-index: -1}
.in-front{z-index: 2}

.pointer{cursor:pointer}
.line-height{line-height:1}
.word-wrap{word-wrap:break-word}
.small-caps{font-variant:small-caps}
.uppercase{text-transform: uppercase}
.fs-inherit{font-size: inherit}
.no-select{user-select: none}

.overflow-hidden{overflow: hidden}
.vertical-middle{vertical-align: middle}

/* Bordas arredondas */
.radius{border-radius:var(--radius)}
.radius-2{border-radius:calc(var(--radius) * 2)}
.radius-3{border-radius:calc(var(--radius) * 3)}
.radius-4{border-radius:calc(var(--radius) * 4)}
.radius-5{border-radius:calc(var(--radius) * 5)}
.radius-6{border-radius:calc(var(--radius) * 6)}
.radius-7{border-radius:calc(var(--radius) * 7)}
.radius-8{border-radius:calc(var(--radius) * 8)}
.radius-9{border-radius:calc(var(--radius) * 9)}

.round{border-radius:50%}
.radius-inherit{border-radius:inherit}
.radius-right{border-bottom-left-radius:0; border-top-left-radius:0}
.radius-bottom{border-top-left-radius:0; border-top-right-radius: 0}
.radius-left{border-bottom-right-radius:0; border-top-right-radius:0}
.radius-top{border-bottom-left-radius:0; border-bottom-right-radius:0}

/* Sombras */
.shadow{box-shadow:var(--shadow)}
.txt-shadow{text-shadow:var(--txt-shadow)}
.drop-shadow{filter:drop-shadow(var(--shadow))}

/* Peso de fontes */
.fw-thin{font-weight: var(--fw-thin)}
.fw-light{font-weight: var(--fw-light)}
.fw-normal{font-weight: var(--fw-normal)}
.fw-medium{font-weight: var(--fw-medium)}
.fw-semi-bold{font-weight: var(--fw-semi-bold)}
.fw-bold{font-weight:var(--fw-bold)}
.fw-black{font-weight: var(--fw-black)}