
/**
 * Elementos do projeto
 */

/* Botões */
.btn__white{background: #fff; color: var(--main); border: 0;}
.btn__white:hover{background: var(--gradient); color: #fff;}

/* Sections */
.section__title{font-size: 2rem;}
.section__subtitle{font-size: 1rem; color: var(--main-dark); background-color: rgba(245,95,141,.1); letter-spacing: 2px; margin-bottom: 2rem; display: inline-block; border-radius: .6rem; padding: .75rem 2rem; font-weight: 600; text-transform: uppercase;}

@media (min-width:992px){
    .section__title{font-size: 2.5rem;}
    .section__subtitle{font-size: 1.2rem;}
}

/* Card */
.card__box{position: relative; height: 100%; overflow: hidden; border-radius: 10px; padding: 2rem; box-shadow: 0 0 10px 4px rgb(31 66 135 / 10%); background-color: #fff; z-index: 0;fill: var(--main); }
.card__box .icon{position: relative; display: flex; justify-content: center; align-items: center; width: 70px; height: 70px; border-radius: 50%; background-color: rgba(245, 95, 141, .1);}
.card__box .icon::after{content:""; display: block; position:absolute; top: -18px; left: -13px; width:100px; height:100px; background-image: url(../images/pattern.png); background-repeat: no-repeat; background-repeat: no-repeat; background-size: cover;}
.card__box svg{height: 34px; display: block; line-height: 0; }
.card__box .title{margin-bottom: 1rem; font-size: 1.5rem; }
.card__box .desc{color: var(--secondary); line-height: 1.5}

.card__box .effect {position: absolute; width: 0; height: 0; bottom: 0; right:0; transform: translate(45%, 45%); transition: width .2s, height.2s;z-index: -1; }
.card__box .effect span{display: block; position: relative; border-radius: 50%; width: 100%; height: 100%; background-color: rgba(255,255,255,.2);  }
.card__box .effect span::before,
.card__box .effect span::after{content: ""; position: absolute; display: block; width: 75%; height: 75%; background-color:rgba(255,255,255,.3); border-radius: 50%; bottom: 50%;  right: 50%; transform: translate(50%,50%); transition: width .4s ease-in-out, height.4s ease-in-out; }
.card__box .effect span::after{background-color:var(--main); width: 50%; height: 50%;} 

.card__box:hover{background: var(--gradient); color: #fff; fill: #fff; text-shadow: 0 3px 5px rgba(0,0,0,.2);  }
.card__box:hover .desc{color: #fff;  }
.card__box:hover .icon{background-color: rgba(255,255,255,.2);}
.card__box:hover .icon::after{background-image: url(../images/pattern-white.png)}

 .card__box:hover .effect{width: 380px; height: 380px;} 




/* TopBar */
.top_bar .content{border-bottom: thin solid #fff; fill: #fff}
.top_bar a{display: flex; justify-content: center; align-items: center; align-content: center;}
.top_bar svg{height: 14px; display: block; line-height: 0;}

.top_bar .contact a:first-child{margin-right: 1rem;}
.top_bar .contact span{padding-bottom: 3px;}
.top_bar .contact svg{margin-right: 5px;}

.top_bar .social a{width: 30px; height: 30px; background-color: #fff; border-radius: 50%; fill: var(--main); transition: background .2s, color .2s;}
.top_bar .social a:not(:last-child){margin-right: 4px}
.top_bar .social a:hover{background: var(--gradient); fill: #fff;}

/* Logo Principal */
.main_logo{width: 120px; display: block}
.main_logo svg{line-height: 0;display: block;}

/* Orçamento */
.top_budget{font-size: .86rem; padding: .6rem 1.2rem; border-radius: 1rem; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); transition: transform .2s;}
.top_budget:hover{transform: scale(1.1);}

/* Ícone Nav Mobile */
#navToggle{width:30px;padding: 5px;margin-left: 1.2rem;cursor:pointer}
#navToggle span,
#navToggle::before,
#navToggle::after{content:'';position:relative;display:block;width:100%;height:2px;background-color:#fff;border-radius:3px;transition:transform .2s,opacity .2s,visibility .2s,background-color .2s, top .2s}
#navToggle span{margin-top: 5px;margin-bottom:5px}
#navToggle.visible span{opacity: 0; visibility: hidden}
#navToggle.visible::before {transform:rotate(-45deg); top: 7px}
#navToggle.visible::after {transform: rotate(45deg); top: -7px}

/* Navegação */
#mainNav{position: fixed; display: flex; justify-content: center; align-items: flex-start; width: 100%; height: 100vh; background-color: rgba(0,0,0,.2); top: 0; left: 0; z-index: 99; visibility: hidden; opacity: 0; transition: visibility .2s, opacity .2s}
#mainNav nav{position: relative; display: flex; flex-direction: column; min-width: 300px; background-color: #fff; height: auto; border-radius: 20px; padding: 2rem; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); overflow: hidden; z-index: 0; opacity: 0; transition: margin-top .3s, opacity .2s;}
#mainNav nav::before, #mainNav nav::after{content: ""; display: block; width: 300px; height: 300px; position: absolute; bottom: -30%; right: -40%; background-color: var(--main); border-radius: 50%; z-index: -1; opacity: .1;}
#mainNav nav::after{top: -40%; left: -40%; right: auto; bottom: auto;}

#mainNav a{display: block; padding: .7rem; font-weight: var(--fw-semi-bold); text-align: center; color: var(--primary); border-radius: 6px; font-size: 1.2rem; user-select: none;}
#mainNav a:hover{background-color: var(--main); color: #fff}
#mainNav.visible{opacity: 1; visibility: visible;}
#mainNav.visible nav{opacity: 1; margin-top: 100px;}

@media (min-width:768px){
    .main_logo{width: 160px;}
    .top_budget{font-size: 1.1rem; padding: .7rem 1.5rem; border-radius: 30px;}
}

@media (min-width:992px){
    #mainNav{position: relative; align-self: flex-end; display: block; width: auto; height: auto; background-color: transparent; top: auto; left: auto; z-index: 0; visibility: visible; opacity: 1; transition: none}
    #mainNav nav{flex-direction: row; height: 50px; border-radius: 0; align-items: center; background-color:transparent; box-shadow: none; opacity: 1; padding: 0; transition: none;}
    #mainNav nav::before, #mainNav nav::after{display: none;}
    #mainNav a{text-shadow: 0 3px 5px rgba(0,0,0,.2); padding: .25rem 1rem; color: #fff; transition: background-color .2s, color .2s, box-shadow .2s; border-radius: 50px;}
    #mainNav a:hover{background-color: transparent; background-color: #fff; color: var(--main); box-shadow: 0 5px .5rem rgba(0,0,0,.15);   }
}

/* Rodapé */
.main_footer::before{content: ""; display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: var(--gradient-dark); z-index: -2;}

.main_footer::after{content: ""; position: absolute; display: block; width: 100%; height: 100%; right: -50px; top: 0;  z-index: -1; background-image: url(../images/bg4.png); background-position: center center; background-repeat: no-repeat; background-size: contain; transform: rotate(45deg); opacity: .6;}

@media (min-width:768px){
    .main_footer::after{transform: rotate(0);}
}


.footer_logo{width: 180px; margin-bottom: 2rem;}

.main_footer .contact{fill: #fff; color: #fff;}
.main_footer .contact li{margin-bottom: 1rem;}
.main_footer .contact a{display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.main_footer .contact .icon{display: -webkit-box;display: -ms-flexbox;display: flex; width: 44px; height: 44px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background: var(--gradient); border-radius: 50%; margin-right: .5rem;}
.main_footer .contact svg{height: 18px;}

.footer_list .title{font-size:1.25rem;position:relative; margin-bottom: 2rem;padding-bottom:1rem;}
.footer_list .title:after,.footer_list .title:before{content:"";position:absolute;bottom:0;left:0;height:4px;border-radius:20px;background-color:#fff}
.footer_list .title:before {width: 15px}
.footer_list .title:after {width: 60px; left: 20px;}

.footer_list li{margin-bottom: 1rem; display: block}
.footer_list .list a{display: inline-block; padding-left: 0; padding-right: 5px;  -webkit-transition: padding .2s;  -o-transition: padding .2s;  transition: padding .2s;}
.footer_list .list a:hover{padding-left: 5px; padding-right: 0;}

.main_footer .social a{display: -webkit-box;display: -ms-flexbox;display: flex; fill: var(--main); -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 40px; height: 40px; background: #fff; border-radius: 50%}
.main_footer .social a:not(:last-child){margin-right: 5px}
.main_footer .social svg{height: 16px;}
.main_footer .social a:hover{background: var(--gradient); fill: #fff;}

.copyright{background-color: var(--black); font-size: .9rem; line-height: 1.5;}
