/* Flex Grid layout */
.wrapper{width:100%}
.container{margin-left:auto;margin-right:auto;width:100%;padding-left:calc(var(--fix) * 2);padding-right:calc(var(--fix) * 2);max-width: 576px}

@media (min-width:768px){.container{max-width:728px}}
@media (min-width:992px){.container{max-width:952px}}
@media (min-width:1200px){.container{max-width:1160px}}
@media (min-width:1260px){.container{max-width:1220px}}

.row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:calc(var(--fix) * -2);margin-right:calc(var(--fix) * -2)}

.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{position:relative;width:100%;padding:calc(var(--fix) * 2)}

.no-gutters{margin-right:0;margin-left:0}
.no-gutters>.col,.no-gutters>[class*=col-]{padding:0}
.no-gutters-h>.col,.no-gutters-h>[class*=col-]{padding-right:0;padding-left:0}
.no-gutters-v>.col,.no-gutters-v>[class*=col-]{padding-top:0;padding-bottom:0}

.col{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}
.col-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.3333%}
.col-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.6666%}
.col-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
.col-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.3333%}
.col-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
.col-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
.col-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.3333%}
.col-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
.col-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
.col-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.3333%}
.col-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}
.col-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
.col-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}

@media (min-width:576px){.col-sm{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-sm-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.3333%}.col-sm-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.6666%}.col-sm-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-sm-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.3333%}.col-sm-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-sm-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-sm-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.3333%}.col-sm-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-sm-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-sm-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.3333%}.col-sm-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-sm-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.col-sm-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}}
@media (min-width:768px){.col-md{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-md-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.3333%}.col-md-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.6666%}.col-md-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-md-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.3333%}.col-md-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-md-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-md-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.3333%}.col-md-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-md-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-md-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.3333%}.col-md-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-md-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.col-md-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}}
@media (min-width:992px){.col-lg{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-lg-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.3333%}.col-lg-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.6666%}.col-lg-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-lg-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.3333%}.col-lg-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-lg-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-lg-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.3333%}.col-lg-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-lg-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-lg-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.3333%}.col-lg-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-lg-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.col-lg-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}}
@media (min-width:1200px){.col-xl{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-xl-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.3333%}.col-xl-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.6666%}.col-xl-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-xl-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.3333%}.col-xl-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-xl-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-xl-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.3333%}.col-xl-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-xl-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-xl-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.3333%}.col-xl-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-xl-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.col-xl-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}}

/* Paddings */
.p-auto{padding:auto}.p-0{padding:0}.p-1{padding:var(--fix)}.p-2{padding:calc(var(--fix) * 2)}.p-3{padding:calc(var(--fix) * 3)}.p-4{padding:calc(var(--fix) * 4)}.p-5{padding:calc(var(--fix) * 5)}.p-6{padding:calc(var(--fix) * 6)}.p-7{padding:calc(var(--fix) * 7)}.p-8{padding:calc(var(--fix) * 8)}.p-9{padding:calc(var(--fix) * 9)}.p-10{padding:calc(var(--fix) * 10)}.p-11{padding:calc(var(--fix) * 11)}.p-12{padding:calc(var(--fix) * 12)}
.ph-auto{padding-left:auto;padding-right:auto}.ph-0{padding-left:0;padding-right:0}.ph-1{padding-left:var(--fix);padding-right:var(--fix)}.ph-2{padding-left:calc(var(--fix) * 2);padding-right:calc(var(--fix) * 2)}.ph-3{padding-left:calc(var(--fix) * 3);padding-right:calc(var(--fix) * 3)}.ph-4{padding-left:calc(var(--fix) * 4);padding-right:calc(var(--fix) * 4)}.ph-5{padding-left:calc(var(--fix) * 5);padding-right:calc(var(--fix) * 5)}.ph-6{padding-left:calc(var(--fix) * 6);padding-right:calc(var(--fix) * 6)}.ph-7{padding-left:calc(var(--fix) * 7);padding-right:calc(var(--fix) * 7)}.ph-8{padding-left:calc(var(--fix) * 8);padding-right:calc(var(--fix) * 8)}.ph-9{padding-left:calc(var(--fix) * 9);padding-right:calc(var(--fix) * 9)}.ph-10{padding-left:calc(var(--fix) * 10);padding-right:calc(var(--fix) * 10)}.ph-11{padding-left:calc(var(--fix) * 11);padding-right:calc(var(--fix) * 11)}.ph-12{padding-left:calc(var(--fix) * 12);padding-right:calc(var(--fix) * 12)}
.pv-auto{padding-top:auto;padding-bottom:auto}.pv-0{padding-top:0;padding-bottom:0}.pv-1{padding-top:var(--fix);padding-bottom:var(--fix)}.pv-2{padding-top:calc(var(--fix) * 2);padding-bottom:calc(var(--fix) * 2)}.pv-3{padding-top:calc(var(--fix) * 3);padding-bottom:calc(var(--fix) * 3)}.pv-4{padding-top:calc(var(--fix) * 4);padding-bottom:calc(var(--fix) * 4)}.pv-5{padding-top:calc(var(--fix) * 5);padding-bottom:calc(var(--fix) * 5)}.pv-6{padding-top:calc(var(--fix) * 6);padding-bottom:calc(var(--fix) * 6)}.pv-7{padding-top:calc(var(--fix) * 7);padding-bottom:calc(var(--fix) * 7)}.pv-8{padding-top:calc(var(--fix) * 8);padding-bottom:calc(var(--fix) * 8)}.pv-9{padding-top:calc(var(--fix) * 9);padding-bottom:calc(var(--fix) * 9)}.pv-10{padding-top:calc(var(--fix) * 10);padding-bottom:calc(var(--fix) * 10)}.pv-11{padding-top:calc(var(--fix) * 11);padding-bottom:calc(var(--fix) * 11)}.pv-12{padding-top:calc(var(--fix) * 12);padding-bottom:calc(var(--fix) * 12)}
.pl-auto{padding-left:auto}.pl-0{padding-left:0}.pl-1{padding-left:var(--fix)}.pl-2{padding-left:calc(var(--fix) * 2)}.pl-3{padding-left:calc(var(--fix) * 3)}.pl-4{padding-left:calc(var(--fix) * 4)}.pl-5{padding-left:calc(var(--fix) * 5)}.pl-6{padding-left:calc(var(--fix) * 6)}.pl-7{padding-left:calc(var(--fix) * 7)}.pl-8{padding-left:calc(var(--fix) * 8)}.pl-9{padding-left:calc(var(--fix) * 9)}.pl-10{padding-left:calc(var(--fix) * 10)}.pl-11{padding-left:calc(var(--fix) * 11)}.pl-12{padding-left:calc(var(--fix) * 12)}
.pt-auto{padding-top:auto}.pt-0{padding-top:0}.pt-1{padding-top:var(--fix)}.pt-2{padding-top:calc(var(--fix) * 2)}.pt-3{padding-top:calc(var(--fix) * 3)}.pt-4{padding-top:calc(var(--fix) * 4)}.pt-5{padding-top:calc(var(--fix) * 5)}.pt-6{padding-top:calc(var(--fix) * 6)}.pt-7{padding-top:calc(var(--fix) * 7)}.pt-8{padding-top:calc(var(--fix) * 8)}.pt-9{padding-top:calc(var(--fix) * 9)}.pt-10{padding-top:calc(var(--fix) * 10)}.pt-11{padding-top:calc(var(--fix) * 11)}.pt-12{padding-top:calc(var(--fix) * 12)}
.pr-auto{padding-right:auto}.pr-0{padding-right:0}.pr-1{padding-right:var(--fix)}.pr-2{padding-right:calc(var(--fix) * 2)}.pr-3{padding-right:calc(var(--fix) * 3)}.pr-4{padding-right:calc(var(--fix) * 4)}.pr-5{padding-right:calc(var(--fix) * 5)}.pr-6{padding-right:calc(var(--fix) * 6)}.pr-7{padding-right:calc(var(--fix) * 7)}.pr-8{padding-right:calc(var(--fix) * 8)}.pr-9{padding-right:calc(var(--fix) * 9)}.pr-10{padding-right:calc(var(--fix) * 10)}.pr-11{padding-right:calc(var(--fix) * 11)}.pr-12{padding-right:calc(var(--fix) * 12)}
.pb-auto{padding-bottom:auto}.pb-0{padding-bottom:0}.pb-1{padding-bottom:var(--fix)}.pb-2{padding-bottom:calc(var(--fix) * 2)}.pb-3{padding-bottom:calc(var(--fix) * 3)}.pb-4{padding-bottom:calc(var(--fix) * 4)}.pb-5{padding-bottom:calc(var(--fix) * 5)}.pb-6{padding-bottom:calc(var(--fix) * 6)}.pb-7{padding-bottom:calc(var(--fix) * 7)}.pb-8{padding-bottom:calc(var(--fix) * 8)}.pb-9{padding-bottom:calc(var(--fix) * 9)}.pb-10{padding-bottom:calc(var(--fix) * 10)}.pb-11{padding-bottom:calc(var(--fix) * 11)}.pb-12{padding-bottom:calc(var(--fix) * 12)}
@media (min-width:576px){.p-sm-auto{padding:auto}.p-sm-0{padding:0}.p-sm-1{padding:var(--fix)}.p-sm-2{padding:calc(var(--fix) * 2)}.p-sm-3{padding:calc(var(--fix) * 3)}.p-sm-4{padding:calc(var(--fix) * 4)}.p-sm-5{padding:calc(var(--fix) * 5)}.p-sm-6{padding:calc(var(--fix) * 6)}.p-sm-7{padding:calc(var(--fix) * 7)}.p-sm-8{padding:calc(var(--fix) * 8)}.p-sm-9{padding:calc(var(--fix) * 9)}.p-sm-10{padding:calc(var(--fix) * 10)}.p-sm-11{padding:calc(var(--fix) * 11)}.p-sm-12{padding:calc(var(--fix) * 12)}.ph-sm-auto{padding-left:auto;padding-right:auto}.ph-sm-0{padding-left:0;padding-right:0}.ph-sm-1{padding-left:var(--fix);padding-right:var(--fix)}.ph-sm-2{padding-left:calc(var(--fix) * 2);padding-right:calc(var(--fix) * 2)}.ph-sm-3{padding-left:calc(var(--fix) * 3);padding-right:calc(var(--fix) * 3)}.ph-sm-4{padding-left:calc(var(--fix) * 4);padding-right:calc(var(--fix) * 4)}.ph-sm-5{padding-left:calc(var(--fix) * 5);padding-right:calc(var(--fix) * 5)}.ph-sm-6{padding-left:calc(var(--fix) * 6);padding-right:calc(var(--fix) * 6)}.ph-sm-7{padding-left:calc(var(--fix) * 7);padding-right:calc(var(--fix) * 7)}.ph-sm-8{padding-left:calc(var(--fix) * 8);padding-right:calc(var(--fix) * 8)}.ph-sm-9{padding-left:calc(var(--fix) * 9);padding-right:calc(var(--fix) * 9)}.ph-sm-10{padding-left:calc(var(--fix) * 10);padding-right:calc(var(--fix) * 10)}.ph-sm-11{padding-left:calc(var(--fix) * 11);padding-right:calc(var(--fix) * 11)}.ph-sm-12{padding-left:calc(var(--fix) * 12);padding-right:calc(var(--fix) * 12)}.pv-sm-auto{padding-top:auto;padding-bottom:auto}.pv-sm-0{padding-top:0;padding-bottom:0}.pv-sm-1{padding-top:var(--fix);padding-bottom:var(--fix)}.pv-sm-2{padding-top:calc(var(--fix) * 2);padding-bottom:calc(var(--fix) * 2)}.pv-sm-3{padding-top:calc(var(--fix) * 3);padding-bottom:calc(var(--fix) * 3)}.pv-sm-4{padding-top:calc(var(--fix) * 4);padding-bottom:calc(var(--fix) * 4)}.pv-sm-5{padding-top:calc(var(--fix) * 5);padding-bottom:calc(var(--fix) * 5)}.pv-sm-6{padding-top:calc(var(--fix) * 6);padding-bottom:calc(var(--fix) * 6)}.pv-sm-7{padding-top:calc(var(--fix) * 7);padding-bottom:calc(var(--fix) * 7)}.pv-sm-8{padding-top:calc(var(--fix) * 8);padding-bottom:calc(var(--fix) * 8)}.pv-sm-9{padding-top:calc(var(--fix) * 9);padding-bottom:calc(var(--fix) * 9)}.pv-sm-10{padding-top:calc(var(--fix) * 10);padding-bottom:calc(var(--fix) * 10)}.pv-sm-11{padding-top:calc(var(--fix) * 11);padding-bottom:calc(var(--fix) * 11)}.pv-sm-12{padding-top:calc(var(--fix) * 12);padding-bottom:calc(var(--fix) * 12)}.pl-sm-auto{padding-left:auto}.pl-sm-0{padding-left:0}.pl-sm-1{padding-left:var(--fix)}.pl-sm-2{padding-left:calc(var(--fix) * 2)}.pl-sm-3{padding-left:calc(var(--fix) * 3)}.pl-sm-4{padding-left:calc(var(--fix) * 4)}.pl-sm-5{padding-left:calc(var(--fix) * 5)}.pl-sm-6{padding-left:calc(var(--fix) * 6)}.pl-sm-7{padding-left:calc(var(--fix) * 7)}.pl-sm-8{padding-left:calc(var(--fix) * 8)}.pl-sm-9{padding-left:calc(var(--fix) * 9)}.pl-sm-10{padding-left:calc(var(--fix) * 10)}.pl-sm-11{padding-left:calc(var(--fix) * 11)}.pl-sm-12{padding-left:calc(var(--fix) * 12)}.pt-sm-auto{padding-top:auto}.pt-sm-0{padding-top:0}.pt-sm-1{padding-top:var(--fix)}.pt-sm-2{padding-top:calc(var(--fix) * 2)}.pt-sm-3{padding-top:calc(var(--fix) * 3)}.pt-sm-4{padding-top:calc(var(--fix) * 4)}.pt-sm-5{padding-top:calc(var(--fix) * 5)}.pt-sm-6{padding-top:calc(var(--fix) * 6)}.pt-sm-7{padding-top:calc(var(--fix) * 7)}.pt-sm-8{padding-top:calc(var(--fix) * 8)}.pt-sm-9{padding-top:calc(var(--fix) * 9)}.pt-sm-10{padding-top:calc(var(--fix) * 10)}.pt-sm-11{padding-top:calc(var(--fix) * 11)}.pt-sm-12{padding-top:calc(var(--fix) * 12)}.pr-sm-auto{padding-right:auto}.pr-sm-0{padding-right:0}.pr-sm-1{padding-right:var(--fix)}.pr-sm-2{padding-right:calc(var(--fix) * 2)}.pr-sm-3{padding-right:calc(var(--fix) * 3)}.pr-sm-4{padding-right:calc(var(--fix) * 4)}.pr-sm-5{padding-right:calc(var(--fix) * 5)}.pr-sm-6{padding-right:calc(var(--fix) * 6)}.pr-sm-7{padding-right:calc(var(--fix) * 7)}.pr-sm-8{padding-right:calc(var(--fix) * 8)}.pr-sm-9{padding-right:calc(var(--fix) * 9)}.pr-sm-10{padding-right:calc(var(--fix) * 10)}.pr-sm-11{padding-right:calc(var(--fix) * 11)}.pr-sm-12{padding-right:calc(var(--fix) * 12)}.pb-sm-auto{padding-bottom:auto}.pb-sm-0{padding-bottom:0}.pb-sm-1{padding-bottom:var(--fix)}.pb-sm-2{padding-bottom:calc(var(--fix) * 2)}.pb-sm-3{padding-bottom:calc(var(--fix) * 3)}.pb-sm-4{padding-bottom:calc(var(--fix) * 4)}.pb-sm-5{padding-bottom:calc(var(--fix) * 5)}.pb-sm-6{padding-bottom:calc(var(--fix) * 6)}.pb-sm-7{padding-bottom:calc(var(--fix) * 7)}.pb-sm-8{padding-bottom:calc(var(--fix) * 8)}.pb-sm-9{padding-bottom:calc(var(--fix) * 9)}.pb-sm-10{padding-bottom:calc(var(--fix) * 10)}.pb-sm-11{padding-bottom:calc(var(--fix) * 11)}.pb-sm-12{padding-bottom:calc(var(--fix) * 12)}}
@media (min-width:768px){.p-md-auto{padding:auto}.p-md-0{padding:0}.p-md-1{padding:var(--fix)}.p-md-2{padding:calc(var(--fix) * 2)}.p-md-3{padding:calc(var(--fix) * 3)}.p-md-4{padding:calc(var(--fix) * 4)}.p-md-5{padding:calc(var(--fix) * 5)}.p-md-6{padding:calc(var(--fix) * 6)}.p-md-7{padding:calc(var(--fix) * 7)}.p-md-8{padding:calc(var(--fix) * 8)}.p-md-9{padding:calc(var(--fix) * 9)}.p-md-10{padding:calc(var(--fix) * 10)}.p-md-11{padding:calc(var(--fix) * 11)}.p-md-12{padding:calc(var(--fix) * 12)}.ph-md-auto{padding-left:auto;padding-right:auto}.ph-md-0{padding-left:0;padding-right:0}.ph-md-1{padding-left:var(--fix);padding-right:var(--fix)}.ph-md-2{padding-left:calc(var(--fix) * 2);padding-right:calc(var(--fix) * 2)}.ph-md-3{padding-left:calc(var(--fix) * 3);padding-right:calc(var(--fix) * 3)}.ph-md-4{padding-left:calc(var(--fix) * 4);padding-right:calc(var(--fix) * 4)}.ph-md-5{padding-left:calc(var(--fix) * 5);padding-right:calc(var(--fix) * 5)}.ph-md-6{padding-left:calc(var(--fix) * 6);padding-right:calc(var(--fix) * 6)}.ph-md-7{padding-left:calc(var(--fix) * 7);padding-right:calc(var(--fix) * 7)}.ph-md-8{padding-left:calc(var(--fix) * 8);padding-right:calc(var(--fix) * 8)}.ph-md-9{padding-left:calc(var(--fix) * 9);padding-right:calc(var(--fix) * 9)}.ph-md-10{padding-left:calc(var(--fix) * 10);padding-right:calc(var(--fix) * 10)}.ph-md-11{padding-left:calc(var(--fix) * 11);padding-right:calc(var(--fix) * 11)}.ph-md-12{padding-left:calc(var(--fix) * 12);padding-right:calc(var(--fix) * 12)}.pv-md-auto{padding-top:auto;padding-bottom:auto}.pv-md-0{padding-top:0;padding-bottom:0}.pv-md-1{padding-top:var(--fix);padding-bottom:var(--fix)}.pv-md-2{padding-top:calc(var(--fix) * 2);padding-bottom:calc(var(--fix) * 2)}.pv-md-3{padding-top:calc(var(--fix) * 3);padding-bottom:calc(var(--fix) * 3)}.pv-md-4{padding-top:calc(var(--fix) * 4);padding-bottom:calc(var(--fix) * 4)}.pv-md-5{padding-top:calc(var(--fix) * 5);padding-bottom:calc(var(--fix) * 5)}.pv-md-6{padding-top:calc(var(--fix) * 6);padding-bottom:calc(var(--fix) * 6)}.pv-md-7{padding-top:calc(var(--fix) * 7);padding-bottom:calc(var(--fix) * 7)}.pv-md-8{padding-top:calc(var(--fix) * 8);padding-bottom:calc(var(--fix) * 8)}.pv-md-9{padding-top:calc(var(--fix) * 9);padding-bottom:calc(var(--fix) * 9)}.pv-md-10{padding-top:calc(var(--fix) * 10);padding-bottom:calc(var(--fix) * 10)}.pv-md-11{padding-top:calc(var(--fix) * 11);padding-bottom:calc(var(--fix) * 11)}.pv-md-12{padding-top:calc(var(--fix) * 12);padding-bottom:calc(var(--fix) * 12)}.pl-md-auto{padding-left:auto}.pl-md-0{padding-left:0}.pl-md-1{padding-left:var(--fix)}.pl-md-2{padding-left:calc(var(--fix) * 2)}.pl-md-3{padding-left:calc(var(--fix) * 3)}.pl-md-4{padding-left:calc(var(--fix) * 4)}.pl-md-5{padding-left:calc(var(--fix) * 5)}.pl-md-6{padding-left:calc(var(--fix) * 6)}.pl-md-7{padding-left:calc(var(--fix) * 7)}.pl-md-8{padding-left:calc(var(--fix) * 8)}.pl-md-9{padding-left:calc(var(--fix) * 9)}.pl-md-10{padding-left:calc(var(--fix) * 10)}.pl-md-11{padding-left:calc(var(--fix) * 11)}.pl-md-12{padding-left:calc(var(--fix) * 12)}.pt-md-auto{padding-top:auto}.pt-md-0{padding-top:0}.pt-md-1{padding-top:var(--fix)}.pt-md-2{padding-top:calc(var(--fix) * 2)}.pt-md-3{padding-top:calc(var(--fix) * 3)}.pt-md-4{padding-top:calc(var(--fix) * 4)}.pt-md-5{padding-top:calc(var(--fix) * 5)}.pt-md-6{padding-top:calc(var(--fix) * 6)}.pt-md-7{padding-top:calc(var(--fix) * 7)}.pt-md-8{padding-top:calc(var(--fix) * 8)}.pt-md-9{padding-top:calc(var(--fix) * 9)}.pt-md-10{padding-top:calc(var(--fix) * 10)}.pt-md-11{padding-top:calc(var(--fix) * 11)}.pt-md-12{padding-top:calc(var(--fix) * 12)}.pr-md-auto{padding-right:auto}.pr-md-0{padding-right:0}.pr-md-1{padding-right:var(--fix)}.pr-md-2{padding-right:calc(var(--fix) * 2)}.pr-md-3{padding-right:calc(var(--fix) * 3)}.pr-md-4{padding-right:calc(var(--fix) * 4)}.pr-md-5{padding-right:calc(var(--fix) * 5)}.pr-md-6{padding-right:calc(var(--fix) * 6)}.pr-md-7{padding-right:calc(var(--fix) * 7)}.pr-md-8{padding-right:calc(var(--fix) * 8)}.pr-md-9{padding-right:calc(var(--fix) * 9)}.pr-md-10{padding-right:calc(var(--fix) * 10)}.pr-md-11{padding-right:calc(var(--fix) * 11)}.pr-md-12{padding-right:calc(var(--fix) * 12)}.pb-md-auto{padding-bottom:auto}.pb-md-0{padding-bottom:0}.pb-md-1{padding-bottom:var(--fix)}.pb-md-2{padding-bottom:calc(var(--fix) * 2)}.pb-md-3{padding-bottom:calc(var(--fix) * 3)}.pb-md-4{padding-bottom:calc(var(--fix) * 4)}.pb-md-5{padding-bottom:calc(var(--fix) * 5)}.pb-md-6{padding-bottom:calc(var(--fix) * 6)}.pb-md-7{padding-bottom:calc(var(--fix) * 7)}.pb-md-8{padding-bottom:calc(var(--fix) * 8)}.pb-md-9{padding-bottom:calc(var(--fix) * 9)}.pb-md-10{padding-bottom:calc(var(--fix) * 10)}.pb-md-11{padding-bottom:calc(var(--fix) * 11)}.pb-md-12{padding-bottom:calc(var(--fix) * 12)}}
@media (min-width:992px){.p-lg-auto{padding:auto}.p-lg-0{padding:0}.p-lg-1{padding:var(--fix)}.p-lg-2{padding:calc(var(--fix) * 2)}.p-lg-3{padding:calc(var(--fix) * 3)}.p-lg-4{padding:calc(var(--fix) * 4)}.p-lg-5{padding:calc(var(--fix) * 5)}.p-lg-6{padding:calc(var(--fix) * 6)}.p-lg-7{padding:calc(var(--fix) * 7)}.p-lg-8{padding:calc(var(--fix) * 8)}.p-lg-9{padding:calc(var(--fix) * 9)}.p-lg-10{padding:calc(var(--fix) * 10)}.p-lg-11{padding:calc(var(--fix) * 11)}.p-lg-12{padding:calc(var(--fix) * 12)}.ph-lg-auto{padding-left:auto;padding-right:auto}.ph-lg-0{padding-left:0;padding-right:0}.ph-lg-1{padding-left:var(--fix);padding-right:var(--fix)}.ph-lg-2{padding-left:calc(var(--fix) * 2);padding-right:calc(var(--fix) * 2)}.ph-lg-3{padding-left:calc(var(--fix) * 3);padding-right:calc(var(--fix) * 3)}.ph-lg-4{padding-left:calc(var(--fix) * 4);padding-right:calc(var(--fix) * 4)}.ph-lg-5{padding-left:calc(var(--fix) * 5);padding-right:calc(var(--fix) * 5)}.ph-lg-6{padding-left:calc(var(--fix) * 6);padding-right:calc(var(--fix) * 6)}.ph-lg-7{padding-left:calc(var(--fix) * 7);padding-right:calc(var(--fix) * 7)}.ph-lg-8{padding-left:calc(var(--fix) * 8);padding-right:calc(var(--fix) * 8)}.ph-lg-9{padding-left:calc(var(--fix) * 9);padding-right:calc(var(--fix) * 9)}.ph-lg-10{padding-left:calc(var(--fix) * 10);padding-right:calc(var(--fix) * 10)}.ph-lg-11{padding-left:calc(var(--fix) * 11);padding-right:calc(var(--fix) * 11)}.ph-lg-12{padding-left:calc(var(--fix) * 12);padding-right:calc(var(--fix) * 12)}.pv-lg-auto{padding-top:auto;padding-bottom:auto}.pv-lg-0{padding-top:0;padding-bottom:0}.pv-lg-1{padding-top:var(--fix);padding-bottom:var(--fix)}.pv-lg-2{padding-top:calc(var(--fix) * 2);padding-bottom:calc(var(--fix) * 2)}.pv-lg-3{padding-top:calc(var(--fix) * 3);padding-bottom:calc(var(--fix) * 3)}.pv-lg-4{padding-top:calc(var(--fix) * 4);padding-bottom:calc(var(--fix) * 4)}.pv-lg-5{padding-top:calc(var(--fix) * 5);padding-bottom:calc(var(--fix) * 5)}.pv-lg-6{padding-top:calc(var(--fix) * 6);padding-bottom:calc(var(--fix) * 6)}.pv-lg-7{padding-top:calc(var(--fix) * 7);padding-bottom:calc(var(--fix) * 7)}.pv-lg-8{padding-top:calc(var(--fix) * 8);padding-bottom:calc(var(--fix) * 8)}.pv-lg-9{padding-top:calc(var(--fix) * 9);padding-bottom:calc(var(--fix) * 9)}.pv-lg-10{padding-top:calc(var(--fix) * 10);padding-bottom:calc(var(--fix) * 10)}.pv-lg-11{padding-top:calc(var(--fix) * 11);padding-bottom:calc(var(--fix) * 11)}.pv-lg-12{padding-top:calc(var(--fix) * 12);padding-bottom:calc(var(--fix) * 12)}.pl-lg-auto{padding-left:auto}.pl-lg-0{padding-left:0}.pl-lg-1{padding-left:var(--fix)}.pl-lg-2{padding-left:calc(var(--fix) * 2)}.pl-lg-3{padding-left:calc(var(--fix) * 3)}.pl-lg-4{padding-left:calc(var(--fix) * 4)}.pl-lg-5{padding-left:calc(var(--fix) * 5)}.pl-lg-6{padding-left:calc(var(--fix) * 6)}.pl-lg-7{padding-left:calc(var(--fix) * 7)}.pl-lg-8{padding-left:calc(var(--fix) * 8)}.pl-lg-9{padding-left:calc(var(--fix) * 9)}.pl-lg-10{padding-left:calc(var(--fix) * 10)}.pl-lg-11{padding-left:calc(var(--fix) * 11)}.pl-lg-12{padding-left:calc(var(--fix) * 12)}.pt-lg-auto{padding-top:auto}.pt-lg-0{padding-top:0}.pt-lg-1{padding-top:var(--fix)}.pt-lg-2{padding-top:calc(var(--fix) * 2)}.pt-lg-3{padding-top:calc(var(--fix) * 3)}.pt-lg-4{padding-top:calc(var(--fix) * 4)}.pt-lg-5{padding-top:calc(var(--fix) * 5)}.pt-lg-6{padding-top:calc(var(--fix) * 6)}.pt-lg-7{padding-top:calc(var(--fix) * 7)}.pt-lg-8{padding-top:calc(var(--fix) * 8)}.pt-lg-9{padding-top:calc(var(--fix) * 9)}.pt-lg-10{padding-top:calc(var(--fix) * 10)}.pt-lg-11{padding-top:calc(var(--fix) * 11)}.pt-lg-12{padding-top:calc(var(--fix) * 12)}.pr-lg-auto{padding-right:auto}.pr-lg-0{padding-right:0}.pr-lg-1{padding-right:var(--fix)}.pr-lg-2{padding-right:calc(var(--fix) * 2)}.pr-lg-3{padding-right:calc(var(--fix) * 3)}.pr-lg-4{padding-right:calc(var(--fix) * 4)}.pr-lg-5{padding-right:calc(var(--fix) * 5)}.pr-lg-6{padding-right:calc(var(--fix) * 6)}.pr-lg-7{padding-right:calc(var(--fix) * 7)}.pr-lg-8{padding-right:calc(var(--fix) * 8)}.pr-lg-9{padding-right:calc(var(--fix) * 9)}.pr-lg-10{padding-right:calc(var(--fix) * 10)}.pr-lg-11{padding-right:calc(var(--fix) * 11)}.pr-lg-12{padding-right:calc(var(--fix) * 12)}.pb-lg-auto{padding-bottom:auto}.pb-lg-0{padding-bottom:0}.pb-lg-1{padding-bottom:var(--fix)}.pb-lg-2{padding-bottom:calc(var(--fix) * 2)}.pb-lg-3{padding-bottom:calc(var(--fix) * 3)}.pb-lg-4{padding-bottom:calc(var(--fix) * 4)}.pb-lg-5{padding-bottom:calc(var(--fix) * 5)}.pb-lg-6{padding-bottom:calc(var(--fix) * 6)}.pb-lg-7{padding-bottom:calc(var(--fix) * 7)}.pb-lg-8{padding-bottom:calc(var(--fix) * 8)}.pb-lg-9{padding-bottom:calc(var(--fix) * 9)}.pb-lg-10{padding-bottom:calc(var(--fix) * 10)}.pb-lg-11{padding-bottom:calc(var(--fix) * 11)}.pb-lg-12{padding-bottom:calc(var(--fix) * 12)}}
@media (min-width:1200px){.p-xl-auto{padding:auto}.p-xl-0{padding:0}.p-xl-1{padding:var(--fix)}.p-xl-2{padding:calc(var(--fix) * 2)}.p-xl-3{padding:calc(var(--fix) * 3)}.p-xl-4{padding:calc(var(--fix) * 4)}.p-xl-5{padding:calc(var(--fix) * 5)}.p-xl-6{padding:calc(var(--fix) * 6)}.p-xl-7{padding:calc(var(--fix) * 7)}.p-xl-8{padding:calc(var(--fix) * 8)}.p-xl-9{padding:calc(var(--fix) * 9)}.p-xl-10{padding:calc(var(--fix) * 10)}.p-xl-11{padding:calc(var(--fix) * 11)}.p-xl-12{padding:calc(var(--fix) * 12)}.ph-xl-auto{padding-left:auto;padding-right:auto}.ph-xl-0{padding-left:0;padding-right:0}.ph-xl-1{padding-left:var(--fix);padding-right:var(--fix)}.ph-xl-2{padding-left:calc(var(--fix) * 2);padding-right:calc(var(--fix) * 2)}.ph-xl-3{padding-left:calc(var(--fix) * 3);padding-right:calc(var(--fix) * 3)}.ph-xl-4{padding-left:calc(var(--fix) * 4);padding-right:calc(var(--fix) * 4)}.ph-xl-5{padding-left:calc(var(--fix) * 5);padding-right:calc(var(--fix) * 5)}.ph-xl-6{padding-left:calc(var(--fix) * 6);padding-right:calc(var(--fix) * 6)}.ph-xl-7{padding-left:calc(var(--fix) * 7);padding-right:calc(var(--fix) * 7)}.ph-xl-8{padding-left:calc(var(--fix) * 8);padding-right:calc(var(--fix) * 8)}.ph-xl-9{padding-left:calc(var(--fix) * 9);padding-right:calc(var(--fix) * 9)}.ph-xl-10{padding-left:calc(var(--fix) * 10);padding-right:calc(var(--fix) * 10)}.ph-xl-11{padding-left:calc(var(--fix) * 11);padding-right:calc(var(--fix) * 11)}.ph-xl-12{padding-left:calc(var(--fix) * 12);padding-right:calc(var(--fix) * 12)}.pv-xl-auto{padding-top:auto;padding-bottom:auto}.pv-xl-0{padding-top:0;padding-bottom:0}.pv-xl-1{padding-top:var(--fix);padding-bottom:var(--fix)}.pv-xl-2{padding-top:calc(var(--fix) * 2);padding-bottom:calc(var(--fix) * 2)}.pv-xl-3{padding-top:calc(var(--fix) * 3);padding-bottom:calc(var(--fix) * 3)}.pv-xl-4{padding-top:calc(var(--fix) * 4);padding-bottom:calc(var(--fix) * 4)}.pv-xl-5{padding-top:calc(var(--fix) * 5);padding-bottom:calc(var(--fix) * 5)}.pv-xl-6{padding-top:calc(var(--fix) * 6);padding-bottom:calc(var(--fix) * 6)}.pv-xl-7{padding-top:calc(var(--fix) * 7);padding-bottom:calc(var(--fix) * 7)}.pv-xl-8{padding-top:calc(var(--fix) * 8);padding-bottom:calc(var(--fix) * 8)}.pv-xl-9{padding-top:calc(var(--fix) * 9);padding-bottom:calc(var(--fix) * 9)}.pv-xl-10{padding-top:calc(var(--fix) * 10);padding-bottom:calc(var(--fix) * 10)}.pv-xl-11{padding-top:calc(var(--fix) * 11);padding-bottom:calc(var(--fix) * 11)}.pv-xl-12{padding-top:calc(var(--fix) * 12);padding-bottom:calc(var(--fix) * 12)}.pl-xl-auto{padding-left:auto}.pl-xl-0{padding-left:0}.pl-xl-1{padding-left:var(--fix)}.pl-xl-2{padding-left:calc(var(--fix) * 2)}.pl-xl-3{padding-left:calc(var(--fix) * 3)}.pl-xl-4{padding-left:calc(var(--fix) * 4)}.pl-xl-5{padding-left:calc(var(--fix) * 5)}.pl-xl-6{padding-left:calc(var(--fix) * 6)}.pl-xl-7{padding-left:calc(var(--fix) * 7)}.pl-xl-8{padding-left:calc(var(--fix) * 8)}.pl-xl-9{padding-left:calc(var(--fix) * 9)}.pl-xl-10{padding-left:calc(var(--fix) * 10)}.pl-xl-11{padding-left:calc(var(--fix) * 11)}.pl-xl-12{padding-left:calc(var(--fix) * 12)}.pt-xl-auto{padding-top:auto}.pt-xl-0{padding-top:0}.pt-xl-1{padding-top:var(--fix)}.pt-xl-2{padding-top:calc(var(--fix) * 2)}.pt-xl-3{padding-top:calc(var(--fix) * 3)}.pt-xl-4{padding-top:calc(var(--fix) * 4)}.pt-xl-5{padding-top:calc(var(--fix) * 5)}.pt-xl-6{padding-top:calc(var(--fix) * 6)}.pt-xl-7{padding-top:calc(var(--fix) * 7)}.pt-xl-8{padding-top:calc(var(--fix) * 8)}.pt-xl-9{padding-top:calc(var(--fix) * 9)}.pt-xl-10{padding-top:calc(var(--fix) * 10)}.pt-xl-11{padding-top:calc(var(--fix) * 11)}.pt-xl-12{padding-top:calc(var(--fix) * 12)}.pr-xl-auto{padding-right:auto}.pr-xl-0{padding-right:0}.pr-xl-1{padding-right:var(--fix)}.pr-xl-2{padding-right:calc(var(--fix) * 2)}.pr-xl-3{padding-right:calc(var(--fix) * 3)}.pr-xl-4{padding-right:calc(var(--fix) * 4)}.pr-xl-5{padding-right:calc(var(--fix) * 5)}.pr-xl-6{padding-right:calc(var(--fix) * 6)}.pr-xl-7{padding-right:calc(var(--fix) * 7)}.pr-xl-8{padding-right:calc(var(--fix) * 8)}.pr-xl-9{padding-right:calc(var(--fix) * 9)}.pr-xl-10{padding-right:calc(var(--fix) * 10)}.pr-xl-11{padding-right:calc(var(--fix) * 11)}.pr-xl-12{padding-right:calc(var(--fix) * 12)}.pb-xl-auto{padding-bottom:auto}.pb-xl-0{padding-bottom:0}.pb-xl-1{padding-bottom:var(--fix)}.pb-xl-2{padding-bottom:calc(var(--fix) * 2)}.pb-xl-3{padding-bottom:calc(var(--fix) * 3)}.pb-xl-4{padding-bottom:calc(var(--fix) * 4)}.pb-xl-5{padding-bottom:calc(var(--fix) * 5)}.pb-xl-6{padding-bottom:calc(var(--fix) * 6)}.pb-xl-7{padding-bottom:calc(var(--fix) * 7)}.pb-xl-8{padding-bottom:calc(var(--fix) * 8)}.pb-xl-9{padding-bottom:calc(var(--fix) * 9)}.pb-xl-10{padding-bottom:calc(var(--fix) * 10)}.pb-xl-11{padding-bottom:calc(var(--fix) * 11)}.pb-xl-12{padding-bottom:calc(var(--fix) * 12)}}

/* Margin */
.m-auto{margin:auto}.m-0{margin:0}.m-1{margin:var(--fix)}.m-2{margin:calc(var(--fix) * 2)}.m-3{margin:calc(var(--fix) * 3)}.m-4{margin:calc(var(--fix) * 4)}.m-5{margin:calc(var(--fix) * 5)}.m-6{margin:calc(var(--fix) * 6)}.m-7{margin:calc(var(--fix) * 7)}.m-8{margin:calc(var(--fix) * 8)}.m-9{margin:calc(var(--fix) * 9)}.m-10{margin:calc(var(--fix) * 10)}.m-11{margin:calc(var(--fix) * 11)}.m-12{margin:calc(var(--fix) * 12)}
.mh-auto{margin-left:auto;margin-right:auto}.mh-0{margin-left:0;margin-right:0}.mh-1{margin-left:var(--fix);margin-right:var(--fix)}.mh-2{margin-left:calc(var(--fix) * 2);margin-right:calc(var(--fix) * 2)}.mh-3{margin-left:calc(var(--fix) * 3);margin-right:calc(var(--fix) * 3)}.mh-4{margin-left:calc(var(--fix) * 4);margin-right:calc(var(--fix) * 4)}.mh-5{margin-left:calc(var(--fix) * 5);margin-right:calc(var(--fix) * 5)}.mh-6{margin-left:calc(var(--fix) * 6);margin-right:calc(var(--fix) * 6)}.mh-7{margin-left:calc(var(--fix) * 7);margin-right:calc(var(--fix) * 7)}.mh-8{margin-left:calc(var(--fix) * 8);margin-right:calc(var(--fix) * 8)}.mh-9{margin-left:calc(var(--fix) * 9);margin-right:calc(var(--fix) * 9)}.mh-10{margin-left:calc(var(--fix) * 10);margin-right:calc(var(--fix) * 10)}.mh-11{margin-left:calc(var(--fix) * 11);margin-right:calc(var(--fix) * 11)}.mh-12{margin-left:calc(var(--fix) * 12);margin-right:calc(var(--fix) * 12)}
.mv-auto{margin-top:auto;margin-bottom:auto}.mv-0{margin-top:0;margin-bottom:0}.mv-1{margin-top:var(--fix);margin-bottom:var(--fix)}.mv-2{margin-top:calc(var(--fix) * 2);margin-bottom:calc(var(--fix) * 2)}.mv-3{margin-top:calc(var(--fix) * 3);margin-bottom:calc(var(--fix) * 3)}.mv-4{margin-top:calc(var(--fix) * 4);margin-bottom:calc(var(--fix) * 4)}.mv-5{margin-top:calc(var(--fix) * 5);margin-bottom:calc(var(--fix) * 5)}.mv-6{margin-top:calc(var(--fix) * 6);margin-bottom:calc(var(--fix) * 6)}.mv-7{margin-top:calc(var(--fix) * 7);margin-bottom:calc(var(--fix) * 7)}.mv-8{margin-top:calc(var(--fix) * 8);margin-bottom:calc(var(--fix) * 8)}.mv-9{margin-top:calc(var(--fix) * 9);margin-bottom:calc(var(--fix) * 9)}.mv-10{margin-top:calc(var(--fix) * 10);margin-bottom:calc(var(--fix) * 10)}.mv-11{margin-top:calc(var(--fix) * 11);margin-bottom:calc(var(--fix) * 11)}.mv-12{margin-top:calc(var(--fix) * 12);margin-bottom:calc(var(--fix) * 12)}
.ml-auto{margin-left:auto}.ml-0{margin-left:0}.ml-1{margin-left:var(--fix)}.ml-2{margin-left:calc(var(--fix) * 2)}.ml-3{margin-left:calc(var(--fix) * 3)}.ml-4{margin-left:calc(var(--fix) * 4)}.ml-5{margin-left:calc(var(--fix) * 5)}.ml-6{margin-left:calc(var(--fix) * 6)}.ml-7{margin-left:calc(var(--fix) * 7)}.ml-8{margin-left:calc(var(--fix) * 8)}.ml-9{margin-left:calc(var(--fix) * 9)}.ml-10{margin-left:calc(var(--fix) * 10)}.ml-11{margin-left:calc(var(--fix) * 11)}.ml-12{margin-left:calc(var(--fix) * 12)}
.mt-auto{margin-top:auto}.mt-0{margin-top:0}.mt-1{margin-top:var(--fix)}.mt-2{margin-top:calc(var(--fix) * 2)}.mt-3{margin-top:calc(var(--fix) * 3)}.mt-4{margin-top:calc(var(--fix) * 4)}.mt-5{margin-top:calc(var(--fix) * 5)}.mt-6{margin-top:calc(var(--fix) * 6)}.mt-7{margin-top:calc(var(--fix) * 7)}.mt-8{margin-top:calc(var(--fix) * 8)}.mt-9{margin-top:calc(var(--fix) * 9)}.mt-10{margin-top:calc(var(--fix) * 10)}.mt-11{margin-top:calc(var(--fix) * 11)}.mt-12{margin-top:calc(var(--fix) * 12)}
.mr-auto{margin-right:auto}.mr-0{margin-right:0}.mr-1{margin-right:var(--fix)}.mr-2{margin-right:calc(var(--fix) * 2)}.mr-3{margin-right:calc(var(--fix) * 3)}.mr-4{margin-right:calc(var(--fix) * 4)}.mr-5{margin-right:calc(var(--fix) * 5)}.mr-6{margin-right:calc(var(--fix) * 6)}.mr-7{margin-right:calc(var(--fix) * 7)}.mr-8{margin-right:calc(var(--fix) * 8)}.mr-9{margin-right:calc(var(--fix) * 9)}.mr-10{margin-right:calc(var(--fix) * 10)}.mr-11{margin-right:calc(var(--fix) * 11)}.mr-12{margin-right:calc(var(--fix) * 12)}
.mb-auto{margin-bottom:auto}.mb-0{margin-bottom:0}.mb-1{margin-bottom:var(--fix)}.mb-2{margin-bottom:calc(var(--fix) * 2)}.mb-3{margin-bottom:calc(var(--fix) * 3)}.mb-4{margin-bottom:calc(var(--fix) * 4)}.mb-5{margin-bottom:calc(var(--fix) * 5)}.mb-6{margin-bottom:calc(var(--fix) * 6)}.mb-7{margin-bottom:calc(var(--fix) * 7)}.mb-8{margin-bottom:calc(var(--fix) * 8)}.mb-9{margin-bottom:calc(var(--fix) * 9)}.mb-10{margin-bottom:calc(var(--fix) * 10)}.mb-11{margin-bottom:calc(var(--fix) * 11)}.mb-12{margin-bottom:calc(var(--fix) * 12)}
@media (min-width:576px){.m-sm-auto{margin:auto}.m-sm-0{margin:0}.m-sm-1{margin:var(--fix)}.m-sm-2{margin:calc(var(--fix) * 2)}.m-sm-3{margin:calc(var(--fix) * 3)}.m-sm-4{margin:calc(var(--fix) * 4)}.m-sm-5{margin:calc(var(--fix) * 5)}.m-sm-6{margin:calc(var(--fix) * 6)}.m-sm-7{margin:calc(var(--fix) * 7)}.m-sm-8{margin:calc(var(--fix) * 8)}.m-sm-9{margin:calc(var(--fix) * 9)}.m-sm-10{margin:calc(var(--fix) * 10)}.m-sm-11{margin:calc(var(--fix) * 11)}.m-sm-12{margin:calc(var(--fix) * 12)}.mh-sm-auto{margin-left:auto;margin-right:auto}.mh-sm-0{margin-left:0;margin-right:0}.mh-sm-1{margin-left:var(--fix);margin-right:var(--fix)}.mh-sm-2{margin-left:calc(var(--fix) * 2);margin-right:calc(var(--fix) * 2)}.mh-sm-3{margin-left:calc(var(--fix) * 3);margin-right:calc(var(--fix) * 3)}.mh-sm-4{margin-left:calc(var(--fix) * 4);margin-right:calc(var(--fix) * 4)}.mh-sm-5{margin-left:calc(var(--fix) * 5);margin-right:calc(var(--fix) * 5)}.mh-sm-6{margin-left:calc(var(--fix) * 6);margin-right:calc(var(--fix) * 6)}.mh-sm-7{margin-left:calc(var(--fix) * 7);margin-right:calc(var(--fix) * 7)}.mh-sm-8{margin-left:calc(var(--fix) * 8);margin-right:calc(var(--fix) * 8)}.mh-sm-9{margin-left:calc(var(--fix) * 9);margin-right:calc(var(--fix) * 9)}.mh-sm-10{margin-left:calc(var(--fix) * 10);margin-right:calc(var(--fix) * 10)}.mh-sm-11{margin-left:calc(var(--fix) * 11);margin-right:calc(var(--fix) * 11)}.mh-sm-12{margin-left:calc(var(--fix) * 12);margin-right:calc(var(--fix) * 12)}.mv-sm-auto{margin-top:auto;margin-bottom:auto}.mv-sm-0{margin-top:0;margin-bottom:0}.mv-sm-1{margin-top:var(--fix);margin-bottom:var(--fix)}.mv-sm-2{margin-top:calc(var(--fix) * 2);margin-bottom:calc(var(--fix) * 2)}.mv-sm-3{margin-top:calc(var(--fix) * 3);margin-bottom:calc(var(--fix) * 3)}.mv-sm-4{margin-top:calc(var(--fix) * 4);margin-bottom:calc(var(--fix) * 4)}.mv-sm-5{margin-top:calc(var(--fix) * 5);margin-bottom:calc(var(--fix) * 5)}.mv-sm-6{margin-top:calc(var(--fix) * 6);margin-bottom:calc(var(--fix) * 6)}.mv-sm-7{margin-top:calc(var(--fix) * 7);margin-bottom:calc(var(--fix) * 7)}.mv-sm-8{margin-top:calc(var(--fix) * 8);margin-bottom:calc(var(--fix) * 8)}.mv-sm-9{margin-top:calc(var(--fix) * 9);margin-bottom:calc(var(--fix) * 9)}.mv-sm-10{margin-top:calc(var(--fix) * 10);margin-bottom:calc(var(--fix) * 10)}.mv-sm-11{margin-top:calc(var(--fix) * 11);margin-bottom:calc(var(--fix) * 11)}.mv-sm-12{margin-top:calc(var(--fix) * 12);margin-bottom:calc(var(--fix) * 12)}.ml-sm-auto{margin-left:auto}.ml-sm-0{margin-left:0}.ml-sm-1{margin-left:var(--fix)}.ml-sm-2{margin-left:calc(var(--fix) * 2)}.ml-sm-3{margin-left:calc(var(--fix) * 3)}.ml-sm-4{margin-left:calc(var(--fix) * 4)}.ml-sm-5{margin-left:calc(var(--fix) * 5)}.ml-sm-6{margin-left:calc(var(--fix) * 6)}.ml-sm-7{margin-left:calc(var(--fix) * 7)}.ml-sm-8{margin-left:calc(var(--fix) * 8)}.ml-sm-9{margin-left:calc(var(--fix) * 9)}.ml-sm-10{margin-left:calc(var(--fix) * 10)}.ml-sm-11{margin-left:calc(var(--fix) * 11)}.ml-sm-12{margin-left:calc(var(--fix) * 12)}.mt-sm-auto{margin-top:auto}.mt-sm-0{margin-top:0}.mt-sm-1{margin-top:var(--fix)}.mt-sm-2{margin-top:calc(var(--fix) * 2)}.mt-sm-3{margin-top:calc(var(--fix) * 3)}.mt-sm-4{margin-top:calc(var(--fix) * 4)}.mt-sm-5{margin-top:calc(var(--fix) * 5)}.mt-sm-6{margin-top:calc(var(--fix) * 6)}.mt-sm-7{margin-top:calc(var(--fix) * 7)}.mt-sm-8{margin-top:calc(var(--fix) * 8)}.mt-sm-9{margin-top:calc(var(--fix) * 9)}.mt-sm-10{margin-top:calc(var(--fix) * 10)}.mt-sm-11{margin-top:calc(var(--fix) * 11)}.mt-sm-12{margin-top:calc(var(--fix) * 12)}.mr-sm-auto{margin-right:auto}.mr-sm-0{margin-right:0}.mr-sm-1{margin-right:var(--fix)}.mr-sm-2{margin-right:calc(var(--fix) * 2)}.mr-sm-3{margin-right:calc(var(--fix) * 3)}.mr-sm-4{margin-right:calc(var(--fix) * 4)}.mr-sm-5{margin-right:calc(var(--fix) * 5)}.mr-sm-6{margin-right:calc(var(--fix) * 6)}.mr-sm-7{margin-right:calc(var(--fix) * 7)}.mr-sm-8{margin-right:calc(var(--fix) * 8)}.mr-sm-9{margin-right:calc(var(--fix) * 9)}.mr-sm-10{margin-right:calc(var(--fix) * 10)}.mr-sm-11{margin-right:calc(var(--fix) * 11)}.mr-sm-12{margin-right:calc(var(--fix) * 12)}.mb-sm-auto{margin-bottom:auto}.mb-sm-0{margin-bottom:0}.mb-sm-1{margin-bottom:var(--fix)}.mb-sm-2{margin-bottom:calc(var(--fix) * 2)}.mb-sm-3{margin-bottom:calc(var(--fix) * 3)}.mb-sm-4{margin-bottom:calc(var(--fix) * 4)}.mb-sm-5{margin-bottom:calc(var(--fix) * 5)}.mb-sm-6{margin-bottom:calc(var(--fix) * 6)}.mb-sm-7{margin-bottom:calc(var(--fix) * 7)}.mb-sm-8{margin-bottom:calc(var(--fix) * 8)}.mb-sm-9{margin-bottom:calc(var(--fix) * 9)}.mb-sm-10{margin-bottom:calc(var(--fix) * 10)}.mb-sm-11{margin-bottom:calc(var(--fix) * 11)}.mb-sm-12{margin-bottom:calc(var(--fix) * 12)}}
@media (min-width:768px){.m-md-auto{margin:auto}.m-md-0{margin:0}.m-md-1{margin:var(--fix)}.m-md-2{margin:calc(var(--fix) * 2)}.m-md-3{margin:calc(var(--fix) * 3)}.m-md-4{margin:calc(var(--fix) * 4)}.m-md-5{margin:calc(var(--fix) * 5)}.m-md-6{margin:calc(var(--fix) * 6)}.m-md-7{margin:calc(var(--fix) * 7)}.m-md-8{margin:calc(var(--fix) * 8)}.m-md-9{margin:calc(var(--fix) * 9)}.m-md-10{margin:calc(var(--fix) * 10)}.m-md-11{margin:calc(var(--fix) * 11)}.m-md-12{margin:calc(var(--fix) * 12)}.mh-md-auto{margin-left:auto;margin-right:auto}.mh-md-0{margin-left:0;margin-right:0}.mh-md-1{margin-left:var(--fix);margin-right:var(--fix)}.mh-md-2{margin-left:calc(var(--fix) * 2);margin-right:calc(var(--fix) * 2)}.mh-md-3{margin-left:calc(var(--fix) * 3);margin-right:calc(var(--fix) * 3)}.mh-md-4{margin-left:calc(var(--fix) * 4);margin-right:calc(var(--fix) * 4)}.mh-md-5{margin-left:calc(var(--fix) * 5);margin-right:calc(var(--fix) * 5)}.mh-md-6{margin-left:calc(var(--fix) * 6);margin-right:calc(var(--fix) * 6)}.mh-md-7{margin-left:calc(var(--fix) * 7);margin-right:calc(var(--fix) * 7)}.mh-md-8{margin-left:calc(var(--fix) * 8);margin-right:calc(var(--fix) * 8)}.mh-md-9{margin-left:calc(var(--fix) * 9);margin-right:calc(var(--fix) * 9)}.mh-md-10{margin-left:calc(var(--fix) * 10);margin-right:calc(var(--fix) * 10)}.mh-md-11{margin-left:calc(var(--fix) * 11);margin-right:calc(var(--fix) * 11)}.mh-md-12{margin-left:calc(var(--fix) * 12);margin-right:calc(var(--fix) * 12)}.mv-md-auto{margin-top:auto;margin-bottom:auto}.mv-md-0{margin-top:0;margin-bottom:0}.mv-md-1{margin-top:var(--fix);margin-bottom:var(--fix)}.mv-md-2{margin-top:calc(var(--fix) * 2);margin-bottom:calc(var(--fix) * 2)}.mv-md-3{margin-top:calc(var(--fix) * 3);margin-bottom:calc(var(--fix) * 3)}.mv-md-4{margin-top:calc(var(--fix) * 4);margin-bottom:calc(var(--fix) * 4)}.mv-md-5{margin-top:calc(var(--fix) * 5);margin-bottom:calc(var(--fix) * 5)}.mv-md-6{margin-top:calc(var(--fix) * 6);margin-bottom:calc(var(--fix) * 6)}.mv-md-7{margin-top:calc(var(--fix) * 7);margin-bottom:calc(var(--fix) * 7)}.mv-md-8{margin-top:calc(var(--fix) * 8);margin-bottom:calc(var(--fix) * 8)}.mv-md-9{margin-top:calc(var(--fix) * 9);margin-bottom:calc(var(--fix) * 9)}.mv-md-10{margin-top:calc(var(--fix) * 10);margin-bottom:calc(var(--fix) * 10)}.mv-md-11{margin-top:calc(var(--fix) * 11);margin-bottom:calc(var(--fix) * 11)}.mv-md-12{margin-top:calc(var(--fix) * 12);margin-bottom:calc(var(--fix) * 12)}.ml-md-auto{margin-left:auto}.ml-md-0{margin-left:0}.ml-md-1{margin-left:var(--fix)}.ml-md-2{margin-left:calc(var(--fix) * 2)}.ml-md-3{margin-left:calc(var(--fix) * 3)}.ml-md-4{margin-left:calc(var(--fix) * 4)}.ml-md-5{margin-left:calc(var(--fix) * 5)}.ml-md-6{margin-left:calc(var(--fix) * 6)}.ml-md-7{margin-left:calc(var(--fix) * 7)}.ml-md-8{margin-left:calc(var(--fix) * 8)}.ml-md-9{margin-left:calc(var(--fix) * 9)}.ml-md-10{margin-left:calc(var(--fix) * 10)}.ml-md-11{margin-left:calc(var(--fix) * 11)}.ml-md-12{margin-left:calc(var(--fix) * 12)}.mt-md-auto{margin-top:auto}.mt-md-0{margin-top:0}.mt-md-1{margin-top:var(--fix)}.mt-md-2{margin-top:calc(var(--fix) * 2)}.mt-md-3{margin-top:calc(var(--fix) * 3)}.mt-md-4{margin-top:calc(var(--fix) * 4)}.mt-md-5{margin-top:calc(var(--fix) * 5)}.mt-md-6{margin-top:calc(var(--fix) * 6)}.mt-md-7{margin-top:calc(var(--fix) * 7)}.mt-md-8{margin-top:calc(var(--fix) * 8)}.mt-md-9{margin-top:calc(var(--fix) * 9)}.mt-md-10{margin-top:calc(var(--fix) * 10)}.mt-md-11{margin-top:calc(var(--fix) * 11)}.mt-md-12{margin-top:calc(var(--fix) * 12)}.mr-md-auto{margin-right:auto}.mr-md-0{margin-right:0}.mr-md-1{margin-right:var(--fix)}.mr-md-2{margin-right:calc(var(--fix) * 2)}.mr-md-3{margin-right:calc(var(--fix) * 3)}.mr-md-4{margin-right:calc(var(--fix) * 4)}.mr-md-5{margin-right:calc(var(--fix) * 5)}.mr-md-6{margin-right:calc(var(--fix) * 6)}.mr-md-7{margin-right:calc(var(--fix) * 7)}.mr-md-8{margin-right:calc(var(--fix) * 8)}.mr-md-9{margin-right:calc(var(--fix) * 9)}.mr-md-10{margin-right:calc(var(--fix) * 10)}.mr-md-11{margin-right:calc(var(--fix) * 11)}.mr-md-12{margin-right:calc(var(--fix) * 12)}.mb-md-auto{margin-bottom:auto}.mb-md-0{margin-bottom:0}.mb-md-1{margin-bottom:var(--fix)}.mb-md-2{margin-bottom:calc(var(--fix) * 2)}.mb-md-3{margin-bottom:calc(var(--fix) * 3)}.mb-md-4{margin-bottom:calc(var(--fix) * 4)}.mb-md-5{margin-bottom:calc(var(--fix) * 5)}.mb-md-6{margin-bottom:calc(var(--fix) * 6)}.mb-md-7{margin-bottom:calc(var(--fix) * 7)}.mb-md-8{margin-bottom:calc(var(--fix) * 8)}.mb-md-9{margin-bottom:calc(var(--fix) * 9)}.mb-md-10{margin-bottom:calc(var(--fix) * 10)}.mb-md-11{margin-bottom:calc(var(--fix) * 11)}.mb-md-12{margin-bottom:calc(var(--fix) * 12)}}
@media (min-width:992px){.m-lg-auto{margin:auto}.m-lg-0{margin:0}.m-lg-1{margin:var(--fix)}.m-lg-2{margin:calc(var(--fix) * 2)}.m-lg-3{margin:calc(var(--fix) * 3)}.m-lg-4{margin:calc(var(--fix) * 4)}.m-lg-5{margin:calc(var(--fix) * 5)}.m-lg-6{margin:calc(var(--fix) * 6)}.m-lg-7{margin:calc(var(--fix) * 7)}.m-lg-8{margin:calc(var(--fix) * 8)}.m-lg-9{margin:calc(var(--fix) * 9)}.m-lg-10{margin:calc(var(--fix) * 10)}.m-lg-11{margin:calc(var(--fix) * 11)}.m-lg-12{margin:calc(var(--fix) * 12)}.mh-lg-auto{margin-left:auto;margin-right:auto}.mh-lg-0{margin-left:0;margin-right:0}.mh-lg-1{margin-left:var(--fix);margin-right:var(--fix)}.mh-lg-2{margin-left:calc(var(--fix) * 2);margin-right:calc(var(--fix) * 2)}.mh-lg-3{margin-left:calc(var(--fix) * 3);margin-right:calc(var(--fix) * 3)}.mh-lg-4{margin-left:calc(var(--fix) * 4);margin-right:calc(var(--fix) * 4)}.mh-lg-5{margin-left:calc(var(--fix) * 5);margin-right:calc(var(--fix) * 5)}.mh-lg-6{margin-left:calc(var(--fix) * 6);margin-right:calc(var(--fix) * 6)}.mh-lg-7{margin-left:calc(var(--fix) * 7);margin-right:calc(var(--fix) * 7)}.mh-lg-8{margin-left:calc(var(--fix) * 8);margin-right:calc(var(--fix) * 8)}.mh-lg-9{margin-left:calc(var(--fix) * 9);margin-right:calc(var(--fix) * 9)}.mh-lg-10{margin-left:calc(var(--fix) * 10);margin-right:calc(var(--fix) * 10)}.mh-lg-11{margin-left:calc(var(--fix) * 11);margin-right:calc(var(--fix) * 11)}.mh-lg-12{margin-left:calc(var(--fix) * 12);margin-right:calc(var(--fix) * 12)}.mv-lg-auto{margin-top:auto;margin-bottom:auto}.mv-lg-0{margin-top:0;margin-bottom:0}.mv-lg-1{margin-top:var(--fix);margin-bottom:var(--fix)}.mv-lg-2{margin-top:calc(var(--fix) * 2);margin-bottom:calc(var(--fix) * 2)}.mv-lg-3{margin-top:calc(var(--fix) * 3);margin-bottom:calc(var(--fix) * 3)}.mv-lg-4{margin-top:calc(var(--fix) * 4);margin-bottom:calc(var(--fix) * 4)}.mv-lg-5{margin-top:calc(var(--fix) * 5);margin-bottom:calc(var(--fix) * 5)}.mv-lg-6{margin-top:calc(var(--fix) * 6);margin-bottom:calc(var(--fix) * 6)}.mv-lg-7{margin-top:calc(var(--fix) * 7);margin-bottom:calc(var(--fix) * 7)}.mv-lg-8{margin-top:calc(var(--fix) * 8);margin-bottom:calc(var(--fix) * 8)}.mv-lg-9{margin-top:calc(var(--fix) * 9);margin-bottom:calc(var(--fix) * 9)}.mv-lg-10{margin-top:calc(var(--fix) * 10);margin-bottom:calc(var(--fix) * 10)}.mv-lg-11{margin-top:calc(var(--fix) * 11);margin-bottom:calc(var(--fix) * 11)}.mv-lg-12{margin-top:calc(var(--fix) * 12);margin-bottom:calc(var(--fix) * 12)}.ml-lg-auto{margin-left:auto}.ml-lg-0{margin-left:0}.ml-lg-1{margin-left:var(--fix)}.ml-lg-2{margin-left:calc(var(--fix) * 2)}.ml-lg-3{margin-left:calc(var(--fix) * 3)}.ml-lg-4{margin-left:calc(var(--fix) * 4)}.ml-lg-5{margin-left:calc(var(--fix) * 5)}.ml-lg-6{margin-left:calc(var(--fix) * 6)}.ml-lg-7{margin-left:calc(var(--fix) * 7)}.ml-lg-8{margin-left:calc(var(--fix) * 8)}.ml-lg-9{margin-left:calc(var(--fix) * 9)}.ml-lg-10{margin-left:calc(var(--fix) * 10)}.ml-lg-11{margin-left:calc(var(--fix) * 11)}.ml-lg-12{margin-left:calc(var(--fix) * 12)}.mt-lg-auto{margin-top:auto}.mt-lg-0{margin-top:0}.mt-lg-1{margin-top:var(--fix)}.mt-lg-2{margin-top:calc(var(--fix) * 2)}.mt-lg-3{margin-top:calc(var(--fix) * 3)}.mt-lg-4{margin-top:calc(var(--fix) * 4)}.mt-lg-5{margin-top:calc(var(--fix) * 5)}.mt-lg-6{margin-top:calc(var(--fix) * 6)}.mt-lg-7{margin-top:calc(var(--fix) * 7)}.mt-lg-8{margin-top:calc(var(--fix) * 8)}.mt-lg-9{margin-top:calc(var(--fix) * 9)}.mt-lg-10{margin-top:calc(var(--fix) * 10)}.mt-lg-11{margin-top:calc(var(--fix) * 11)}.mt-lg-12{margin-top:calc(var(--fix) * 12)}.mr-lg-auto{margin-right:auto}.mr-lg-0{margin-right:0}.mr-lg-1{margin-right:var(--fix)}.mr-lg-2{margin-right:calc(var(--fix) * 2)}.mr-lg-3{margin-right:calc(var(--fix) * 3)}.mr-lg-4{margin-right:calc(var(--fix) * 4)}.mr-lg-5{margin-right:calc(var(--fix) * 5)}.mr-lg-6{margin-right:calc(var(--fix) * 6)}.mr-lg-7{margin-right:calc(var(--fix) * 7)}.mr-lg-8{margin-right:calc(var(--fix) * 8)}.mr-lg-9{margin-right:calc(var(--fix) * 9)}.mr-lg-10{margin-right:calc(var(--fix) * 10)}.mr-lg-11{margin-right:calc(var(--fix) * 11)}.mr-lg-12{margin-right:calc(var(--fix) * 12)}.mb-lg-auto{margin-bottom:auto}.mb-lg-0{margin-bottom:0}.mb-lg-1{margin-bottom:var(--fix)}.mb-lg-2{margin-bottom:calc(var(--fix) * 2)}.mb-lg-3{margin-bottom:calc(var(--fix) * 3)}.mb-lg-4{margin-bottom:calc(var(--fix) * 4)}.mb-lg-5{margin-bottom:calc(var(--fix) * 5)}.mb-lg-6{margin-bottom:calc(var(--fix) * 6)}.mb-lg-7{margin-bottom:calc(var(--fix) * 7)}.mb-lg-8{margin-bottom:calc(var(--fix) * 8)}.mb-lg-9{margin-bottom:calc(var(--fix) * 9)}.mb-lg-10{margin-bottom:calc(var(--fix) * 10)}.mb-lg-11{margin-bottom:calc(var(--fix) * 11)}.mb-lg-12{margin-bottom:calc(var(--fix) * 12)}}
@media (min-width:1200px){.m-xl-auto{margin:auto}.m-xl-0{margin:0}.m-xl-1{margin:var(--fix)}.m-xl-2{margin:calc(var(--fix) * 2)}.m-xl-3{margin:calc(var(--fix) * 3)}.m-xl-4{margin:calc(var(--fix) * 4)}.m-xl-5{margin:calc(var(--fix) * 5)}.m-xl-6{margin:calc(var(--fix) * 6)}.m-xl-7{margin:calc(var(--fix) * 7)}.m-xl-8{margin:calc(var(--fix) * 8)}.m-xl-9{margin:calc(var(--fix) * 9)}.m-xl-10{margin:calc(var(--fix) * 10)}.m-xl-11{margin:calc(var(--fix) * 11)}.m-xl-12{margin:calc(var(--fix) * 12)}.mh-xl-auto{margin-left:auto;margin-right:auto}.mh-xl-0{margin-left:0;margin-right:0}.mh-xl-1{margin-left:var(--fix);margin-right:var(--fix)}.mh-xl-2{margin-left:calc(var(--fix) * 2);margin-right:calc(var(--fix) * 2)}.mh-xl-3{margin-left:calc(var(--fix) * 3);margin-right:calc(var(--fix) * 3)}.mh-xl-4{margin-left:calc(var(--fix) * 4);margin-right:calc(var(--fix) * 4)}.mh-xl-5{margin-left:calc(var(--fix) * 5);margin-right:calc(var(--fix) * 5)}.mh-xl-6{margin-left:calc(var(--fix) * 6);margin-right:calc(var(--fix) * 6)}.mh-xl-7{margin-left:calc(var(--fix) * 7);margin-right:calc(var(--fix) * 7)}.mh-xl-8{margin-left:calc(var(--fix) * 8);margin-right:calc(var(--fix) * 8)}.mh-xl-9{margin-left:calc(var(--fix) * 9);margin-right:calc(var(--fix) * 9)}.mh-xl-10{margin-left:calc(var(--fix) * 10);margin-right:calc(var(--fix) * 10)}.mh-xl-11{margin-left:calc(var(--fix) * 11);margin-right:calc(var(--fix) * 11)}.mh-xl-12{margin-left:calc(var(--fix) * 12);margin-right:calc(var(--fix) * 12)}.mv-xl-auto{margin-top:auto;margin-bottom:auto}.mv-xl-0{margin-top:0;margin-bottom:0}.mv-xl-1{margin-top:var(--fix);margin-bottom:var(--fix)}.mv-xl-2{margin-top:calc(var(--fix) * 2);margin-bottom:calc(var(--fix) * 2)}.mv-xl-3{margin-top:calc(var(--fix) * 3);margin-bottom:calc(var(--fix) * 3)}.mv-xl-4{margin-top:calc(var(--fix) * 4);margin-bottom:calc(var(--fix) * 4)}.mv-xl-5{margin-top:calc(var(--fix) * 5);margin-bottom:calc(var(--fix) * 5)}.mv-xl-6{margin-top:calc(var(--fix) * 6);margin-bottom:calc(var(--fix) * 6)}.mv-xl-7{margin-top:calc(var(--fix) * 7);margin-bottom:calc(var(--fix) * 7)}.mv-xl-8{margin-top:calc(var(--fix) * 8);margin-bottom:calc(var(--fix) * 8)}.mv-xl-9{margin-top:calc(var(--fix) * 9);margin-bottom:calc(var(--fix) * 9)}.mv-xl-10{margin-top:calc(var(--fix) * 10);margin-bottom:calc(var(--fix) * 10)}.mv-xl-11{margin-top:calc(var(--fix) * 11);margin-bottom:calc(var(--fix) * 11)}.mv-xl-12{margin-top:calc(var(--fix) * 12);margin-bottom:calc(var(--fix) * 12)}.ml-xl-auto{margin-left:auto}.ml-xl-0{margin-left:0}.ml-xl-1{margin-left:var(--fix)}.ml-xl-2{margin-left:calc(var(--fix) * 2)}.ml-xl-3{margin-left:calc(var(--fix) * 3)}.ml-xl-4{margin-left:calc(var(--fix) * 4)}.ml-xl-5{margin-left:calc(var(--fix) * 5)}.ml-xl-6{margin-left:calc(var(--fix) * 6)}.ml-xl-7{margin-left:calc(var(--fix) * 7)}.ml-xl-8{margin-left:calc(var(--fix) * 8)}.ml-xl-9{margin-left:calc(var(--fix) * 9)}.ml-xl-10{margin-left:calc(var(--fix) * 10)}.ml-xl-11{margin-left:calc(var(--fix) * 11)}.ml-xl-12{margin-left:calc(var(--fix) * 12)}.mt-xl-auto{margin-top:auto}.mt-xl-0{margin-top:0}.mt-xl-1{margin-top:var(--fix)}.mt-xl-2{margin-top:calc(var(--fix) * 2)}.mt-xl-3{margin-top:calc(var(--fix) * 3)}.mt-xl-4{margin-top:calc(var(--fix) * 4)}.mt-xl-5{margin-top:calc(var(--fix) * 5)}.mt-xl-6{margin-top:calc(var(--fix) * 6)}.mt-xl-7{margin-top:calc(var(--fix) * 7)}.mt-xl-8{margin-top:calc(var(--fix) * 8)}.mt-xl-9{margin-top:calc(var(--fix) * 9)}.mt-xl-10{margin-top:calc(var(--fix) * 10)}.mt-xl-11{margin-top:calc(var(--fix) * 11)}.mt-xl-12{margin-top:calc(var(--fix) * 12)}.mr-xl-auto{margin-right:auto}.mr-xl-0{margin-right:0}.mr-xl-1{margin-right:var(--fix)}.mr-xl-2{margin-right:calc(var(--fix) * 2)}.mr-xl-3{margin-right:calc(var(--fix) * 3)}.mr-xl-4{margin-right:calc(var(--fix) * 4)}.mr-xl-5{margin-right:calc(var(--fix) * 5)}.mr-xl-6{margin-right:calc(var(--fix) * 6)}.mr-xl-7{margin-right:calc(var(--fix) * 7)}.mr-xl-8{margin-right:calc(var(--fix) * 8)}.mr-xl-9{margin-right:calc(var(--fix) * 9)}.mr-xl-10{margin-right:calc(var(--fix) * 10)}.mr-xl-11{margin-right:calc(var(--fix) * 11)}.mr-xl-12{margin-right:calc(var(--fix) * 12)}.mb-xl-auto{margin-bottom:auto}.mb-xl-0{margin-bottom:0}.mb-xl-1{margin-bottom:var(--fix)}.mb-xl-2{margin-bottom:calc(var(--fix) * 2)}.mb-xl-3{margin-bottom:calc(var(--fix) * 3)}.mb-xl-4{margin-bottom:calc(var(--fix) * 4)}.mb-xl-5{margin-bottom:calc(var(--fix) * 5)}.mb-xl-6{margin-bottom:calc(var(--fix) * 6)}.mb-xl-7{margin-bottom:calc(var(--fix) * 7)}.mb-xl-8{margin-bottom:calc(var(--fix) * 8)}.mb-xl-9{margin-bottom:calc(var(--fix) * 9)}.mb-xl-10{margin-bottom:calc(var(--fix) * 10)}.mb-xl-11{margin-bottom:calc(var(--fix) * 11)}.mb-xl-12{margin-bottom:calc(var(--fix) * 12)}}

/* Text Align */
.ta-left{text-align:left}.ta-right{text-align:right}.ta-center{text-align:center}.ta-justify{text-align:justify}
@media (min-width:576px){.ta-sm-left{text-align:left}.ta-sm-right{text-align:right}.ta-sm-center{text-align:center}.ta-sm-justify{text-align:justify}}
@media (min-width:768px){.ta-md-left{text-align:left}.ta-md-right{text-align:right}.ta-md-center{text-align:center}.ta-md-justify{text-align:justify}}
@media (min-width:992px){.ta-lg-left{text-align:left}.ta-lg-right{text-align:right}.ta-lg-center{text-align:center}.ta-lg-justify{text-align:justify}}
@media (min-width:1200px){.ta-xl-left{text-align:left}.ta-xl-right{text-align:right}.ta-xl-center{text-align:center}.ta-xl-justify{text-align:justify}}

/* Br */
.brn{display: none}.br{display: initial}
@media (min-width:576px){.brn-sm{display: none}.br-sm{display: initial}} 
@media (min-width:768px){.brn-md{display: none}.br-md{display: initial}} 
@media (min-width:992px){.brn-lg{display: none}.br-lg{display: initial}} 
@media (min-width:1200px){.brn-xl{display: none}.br-xl{display: initial}}

/* Flexbox */
.fx-wrap{-ms-flex-wrap:wrap;flex-wrap:wrap}
.fx-nowrap{-ms-flex-wrap:nowrap;flex-wrap:nowrap}

.fx-d-row{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.fx-d-col{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.fx-d-row-r{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}
.fx-d-col-r{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}

.jc-around{-ms-flex-pack:distribute;justify-content:space-around}
.jc-end{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}
.jc-center{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.jc-start{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}
.jc-between{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.jc-evenly{-webkit-box-pack:space-evenly;-ms-flex-pack:space-evenly;justify-content:space-evenly}

@media (min-width:576px){.jc-sm-around{-ms-flex-pack:distribute;justify-content:space-around}.jc-sm-end{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.jc-sm-center{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.jc-sm-start{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}.jc-sm-between{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.jc-sm-evenly{-webkit-box-pack:space-evenly;-ms-flex-pack:space-evenly;justify-content:space-evenly}}
@media (min-width:768px){.jc-md-around{-ms-flex-pack:distribute;justify-content:space-around}.jc-md-end{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.jc-md-center{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.jc-md-start{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}.jc-md-between{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.jc-md-evenly{-webkit-box-pack:space-evenly;-ms-flex-pack:space-evenly;justify-content:space-evenly}}
@media (min-width:992px){.jc-lg-around{-ms-flex-pack:distribute;justify-content:space-around}.jc-lg-end{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.jc-lg-center{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.jc-lg-start{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}.jc-lg-between{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.jc-lg-evenly{-webkit-box-pack:space-evenly;-ms-flex-pack:space-evenly;justify-content:space-evenly}}
@media (min-width:1200px){.jc-xl-around{-ms-flex-pack:distribute;justify-content:space-around}.jc-xl-end{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.jc-xl-center{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.jc-xl-start{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}.jc-xl-between{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.jc-xl-evenly{-webkit-box-pack:space-evenly;-ms-flex-pack:space-evenly;justify-content:space-evenly}}

.ai-end{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}
.ai-center{-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.ai-start{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}
.ai-stretch{-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch}
.ai-baseline{-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline}

.ac-end{-ms-flex-line-pack:end;align-content:flex-end}
.ac-center{-ms-flex-line-pack:center;align-content:center}
.ac-start{-ms-flex-line-pack:start;align-content:flex-start}
.ac-stretch{-ms-flex-line-pack:stretch;align-content:stretch}
.ac-between{-ms-flex-line-pack:justify;align-content:space-between}
.ac-around{-ms-flex-line-pack:distribute;align-content:space-around}

.as-end{-ms-flex-item-align:end;align-self:flex-end}
.as-start{-ms-flex-item-align:start;align-self:flex-start}
.as-center{-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center}
.as-stretch{-ms-flex-item-align:stretch;-ms-grid-row-align:stretch;align-self:stretch}

.fx-1{-webkit-box-flex:1;-ms-flex:1;flex:1}.fx-2{-webkit-box-flex:2;-ms-flex:2;flex:2}.fx-auto{-webkit-box-flex:1;-ms-flex:auto;flex:auto}
@media (min-width:576px){.fx-sm-1{-webkit-box-flex:1;-ms-flex:1;flex:1}.fx-sm-2{-webkit-box-flex:2;-ms-flex:2;flex:2}.fx-sm-auto{-webkit-box-flex:1;-ms-flex:auto;flex:auto}}
@media (min-width:768px){.fx-md-1{-webkit-box-flex:1;-ms-flex:1;flex:1}.fx-md-2{-webkit-box-flex:2;-ms-flex:2;flex:2}.fx-md-auto{-webkit-box-flex:1;-ms-flex:auto;flex:auto}}
@media (min-width:992px){.fx-lg-1{-webkit-box-flex:1;-ms-flex:1;flex:1}.fx-lg-2{-webkit-box-flex:2;-ms-flex:2;flex:2}.fx-lg-auto{-webkit-box-flex:1;-ms-flex:auto;flex:auto}}
@media (min-width:1200px){.fx-xl-1{-webkit-box-flex:1;-ms-flex:1;flex:1}.fx-xl-2{-webkit-box-flex:2;-ms-flex:2;flex:2}.fx-xl-auto{-webkit-box-flex:1;-ms-flex:auto;flex:auto}}

/* Display */
.flex{display:flex}.block{display:block}.inline-block{display: inline-block}.inherit{display:inherit}.none{display:none}
@media (min-width:576px){.flex-sm{display:flex}.block-sm{display:block}.inline-block-sm{display:inline-block}.inherit-sm{display:inherit}.none-sm{display:none}}
@media (min-width:768px){.flex-md{display:flex}.block-md{display:block}.inline-block-md{display:inline-block}.inherit-md{display:inherit}.none-md{display:none}}
@media (min-width:992px){.flex-lg{display:flex}.block-lg{display:block}.inline-block-lg{display:inline-block}.inherit-lg{display:inherit}.none-lg{display:none}}
@media (min-width:1200px){.flex-xl{display:flex}.block-xl{display:block}.inline-block-xl{display:inline-block}.inherit-xl{display:inherit}.none-xl{display:none}}


/* Largura e altura */
.w{width:100%}.w-vw{width:100vw}.w-auto{width:auto}.h{height:100%}.h-vh{height:100vh}.h-auto{height:auto}
@media (min-width:576px){.w-sm{width:100%}.w-sm-auto{width:auto}.h-sm{height:100%}.h-sm-auto{height:auto}}
@media (min-width:768px){.w-md{width:100%}.w-md-auto{width:auto}.h-md{height:100%}.h-md-auto{height:auto}}
@media (min-width:992px){.w-lg{width:100%}.w-lg-auto{width:auto}.h-lg{height:100%}.h-lg-auto{height:auto}}
@media (min-width:1200px){.w-xl{width:100%}.w-xl-auto{width:auto}.h-xl{height:100%}.h-xl-auto{height:auto}}
