a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,iframe,img,input,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,select,small,span,strike,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
html{position: relative;min-height: 100%; line-height: 1.15; -webkit-text-size-adjust: 100%}
body{letter-spacing:0;font-size:1rem;font-family: var(--font-family);color: var(--primary);background-color: var(--background)}
main,article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none;color:inherit}
p b,p strong{font-weight:bolder}
p a:hover{text-decoration:underline}
abbr[title]{border-bottom: none;text-decoration: none;text-decoration: underline dotted;}
small{font-size: 80%;}
hr{border:0;border-top:thin solid var(--secondary);box-sizing:content-box;height:0;overflow:visible}
sub,sup{font-size: 75%; position: relative;}
sub{vertical-align: baseline;bottom: -0.25em;}
sup{vertical-align: top;top: -0.5em}
button,select{text-transform: none}
svg{line-height:0}
code{color: var(--code)}
code,kbd,pre,samp{font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}
embed,iframe,iframe[style],object,video{max-width:100%}
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}
input,button{overflow: visible}
button,select{text-transform: none}
details{display:block}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
progress{vertical-align:baseline}
summary{display:list-item}

[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
 
html{
    scroll-behavior: smooth;
 }