:root {

    /* Cor principal */
    --main: #f55f8d;
    --main-dark: #f03d73;
    --main-light: #feeff3;
    --main-contrast: #fff;
    --gradient: linear-gradient(90deg, var(--main), #f8ae56);
    --gradient-dark: linear-gradient(90deg, #0e1b1f 40%, #092933);

    /* Cores alternativas */
    --yellow: #ffa808;
    --white-transparent: rgba(255, 255, 255, .1);

    /* Cores de fundo */
    --background: #fff;
    --light: #faf8f2;
    --medium: #6c757d;
    --dark: #262f5a;
    --code: #e83e8c;
    --black: #1f343b;
    --off-white: #f8f9fa;

    /* Cores de textos */
    --primary: #262626;
    --secondary: #636363;
    --paragraph: #0f192d;

    /* Cores de notificações */
    --info: #50a5f1;
    --info-light: #ddedfa;
    --info-dark: #1b85e2;

    --danger: #f46c6c;
    --danger-light: #fbe4e4;
    --danger-dark: #da4e4e;

    --success: #33c18d;
    --success-light: #dbf4eb;
    --success-dark: #14a16e;

    --warning: #f1b44c;
    --warning-light: #fcf3de;
    --warning-dark: #eba732;

    /* Formulários */
    --input-fs: .9rem;
    --input-height: 40px;
    --input-padding: 1.2rem;
    --input-border: thin solid #9ba2a8;

    /* shadow */
    --shadow: 0 0 10px 4px rgb(31 66 135 / 20%);
    --shadow-lg: 0 0 10px 4px rgb(31 66 135 / 50%);
    --txt-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    --txt-shadow-black: 2px 2px 2px rgba(0, 0, 0, 0.7);

    --fix: .5rem;
    --radius: .2rem;

    /* Peso da fonte */
    --fw-thin: 100;
    --fw-light: 300;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-black: 900;

    /* Famílias de fontes */
    --font-family: 'Source Sans Pro', sans-serif;
}