/* source-sans-pro-300 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro'), url('../fonts/source-sans-pro-v18-latin-300.woff2') format('woff2'), url('../fonts/source-sans-pro-v18-latin-300.woff') format('woff');
   
}

/* source-sans-pro-regular - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), url('../fonts/source-sans-pro-v18-latin-regular.woff2') format('woff2'), url('../fonts/source-sans-pro-v18-latin-regular.woff') format('woff');
   
}

/* source-sans-pro-600 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro'), url('../fonts/source-sans-pro-v18-latin-600.woff2') format('woff2'), url('../fonts/source-sans-pro-v18-latin-600.woff') format('woff');
   
}

/* source-sans-pro-700 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Sans Pro'), url('../fonts/source-sans-pro-v18-latin-700.woff2') format('woff2'), url('../fonts/source-sans-pro-v18-latin-700.woff') format('woff');
   
}

/* source-sans-pro-900 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    src: local('Source Sans Pro'), url('../fonts/source-sans-pro-v18-latin-900.woff2') format('woff2'), url('../fonts/source-sans-pro-v18-latin-900.woff') format('woff');
   
}:root {

    /* Cor principal */
    --main: #f55f8d;
    --main-dark: #f03d73;
    --main-light: #feeff3;
    --main-contrast: #fff;
    --gradient: linear-gradient(90deg, var(--main), #f8ae56);
    --gradient-dark: linear-gradient(90deg, #0e1b1f 40%, #092933);

    /* Cores alternativas */
    --yellow: #ffa808;
    --white-transparent: rgba(255, 255, 255, .1);

    /* Cores de fundo */
    --background: #fff;
    --light: #faf8f2;
    --medium: #6c757d;
    --dark: #262f5a;
    --code: #e83e8c;
    --black: #1f343b;
    --off-white: #f8f9fa;

    /* Cores de textos */
    --primary: #262626;
    --secondary: #636363;
    --paragraph: #0f192d;

    /* Cores de notificações */
    --info: #50a5f1;
    --info-light: #ddedfa;
    --info-dark: #1b85e2;

    --danger: #f46c6c;
    --danger-light: #fbe4e4;
    --danger-dark: #da4e4e;

    --success: #33c18d;
    --success-light: #dbf4eb;
    --success-dark: #14a16e;

    --warning: #f1b44c;
    --warning-light: #fcf3de;
    --warning-dark: #eba732;

    /* Formulários */
    --input-fs: .9rem;
    --input-height: 40px;
    --input-padding: 1.2rem;
    --input-border: thin solid #9ba2a8;

    /* shadow */
    --shadow: 0 0 10px 4px rgb(31 66 135 / 20%);
    --shadow-lg: 0 0 10px 4px rgb(31 66 135 / 50%);
    --txt-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    --txt-shadow-black: 2px 2px 2px rgba(0, 0, 0, 0.7);

    --fix: .5rem;
    --radius: .2rem;

    /* Peso da fonte */
    --fw-thin: 100;
    --fw-light: 300;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-black: 900;

    /* Famílias de fontes */
    --font-family: 'Source Sans Pro', sans-serif;
}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,iframe,img,input,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,select,small,span,strike,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;-webkit-box-sizing:border-box;box-sizing:border-box}
html{position: relative;min-height: 100%; line-height: 1.15; -webkit-text-size-adjust: 100%}
body{letter-spacing:0;font-size:1rem;font-family: var(--font-family);color: var(--primary);background-color: var(--background)}
main,article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none;color:inherit}
p b,p strong{font-weight:bolder}
p a:hover{text-decoration:underline}
abbr[title]{border-bottom: none;text-decoration: none;text-decoration: underline dotted;}
small{font-size: 80%;}
hr{border:0;border-top:thin solid var(--secondary);box-sizing:content-box;height:0;overflow:visible}
sub,sup{font-size: 75%; position: relative;}
sub{vertical-align: baseline;bottom: -0.25em;}
sup{vertical-align: top;top: -0.5em}
button,select{text-transform: none}
svg{line-height:0}
code{color: var(--code)}
code,kbd,pre,samp{font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}
embed,iframe,iframe[style],object,video{max-width:100%}
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}
input,button{overflow: visible}
button,select{text-transform: none}
details{display:block}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
progress{vertical-align:baseline}
summary{display:list-item}

[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
 
html{
    scroll-behavior: smooth;
 }/* Botão */
.btn{display:inline-block;outline:0;border:0;cursor:pointer;text-align:center;text-decoration:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;vertical-align:middle;background-color:transparent;padding: .25rem;font-size:.7rem;box-sizing:border-box;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}

/* Imagens */
.img{display:block;width:100%;max-width:100%;height: auto;}
.img-lazy{-webkit-transition:500ms -webkit-filter linear;transition:500ms -webkit-filter linear;-o-transition:500ms filter linear;transition:500ms filter linear;transition:500ms filter linear, 500ms -webkit-filter linear}
.img-blur{-webkit-filter:blur(1rem);filter:blur(1rem)}

.bg-cover{background-size:cover;background-repeat:no-repeat;background-position:center center}

/* Elementos externos */
.iframe{display:block;width:100%;height:auto}
.video-widescreen, .video-height{position: relative;background-color: #000;overflow:hidden}
.video-height{width: 0;height: 100%;padding-right: 100%;}
.video-widescreen{width:100%;height:0;padding-bottom:56.25%}
.video-widescreen iframe, .video-height iframe{position:absolute;top:0;left:0;width:100%;height:100%}

/* Divisor */
.divider-top{border-top: thin solid var(--light)}
.divider-left{border-left: thin solid var(--light)}
.divider-right{border-right: thin solid var(--light)}
.divider-bottom{border-bottom: thin solid var(--light)}/* Flex Grid layout */
.wrapper{width:100%}
.container{margin-left:auto;margin-right:auto;width:100%;padding-left:calc(var(--fix) * 2);padding-right:calc(var(--fix) * 2);max-width: 576px}

@media (min-width:768px){.container{max-width:728px}}
@media (min-width:992px){.container{max-width:952px}}
@media (min-width:1200px){.container{max-width:1160px}}
@media (min-width:1260px){.container{max-width:1220px}}

.row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:calc(var(--fix) * -2);margin-right:calc(var(--fix) * -2)}

.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{position:relative;width:100%;padding:calc(var(--fix) * 2)}

.no-gutters{margin-right:0;margin-left:0}
.no-gutters>.col,.no-gutters>[class*=col-]{padding:0}
.no-gutters-h>.col,.no-gutters-h>[class*=col-]{padding-right:0;padding-left:0}
.no-gutters-v>.col,.no-gutters-v>[class*=col-]{padding-top:0;padding-bottom:0}

.col{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}
.col-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.3333%}
.col-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.6666%}
.col-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
.col-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.3333%}
.col-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
.col-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
.col-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.3333%}
.col-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
.col-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
.col-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.3333%}
.col-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}
.col-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
.col-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}

@media (min-width:576px){.col-sm{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-sm-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.3333%}.col-sm-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.6666%}.col-sm-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-sm-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.3333%}.col-sm-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-sm-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-sm-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.3333%}.col-sm-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-sm-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-sm-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.3333%}.col-sm-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-sm-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.col-sm-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}}
@media (min-width:768px){.col-md{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-md-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.3333%}.col-md-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.6666%}.col-md-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-md-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.3333%}.col-md-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-md-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-md-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.3333%}.col-md-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-md-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-md-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.3333%}.col-md-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-md-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.col-md-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}}
@media (min-width:992px){.col-lg{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-lg-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.3333%}.col-lg-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.6666%}.col-lg-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-lg-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.3333%}.col-lg-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-lg-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-lg-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.3333%}.col-lg-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-lg-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-lg-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.3333%}.col-lg-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-lg-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.col-lg-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}}
@media (min-width:1200px){.col-xl{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-xl-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.3333%}.col-xl-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.6666%}.col-xl-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-xl-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.3333%}.col-xl-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-xl-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-xl-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.3333%}.col-xl-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-xl-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-xl-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.3333%}.col-xl-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-xl-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.col-xl-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}}

/* Paddings */
.p-auto{padding:auto}.p-0{padding:0}.p-1{padding:var(--fix)}.p-2{padding:calc(var(--fix) * 2)}.p-3{padding:calc(var(--fix) * 3)}.p-4{padding:calc(var(--fix) * 4)}.p-5{padding:calc(var(--fix) * 5)}.p-6{padding:calc(var(--fix) * 6)}.p-7{padding:calc(var(--fix) * 7)}.p-8{padding:calc(var(--fix) * 8)}.p-9{padding:calc(var(--fix) * 9)}.p-10{padding:calc(var(--fix) * 10)}.p-11{padding:calc(var(--fix) * 11)}.p-12{padding:calc(var(--fix) * 12)}
.ph-auto{padding-left:auto;padding-right:auto}.ph-0{padding-left:0;padding-right:0}.ph-1{padding-left:var(--fix);padding-right:var(--fix)}.ph-2{padding-left:calc(var(--fix) * 2);padding-right:calc(var(--fix) * 2)}.ph-3{padding-left:calc(var(--fix) * 3);padding-right:calc(var(--fix) * 3)}.ph-4{padding-left:calc(var(--fix) * 4);padding-right:calc(var(--fix) * 4)}.ph-5{padding-left:calc(var(--fix) * 5);padding-right:calc(var(--fix) * 5)}.ph-6{padding-left:calc(var(--fix) * 6);padding-right:calc(var(--fix) * 6)}.ph-7{padding-left:calc(var(--fix) * 7);padding-right:calc(var(--fix) * 7)}.ph-8{padding-left:calc(var(--fix) * 8);padding-right:calc(var(--fix) * 8)}.ph-9{padding-left:calc(var(--fix) * 9);padding-right:calc(var(--fix) * 9)}.ph-10{padding-left:calc(var(--fix) * 10);padding-right:calc(var(--fix) * 10)}.ph-11{padding-left:calc(var(--fix) * 11);padding-right:calc(var(--fix) * 11)}.ph-12{padding-left:calc(var(--fix) * 12);padding-right:calc(var(--fix) * 12)}
.pv-auto{padding-top:auto;padding-bottom:auto}.pv-0{padding-top:0;padding-bottom:0}.pv-1{padding-top:var(--fix);padding-bottom:var(--fix)}.pv-2{padding-top:calc(var(--fix) * 2);padding-bottom:calc(var(--fix) * 2)}.pv-3{padding-top:calc(var(--fix) * 3);padding-bottom:calc(var(--fix) * 3)}.pv-4{padding-top:calc(var(--fix) * 4);padding-bottom:calc(var(--fix) * 4)}.pv-5{padding-top:calc(var(--fix) * 5);padding-bottom:calc(var(--fix) * 5)}.pv-6{padding-top:calc(var(--fix) * 6);padding-bottom:calc(var(--fix) * 6)}.pv-7{padding-top:calc(var(--fix) * 7);padding-bottom:calc(var(--fix) * 7)}.pv-8{padding-top:calc(var(--fix) * 8);padding-bottom:calc(var(--fix) * 8)}.pv-9{padding-top:calc(var(--fix) * 9);padding-bottom:calc(var(--fix) * 9)}.pv-10{padding-top:calc(var(--fix) * 10);padding-bottom:calc(var(--fix) * 10)}.pv-11{padding-top:calc(var(--fix) * 11);padding-bottom:calc(var(--fix) * 11)}.pv-12{padding-top:calc(var(--fix) * 12);padding-bottom:calc(var(--fix) * 12)}
.pl-auto{padding-left:auto}.pl-0{padding-left:0}.pl-1{padding-left:var(--fix)}.pl-2{padding-left:calc(var(--fix) * 2)}.pl-3{padding-left:calc(var(--fix) * 3)}.pl-4{padding-left:calc(var(--fix) * 4)}.pl-5{padding-left:calc(var(--fix) * 5)}.pl-6{padding-left:calc(var(--fix) * 6)}.pl-7{padding-left:calc(var(--fix) * 7)}.pl-8{padding-left:calc(var(--fix) * 8)}.pl-9{padding-left:calc(var(--fix) * 9)}.pl-10{padding-left:calc(var(--fix) * 10)}.pl-11{padding-left:calc(var(--fix) * 11)}.pl-12{padding-left:calc(var(--fix) * 12)}
.pt-auto{padding-top:auto}.pt-0{padding-top:0}.pt-1{padding-top:var(--fix)}.pt-2{padding-top:calc(var(--fix) * 2)}.pt-3{padding-top:calc(var(--fix) * 3)}.pt-4{padding-top:calc(var(--fix) * 4)}.pt-5{padding-top:calc(var(--fix) * 5)}.pt-6{padding-top:calc(var(--fix) * 6)}.pt-7{padding-top:calc(var(--fix) * 7)}.pt-8{padding-top:calc(var(--fix) * 8)}.pt-9{padding-top:calc(var(--fix) * 9)}.pt-10{padding-top:calc(var(--fix) * 10)}.pt-11{padding-top:calc(var(--fix) * 11)}.pt-12{padding-top:calc(var(--fix) * 12)}
.pr-auto{padding-right:auto}.pr-0{padding-right:0}.pr-1{padding-right:var(--fix)}.pr-2{padding-right:calc(var(--fix) * 2)}.pr-3{padding-right:calc(var(--fix) * 3)}.pr-4{padding-right:calc(var(--fix) * 4)}.pr-5{padding-right:calc(var(--fix) * 5)}.pr-6{padding-right:calc(var(--fix) * 6)}.pr-7{padding-right:calc(var(--fix) * 7)}.pr-8{padding-right:calc(var(--fix) * 8)}.pr-9{padding-right:calc(var(--fix) * 9)}.pr-10{padding-right:calc(var(--fix) * 10)}.pr-11{padding-right:calc(var(--fix) * 11)}.pr-12{padding-right:calc(var(--fix) * 12)}
.pb-auto{padding-bottom:auto}.pb-0{padding-bottom:0}.pb-1{padding-bottom:var(--fix)}.pb-2{padding-bottom:calc(var(--fix) * 2)}.pb-3{padding-bottom:calc(var(--fix) * 3)}.pb-4{padding-bottom:calc(var(--fix) * 4)}.pb-5{padding-bottom:calc(var(--fix) * 5)}.pb-6{padding-bottom:calc(var(--fix) * 6)}.pb-7{padding-bottom:calc(var(--fix) * 7)}.pb-8{padding-bottom:calc(var(--fix) * 8)}.pb-9{padding-bottom:calc(var(--fix) * 9)}.pb-10{padding-bottom:calc(var(--fix) * 10)}.pb-11{padding-bottom:calc(var(--fix) * 11)}.pb-12{padding-bottom:calc(var(--fix) * 12)}
@media (min-width:576px){.p-sm-auto{padding:auto}.p-sm-0{padding:0}.p-sm-1{padding:var(--fix)}.p-sm-2{padding:calc(var(--fix) * 2)}.p-sm-3{padding:calc(var(--fix) * 3)}.p-sm-4{padding:calc(var(--fix) * 4)}.p-sm-5{padding:calc(var(--fix) * 5)}.p-sm-6{padding:calc(var(--fix) * 6)}.p-sm-7{padding:calc(var(--fix) * 7)}.p-sm-8{padding:calc(var(--fix) * 8)}.p-sm-9{padding:calc(var(--fix) * 9)}.p-sm-10{padding:calc(var(--fix) * 10)}.p-sm-11{padding:calc(var(--fix) * 11)}.p-sm-12{padding:calc(var(--fix) * 12)}.ph-sm-auto{padding-left:auto;padding-right:auto}.ph-sm-0{padding-left:0;padding-right:0}.ph-sm-1{padding-left:var(--fix);padding-right:var(--fix)}.ph-sm-2{padding-left:calc(var(--fix) * 2);padding-right:calc(var(--fix) * 2)}.ph-sm-3{padding-left:calc(var(--fix) * 3);padding-right:calc(var(--fix) * 3)}.ph-sm-4{padding-left:calc(var(--fix) * 4);padding-right:calc(var(--fix) * 4)}.ph-sm-5{padding-left:calc(var(--fix) * 5);padding-right:calc(var(--fix) * 5)}.ph-sm-6{padding-left:calc(var(--fix) * 6);padding-right:calc(var(--fix) * 6)}.ph-sm-7{padding-left:calc(var(--fix) * 7);padding-right:calc(var(--fix) * 7)}.ph-sm-8{padding-left:calc(var(--fix) * 8);padding-right:calc(var(--fix) * 8)}.ph-sm-9{padding-left:calc(var(--fix) * 9);padding-right:calc(var(--fix) * 9)}.ph-sm-10{padding-left:calc(var(--fix) * 10);padding-right:calc(var(--fix) * 10)}.ph-sm-11{padding-left:calc(var(--fix) * 11);padding-right:calc(var(--fix) * 11)}.ph-sm-12{padding-left:calc(var(--fix) * 12);padding-right:calc(var(--fix) * 12)}.pv-sm-auto{padding-top:auto;padding-bottom:auto}.pv-sm-0{padding-top:0;padding-bottom:0}.pv-sm-1{padding-top:var(--fix);padding-bottom:var(--fix)}.pv-sm-2{padding-top:calc(var(--fix) * 2);padding-bottom:calc(var(--fix) * 2)}.pv-sm-3{padding-top:calc(var(--fix) * 3);padding-bottom:calc(var(--fix) * 3)}.pv-sm-4{padding-top:calc(var(--fix) * 4);padding-bottom:calc(var(--fix) * 4)}.pv-sm-5{padding-top:calc(var(--fix) * 5);padding-bottom:calc(var(--fix) * 5)}.pv-sm-6{padding-top:calc(var(--fix) * 6);padding-bottom:calc(var(--fix) * 6)}.pv-sm-7{padding-top:calc(var(--fix) * 7);padding-bottom:calc(var(--fix) * 7)}.pv-sm-8{padding-top:calc(var(--fix) * 8);padding-bottom:calc(var(--fix) * 8)}.pv-sm-9{padding-top:calc(var(--fix) * 9);padding-bottom:calc(var(--fix) * 9)}.pv-sm-10{padding-top:calc(var(--fix) * 10);padding-bottom:calc(var(--fix) * 10)}.pv-sm-11{padding-top:calc(var(--fix) * 11);padding-bottom:calc(var(--fix) * 11)}.pv-sm-12{padding-top:calc(var(--fix) * 12);padding-bottom:calc(var(--fix) * 12)}.pl-sm-auto{padding-left:auto}.pl-sm-0{padding-left:0}.pl-sm-1{padding-left:var(--fix)}.pl-sm-2{padding-left:calc(var(--fix) * 2)}.pl-sm-3{padding-left:calc(var(--fix) * 3)}.pl-sm-4{padding-left:calc(var(--fix) * 4)}.pl-sm-5{padding-left:calc(var(--fix) * 5)}.pl-sm-6{padding-left:calc(var(--fix) * 6)}.pl-sm-7{padding-left:calc(var(--fix) * 7)}.pl-sm-8{padding-left:calc(var(--fix) * 8)}.pl-sm-9{padding-left:calc(var(--fix) * 9)}.pl-sm-10{padding-left:calc(var(--fix) * 10)}.pl-sm-11{padding-left:calc(var(--fix) * 11)}.pl-sm-12{padding-left:calc(var(--fix) * 12)}.pt-sm-auto{padding-top:auto}.pt-sm-0{padding-top:0}.pt-sm-1{padding-top:var(--fix)}.pt-sm-2{padding-top:calc(var(--fix) * 2)}.pt-sm-3{padding-top:calc(var(--fix) * 3)}.pt-sm-4{padding-top:calc(var(--fix) * 4)}.pt-sm-5{padding-top:calc(var(--fix) * 5)}.pt-sm-6{padding-top:calc(var(--fix) * 6)}.pt-sm-7{padding-top:calc(var(--fix) * 7)}.pt-sm-8{padding-top:calc(var(--fix) * 8)}.pt-sm-9{padding-top:calc(var(--fix) * 9)}.pt-sm-10{padding-top:calc(var(--fix) * 10)}.pt-sm-11{padding-top:calc(var(--fix) * 11)}.pt-sm-12{padding-top:calc(var(--fix) * 12)}.pr-sm-auto{padding-right:auto}.pr-sm-0{padding-right:0}.pr-sm-1{padding-right:var(--fix)}.pr-sm-2{padding-right:calc(var(--fix) * 2)}.pr-sm-3{padding-right:calc(var(--fix) * 3)}.pr-sm-4{padding-right:calc(var(--fix) * 4)}.pr-sm-5{padding-right:calc(var(--fix) * 5)}.pr-sm-6{padding-right:calc(var(--fix) * 6)}.pr-sm-7{padding-right:calc(var(--fix) * 7)}.pr-sm-8{padding-right:calc(var(--fix) * 8)}.pr-sm-9{padding-right:calc(var(--fix) * 9)}.pr-sm-10{padding-right:calc(var(--fix) * 10)}.pr-sm-11{padding-right:calc(var(--fix) * 11)}.pr-sm-12{padding-right:calc(var(--fix) * 12)}.pb-sm-auto{padding-bottom:auto}.pb-sm-0{padding-bottom:0}.pb-sm-1{padding-bottom:var(--fix)}.pb-sm-2{padding-bottom:calc(var(--fix) * 2)}.pb-sm-3{padding-bottom:calc(var(--fix) * 3)}.pb-sm-4{padding-bottom:calc(var(--fix) * 4)}.pb-sm-5{padding-bottom:calc(var(--fix) * 5)}.pb-sm-6{padding-bottom:calc(var(--fix) * 6)}.pb-sm-7{padding-bottom:calc(var(--fix) * 7)}.pb-sm-8{padding-bottom:calc(var(--fix) * 8)}.pb-sm-9{padding-bottom:calc(var(--fix) * 9)}.pb-sm-10{padding-bottom:calc(var(--fix) * 10)}.pb-sm-11{padding-bottom:calc(var(--fix) * 11)}.pb-sm-12{padding-bottom:calc(var(--fix) * 12)}}
@media (min-width:768px){.p-md-auto{padding:auto}.p-md-0{padding:0}.p-md-1{padding:var(--fix)}.p-md-2{padding:calc(var(--fix) * 2)}.p-md-3{padding:calc(var(--fix) * 3)}.p-md-4{padding:calc(var(--fix) * 4)}.p-md-5{padding:calc(var(--fix) * 5)}.p-md-6{padding:calc(var(--fix) * 6)}.p-md-7{padding:calc(var(--fix) * 7)}.p-md-8{padding:calc(var(--fix) * 8)}.p-md-9{padding:calc(var(--fix) * 9)}.p-md-10{padding:calc(var(--fix) * 10)}.p-md-11{padding:calc(var(--fix) * 11)}.p-md-12{padding:calc(var(--fix) * 12)}.ph-md-auto{padding-left:auto;padding-right:auto}.ph-md-0{padding-left:0;padding-right:0}.ph-md-1{padding-left:var(--fix);padding-right:var(--fix)}.ph-md-2{padding-left:calc(var(--fix) * 2);padding-right:calc(var(--fix) * 2)}.ph-md-3{padding-left:calc(var(--fix) * 3);padding-right:calc(var(--fix) * 3)}.ph-md-4{padding-left:calc(var(--fix) * 4);padding-right:calc(var(--fix) * 4)}.ph-md-5{padding-left:calc(var(--fix) * 5);padding-right:calc(var(--fix) * 5)}.ph-md-6{padding-left:calc(var(--fix) * 6);padding-right:calc(var(--fix) * 6)}.ph-md-7{padding-left:calc(var(--fix) * 7);padding-right:calc(var(--fix) * 7)}.ph-md-8{padding-left:calc(var(--fix) * 8);padding-right:calc(var(--fix) * 8)}.ph-md-9{padding-left:calc(var(--fix) * 9);padding-right:calc(var(--fix) * 9)}.ph-md-10{padding-left:calc(var(--fix) * 10);padding-right:calc(var(--fix) * 10)}.ph-md-11{padding-left:calc(var(--fix) * 11);padding-right:calc(var(--fix) * 11)}.ph-md-12{padding-left:calc(var(--fix) * 12);padding-right:calc(var(--fix) * 12)}.pv-md-auto{padding-top:auto;padding-bottom:auto}.pv-md-0{padding-top:0;padding-bottom:0}.pv-md-1{padding-top:var(--fix);padding-bottom:var(--fix)}.pv-md-2{padding-top:calc(var(--fix) * 2);padding-bottom:calc(var(--fix) * 2)}.pv-md-3{padding-top:calc(var(--fix) * 3);padding-bottom:calc(var(--fix) * 3)}.pv-md-4{padding-top:calc(var(--fix) * 4);padding-bottom:calc(var(--fix) * 4)}.pv-md-5{padding-top:calc(var(--fix) * 5);padding-bottom:calc(var(--fix) * 5)}.pv-md-6{padding-top:calc(var(--fix) * 6);padding-bottom:calc(var(--fix) * 6)}.pv-md-7{padding-top:calc(var(--fix) * 7);padding-bottom:calc(var(--fix) * 7)}.pv-md-8{padding-top:calc(var(--fix) * 8);padding-bottom:calc(var(--fix) * 8)}.pv-md-9{padding-top:calc(var(--fix) * 9);padding-bottom:calc(var(--fix) * 9)}.pv-md-10{padding-top:calc(var(--fix) * 10);padding-bottom:calc(var(--fix) * 10)}.pv-md-11{padding-top:calc(var(--fix) * 11);padding-bottom:calc(var(--fix) * 11)}.pv-md-12{padding-top:calc(var(--fix) * 12);padding-bottom:calc(var(--fix) * 12)}.pl-md-auto{padding-left:auto}.pl-md-0{padding-left:0}.pl-md-1{padding-left:var(--fix)}.pl-md-2{padding-left:calc(var(--fix) * 2)}.pl-md-3{padding-left:calc(var(--fix) * 3)}.pl-md-4{padding-left:calc(var(--fix) * 4)}.pl-md-5{padding-left:calc(var(--fix) * 5)}.pl-md-6{padding-left:calc(var(--fix) * 6)}.pl-md-7{padding-left:calc(var(--fix) * 7)}.pl-md-8{padding-left:calc(var(--fix) * 8)}.pl-md-9{padding-left:calc(var(--fix) * 9)}.pl-md-10{padding-left:calc(var(--fix) * 10)}.pl-md-11{padding-left:calc(var(--fix) * 11)}.pl-md-12{padding-left:calc(var(--fix) * 12)}.pt-md-auto{padding-top:auto}.pt-md-0{padding-top:0}.pt-md-1{padding-top:var(--fix)}.pt-md-2{padding-top:calc(var(--fix) * 2)}.pt-md-3{padding-top:calc(var(--fix) * 3)}.pt-md-4{padding-top:calc(var(--fix) * 4)}.pt-md-5{padding-top:calc(var(--fix) * 5)}.pt-md-6{padding-top:calc(var(--fix) * 6)}.pt-md-7{padding-top:calc(var(--fix) * 7)}.pt-md-8{padding-top:calc(var(--fix) * 8)}.pt-md-9{padding-top:calc(var(--fix) * 9)}.pt-md-10{padding-top:calc(var(--fix) * 10)}.pt-md-11{padding-top:calc(var(--fix) * 11)}.pt-md-12{padding-top:calc(var(--fix) * 12)}.pr-md-auto{padding-right:auto}.pr-md-0{padding-right:0}.pr-md-1{padding-right:var(--fix)}.pr-md-2{padding-right:calc(var(--fix) * 2)}.pr-md-3{padding-right:calc(var(--fix) * 3)}.pr-md-4{padding-right:calc(var(--fix) * 4)}.pr-md-5{padding-right:calc(var(--fix) * 5)}.pr-md-6{padding-right:calc(var(--fix) * 6)}.pr-md-7{padding-right:calc(var(--fix) * 7)}.pr-md-8{padding-right:calc(var(--fix) * 8)}.pr-md-9{padding-right:calc(var(--fix) * 9)}.pr-md-10{padding-right:calc(var(--fix) * 10)}.pr-md-11{padding-right:calc(var(--fix) * 11)}.pr-md-12{padding-right:calc(var(--fix) * 12)}.pb-md-auto{padding-bottom:auto}.pb-md-0{padding-bottom:0}.pb-md-1{padding-bottom:var(--fix)}.pb-md-2{padding-bottom:calc(var(--fix) * 2)}.pb-md-3{padding-bottom:calc(var(--fix) * 3)}.pb-md-4{padding-bottom:calc(var(--fix) * 4)}.pb-md-5{padding-bottom:calc(var(--fix) * 5)}.pb-md-6{padding-bottom:calc(var(--fix) * 6)}.pb-md-7{padding-bottom:calc(var(--fix) * 7)}.pb-md-8{padding-bottom:calc(var(--fix) * 8)}.pb-md-9{padding-bottom:calc(var(--fix) * 9)}.pb-md-10{padding-bottom:calc(var(--fix) * 10)}.pb-md-11{padding-bottom:calc(var(--fix) * 11)}.pb-md-12{padding-bottom:calc(var(--fix) * 12)}}
@media (min-width:992px){.p-lg-auto{padding:auto}.p-lg-0{padding:0}.p-lg-1{padding:var(--fix)}.p-lg-2{padding:calc(var(--fix) * 2)}.p-lg-3{padding:calc(var(--fix) * 3)}.p-lg-4{padding:calc(var(--fix) * 4)}.p-lg-5{padding:calc(var(--fix) * 5)}.p-lg-6{padding:calc(var(--fix) * 6)}.p-lg-7{padding:calc(var(--fix) * 7)}.p-lg-8{padding:calc(var(--fix) * 8)}.p-lg-9{padding:calc(var(--fix) * 9)}.p-lg-10{padding:calc(var(--fix) * 10)}.p-lg-11{padding:calc(var(--fix) * 11)}.p-lg-12{padding:calc(var(--fix) * 12)}.ph-lg-auto{padding-left:auto;padding-right:auto}.ph-lg-0{padding-left:0;padding-right:0}.ph-lg-1{padding-left:var(--fix);padding-right:var(--fix)}.ph-lg-2{padding-left:calc(var(--fix) * 2);padding-right:calc(var(--fix) * 2)}.ph-lg-3{padding-left:calc(var(--fix) * 3);padding-right:calc(var(--fix) * 3)}.ph-lg-4{padding-left:calc(var(--fix) * 4);padding-right:calc(var(--fix) * 4)}.ph-lg-5{padding-left:calc(var(--fix) * 5);padding-right:calc(var(--fix) * 5)}.ph-lg-6{padding-left:calc(var(--fix) * 6);padding-right:calc(var(--fix) * 6)}.ph-lg-7{padding-left:calc(var(--fix) * 7);padding-right:calc(var(--fix) * 7)}.ph-lg-8{padding-left:calc(var(--fix) * 8);padding-right:calc(var(--fix) * 8)}.ph-lg-9{padding-left:calc(var(--fix) * 9);padding-right:calc(var(--fix) * 9)}.ph-lg-10{padding-left:calc(var(--fix) * 10);padding-right:calc(var(--fix) * 10)}.ph-lg-11{padding-left:calc(var(--fix) * 11);padding-right:calc(var(--fix) * 11)}.ph-lg-12{padding-left:calc(var(--fix) * 12);padding-right:calc(var(--fix) * 12)}.pv-lg-auto{padding-top:auto;padding-bottom:auto}.pv-lg-0{padding-top:0;padding-bottom:0}.pv-lg-1{padding-top:var(--fix);padding-bottom:var(--fix)}.pv-lg-2{padding-top:calc(var(--fix) * 2);padding-bottom:calc(var(--fix) * 2)}.pv-lg-3{padding-top:calc(var(--fix) * 3);padding-bottom:calc(var(--fix) * 3)}.pv-lg-4{padding-top:calc(var(--fix) * 4);padding-bottom:calc(var(--fix) * 4)}.pv-lg-5{padding-top:calc(var(--fix) * 5);padding-bottom:calc(var(--fix) * 5)}.pv-lg-6{padding-top:calc(var(--fix) * 6);padding-bottom:calc(var(--fix) * 6)}.pv-lg-7{padding-top:calc(var(--fix) * 7);padding-bottom:calc(var(--fix) * 7)}.pv-lg-8{padding-top:calc(var(--fix) * 8);padding-bottom:calc(var(--fix) * 8)}.pv-lg-9{padding-top:calc(var(--fix) * 9);padding-bottom:calc(var(--fix) * 9)}.pv-lg-10{padding-top:calc(var(--fix) * 10);padding-bottom:calc(var(--fix) * 10)}.pv-lg-11{padding-top:calc(var(--fix) * 11);padding-bottom:calc(var(--fix) * 11)}.pv-lg-12{padding-top:calc(var(--fix) * 12);padding-bottom:calc(var(--fix) * 12)}.pl-lg-auto{padding-left:auto}.pl-lg-0{padding-left:0}.pl-lg-1{padding-left:var(--fix)}.pl-lg-2{padding-left:calc(var(--fix) * 2)}.pl-lg-3{padding-left:calc(var(--fix) * 3)}.pl-lg-4{padding-left:calc(var(--fix) * 4)}.pl-lg-5{padding-left:calc(var(--fix) * 5)}.pl-lg-6{padding-left:calc(var(--fix) * 6)}.pl-lg-7{padding-left:calc(var(--fix) * 7)}.pl-lg-8{padding-left:calc(var(--fix) * 8)}.pl-lg-9{padding-left:calc(var(--fix) * 9)}.pl-lg-10{padding-left:calc(var(--fix) * 10)}.pl-lg-11{padding-left:calc(var(--fix) * 11)}.pl-lg-12{padding-left:calc(var(--fix) * 12)}.pt-lg-auto{padding-top:auto}.pt-lg-0{padding-top:0}.pt-lg-1{padding-top:var(--fix)}.pt-lg-2{padding-top:calc(var(--fix) * 2)}.pt-lg-3{padding-top:calc(var(--fix) * 3)}.pt-lg-4{padding-top:calc(var(--fix) * 4)}.pt-lg-5{padding-top:calc(var(--fix) * 5)}.pt-lg-6{padding-top:calc(var(--fix) * 6)}.pt-lg-7{padding-top:calc(var(--fix) * 7)}.pt-lg-8{padding-top:calc(var(--fix) * 8)}.pt-lg-9{padding-top:calc(var(--fix) * 9)}.pt-lg-10{padding-top:calc(var(--fix) * 10)}.pt-lg-11{padding-top:calc(var(--fix) * 11)}.pt-lg-12{padding-top:calc(var(--fix) * 12)}.pr-lg-auto{padding-right:auto}.pr-lg-0{padding-right:0}.pr-lg-1{padding-right:var(--fix)}.pr-lg-2{padding-right:calc(var(--fix) * 2)}.pr-lg-3{padding-right:calc(var(--fix) * 3)}.pr-lg-4{padding-right:calc(var(--fix) * 4)}.pr-lg-5{padding-right:calc(var(--fix) * 5)}.pr-lg-6{padding-right:calc(var(--fix) * 6)}.pr-lg-7{padding-right:calc(var(--fix) * 7)}.pr-lg-8{padding-right:calc(var(--fix) * 8)}.pr-lg-9{padding-right:calc(var(--fix) * 9)}.pr-lg-10{padding-right:calc(var(--fix) * 10)}.pr-lg-11{padding-right:calc(var(--fix) * 11)}.pr-lg-12{padding-right:calc(var(--fix) * 12)}.pb-lg-auto{padding-bottom:auto}.pb-lg-0{padding-bottom:0}.pb-lg-1{padding-bottom:var(--fix)}.pb-lg-2{padding-bottom:calc(var(--fix) * 2)}.pb-lg-3{padding-bottom:calc(var(--fix) * 3)}.pb-lg-4{padding-bottom:calc(var(--fix) * 4)}.pb-lg-5{padding-bottom:calc(var(--fix) * 5)}.pb-lg-6{padding-bottom:calc(var(--fix) * 6)}.pb-lg-7{padding-bottom:calc(var(--fix) * 7)}.pb-lg-8{padding-bottom:calc(var(--fix) * 8)}.pb-lg-9{padding-bottom:calc(var(--fix) * 9)}.pb-lg-10{padding-bottom:calc(var(--fix) * 10)}.pb-lg-11{padding-bottom:calc(var(--fix) * 11)}.pb-lg-12{padding-bottom:calc(var(--fix) * 12)}}
@media (min-width:1200px){.p-xl-auto{padding:auto}.p-xl-0{padding:0}.p-xl-1{padding:var(--fix)}.p-xl-2{padding:calc(var(--fix) * 2)}.p-xl-3{padding:calc(var(--fix) * 3)}.p-xl-4{padding:calc(var(--fix) * 4)}.p-xl-5{padding:calc(var(--fix) * 5)}.p-xl-6{padding:calc(var(--fix) * 6)}.p-xl-7{padding:calc(var(--fix) * 7)}.p-xl-8{padding:calc(var(--fix) * 8)}.p-xl-9{padding:calc(var(--fix) * 9)}.p-xl-10{padding:calc(var(--fix) * 10)}.p-xl-11{padding:calc(var(--fix) * 11)}.p-xl-12{padding:calc(var(--fix) * 12)}.ph-xl-auto{padding-left:auto;padding-right:auto}.ph-xl-0{padding-left:0;padding-right:0}.ph-xl-1{padding-left:var(--fix);padding-right:var(--fix)}.ph-xl-2{padding-left:calc(var(--fix) * 2);padding-right:calc(var(--fix) * 2)}.ph-xl-3{padding-left:calc(var(--fix) * 3);padding-right:calc(var(--fix) * 3)}.ph-xl-4{padding-left:calc(var(--fix) * 4);padding-right:calc(var(--fix) * 4)}.ph-xl-5{padding-left:calc(var(--fix) * 5);padding-right:calc(var(--fix) * 5)}.ph-xl-6{padding-left:calc(var(--fix) * 6);padding-right:calc(var(--fix) * 6)}.ph-xl-7{padding-left:calc(var(--fix) * 7);padding-right:calc(var(--fix) * 7)}.ph-xl-8{padding-left:calc(var(--fix) * 8);padding-right:calc(var(--fix) * 8)}.ph-xl-9{padding-left:calc(var(--fix) * 9);padding-right:calc(var(--fix) * 9)}.ph-xl-10{padding-left:calc(var(--fix) * 10);padding-right:calc(var(--fix) * 10)}.ph-xl-11{padding-left:calc(var(--fix) * 11);padding-right:calc(var(--fix) * 11)}.ph-xl-12{padding-left:calc(var(--fix) * 12);padding-right:calc(var(--fix) * 12)}.pv-xl-auto{padding-top:auto;padding-bottom:auto}.pv-xl-0{padding-top:0;padding-bottom:0}.pv-xl-1{padding-top:var(--fix);padding-bottom:var(--fix)}.pv-xl-2{padding-top:calc(var(--fix) * 2);padding-bottom:calc(var(--fix) * 2)}.pv-xl-3{padding-top:calc(var(--fix) * 3);padding-bottom:calc(var(--fix) * 3)}.pv-xl-4{padding-top:calc(var(--fix) * 4);padding-bottom:calc(var(--fix) * 4)}.pv-xl-5{padding-top:calc(var(--fix) * 5);padding-bottom:calc(var(--fix) * 5)}.pv-xl-6{padding-top:calc(var(--fix) * 6);padding-bottom:calc(var(--fix) * 6)}.pv-xl-7{padding-top:calc(var(--fix) * 7);padding-bottom:calc(var(--fix) * 7)}.pv-xl-8{padding-top:calc(var(--fix) * 8);padding-bottom:calc(var(--fix) * 8)}.pv-xl-9{padding-top:calc(var(--fix) * 9);padding-bottom:calc(var(--fix) * 9)}.pv-xl-10{padding-top:calc(var(--fix) * 10);padding-bottom:calc(var(--fix) * 10)}.pv-xl-11{padding-top:calc(var(--fix) * 11);padding-bottom:calc(var(--fix) * 11)}.pv-xl-12{padding-top:calc(var(--fix) * 12);padding-bottom:calc(var(--fix) * 12)}.pl-xl-auto{padding-left:auto}.pl-xl-0{padding-left:0}.pl-xl-1{padding-left:var(--fix)}.pl-xl-2{padding-left:calc(var(--fix) * 2)}.pl-xl-3{padding-left:calc(var(--fix) * 3)}.pl-xl-4{padding-left:calc(var(--fix) * 4)}.pl-xl-5{padding-left:calc(var(--fix) * 5)}.pl-xl-6{padding-left:calc(var(--fix) * 6)}.pl-xl-7{padding-left:calc(var(--fix) * 7)}.pl-xl-8{padding-left:calc(var(--fix) * 8)}.pl-xl-9{padding-left:calc(var(--fix) * 9)}.pl-xl-10{padding-left:calc(var(--fix) * 10)}.pl-xl-11{padding-left:calc(var(--fix) * 11)}.pl-xl-12{padding-left:calc(var(--fix) * 12)}.pt-xl-auto{padding-top:auto}.pt-xl-0{padding-top:0}.pt-xl-1{padding-top:var(--fix)}.pt-xl-2{padding-top:calc(var(--fix) * 2)}.pt-xl-3{padding-top:calc(var(--fix) * 3)}.pt-xl-4{padding-top:calc(var(--fix) * 4)}.pt-xl-5{padding-top:calc(var(--fix) * 5)}.pt-xl-6{padding-top:calc(var(--fix) * 6)}.pt-xl-7{padding-top:calc(var(--fix) * 7)}.pt-xl-8{padding-top:calc(var(--fix) * 8)}.pt-xl-9{padding-top:calc(var(--fix) * 9)}.pt-xl-10{padding-top:calc(var(--fix) * 10)}.pt-xl-11{padding-top:calc(var(--fix) * 11)}.pt-xl-12{padding-top:calc(var(--fix) * 12)}.pr-xl-auto{padding-right:auto}.pr-xl-0{padding-right:0}.pr-xl-1{padding-right:var(--fix)}.pr-xl-2{padding-right:calc(var(--fix) * 2)}.pr-xl-3{padding-right:calc(var(--fix) * 3)}.pr-xl-4{padding-right:calc(var(--fix) * 4)}.pr-xl-5{padding-right:calc(var(--fix) * 5)}.pr-xl-6{padding-right:calc(var(--fix) * 6)}.pr-xl-7{padding-right:calc(var(--fix) * 7)}.pr-xl-8{padding-right:calc(var(--fix) * 8)}.pr-xl-9{padding-right:calc(var(--fix) * 9)}.pr-xl-10{padding-right:calc(var(--fix) * 10)}.pr-xl-11{padding-right:calc(var(--fix) * 11)}.pr-xl-12{padding-right:calc(var(--fix) * 12)}.pb-xl-auto{padding-bottom:auto}.pb-xl-0{padding-bottom:0}.pb-xl-1{padding-bottom:var(--fix)}.pb-xl-2{padding-bottom:calc(var(--fix) * 2)}.pb-xl-3{padding-bottom:calc(var(--fix) * 3)}.pb-xl-4{padding-bottom:calc(var(--fix) * 4)}.pb-xl-5{padding-bottom:calc(var(--fix) * 5)}.pb-xl-6{padding-bottom:calc(var(--fix) * 6)}.pb-xl-7{padding-bottom:calc(var(--fix) * 7)}.pb-xl-8{padding-bottom:calc(var(--fix) * 8)}.pb-xl-9{padding-bottom:calc(var(--fix) * 9)}.pb-xl-10{padding-bottom:calc(var(--fix) * 10)}.pb-xl-11{padding-bottom:calc(var(--fix) * 11)}.pb-xl-12{padding-bottom:calc(var(--fix) * 12)}}

/* Margin */
.m-auto{margin:auto}.m-0{margin:0}.m-1{margin:var(--fix)}.m-2{margin:calc(var(--fix) * 2)}.m-3{margin:calc(var(--fix) * 3)}.m-4{margin:calc(var(--fix) * 4)}.m-5{margin:calc(var(--fix) * 5)}.m-6{margin:calc(var(--fix) * 6)}.m-7{margin:calc(var(--fix) * 7)}.m-8{margin:calc(var(--fix) * 8)}.m-9{margin:calc(var(--fix) * 9)}.m-10{margin:calc(var(--fix) * 10)}.m-11{margin:calc(var(--fix) * 11)}.m-12{margin:calc(var(--fix) * 12)}
.mh-auto{margin-left:auto;margin-right:auto}.mh-0{margin-left:0;margin-right:0}.mh-1{margin-left:var(--fix);margin-right:var(--fix)}.mh-2{margin-left:calc(var(--fix) * 2);margin-right:calc(var(--fix) * 2)}.mh-3{margin-left:calc(var(--fix) * 3);margin-right:calc(var(--fix) * 3)}.mh-4{margin-left:calc(var(--fix) * 4);margin-right:calc(var(--fix) * 4)}.mh-5{margin-left:calc(var(--fix) * 5);margin-right:calc(var(--fix) * 5)}.mh-6{margin-left:calc(var(--fix) * 6);margin-right:calc(var(--fix) * 6)}.mh-7{margin-left:calc(var(--fix) * 7);margin-right:calc(var(--fix) * 7)}.mh-8{margin-left:calc(var(--fix) * 8);margin-right:calc(var(--fix) * 8)}.mh-9{margin-left:calc(var(--fix) * 9);margin-right:calc(var(--fix) * 9)}.mh-10{margin-left:calc(var(--fix) * 10);margin-right:calc(var(--fix) * 10)}.mh-11{margin-left:calc(var(--fix) * 11);margin-right:calc(var(--fix) * 11)}.mh-12{margin-left:calc(var(--fix) * 12);margin-right:calc(var(--fix) * 12)}
.mv-auto{margin-top:auto;margin-bottom:auto}.mv-0{margin-top:0;margin-bottom:0}.mv-1{margin-top:var(--fix);margin-bottom:var(--fix)}.mv-2{margin-top:calc(var(--fix) * 2);margin-bottom:calc(var(--fix) * 2)}.mv-3{margin-top:calc(var(--fix) * 3);margin-bottom:calc(var(--fix) * 3)}.mv-4{margin-top:calc(var(--fix) * 4);margin-bottom:calc(var(--fix) * 4)}.mv-5{margin-top:calc(var(--fix) * 5);margin-bottom:calc(var(--fix) * 5)}.mv-6{margin-top:calc(var(--fix) * 6);margin-bottom:calc(var(--fix) * 6)}.mv-7{margin-top:calc(var(--fix) * 7);margin-bottom:calc(var(--fix) * 7)}.mv-8{margin-top:calc(var(--fix) * 8);margin-bottom:calc(var(--fix) * 8)}.mv-9{margin-top:calc(var(--fix) * 9);margin-bottom:calc(var(--fix) * 9)}.mv-10{margin-top:calc(var(--fix) * 10);margin-bottom:calc(var(--fix) * 10)}.mv-11{margin-top:calc(var(--fix) * 11);margin-bottom:calc(var(--fix) * 11)}.mv-12{margin-top:calc(var(--fix) * 12);margin-bottom:calc(var(--fix) * 12)}
.ml-auto{margin-left:auto}.ml-0{margin-left:0}.ml-1{margin-left:var(--fix)}.ml-2{margin-left:calc(var(--fix) * 2)}.ml-3{margin-left:calc(var(--fix) * 3)}.ml-4{margin-left:calc(var(--fix) * 4)}.ml-5{margin-left:calc(var(--fix) * 5)}.ml-6{margin-left:calc(var(--fix) * 6)}.ml-7{margin-left:calc(var(--fix) * 7)}.ml-8{margin-left:calc(var(--fix) * 8)}.ml-9{margin-left:calc(var(--fix) * 9)}.ml-10{margin-left:calc(var(--fix) * 10)}.ml-11{margin-left:calc(var(--fix) * 11)}.ml-12{margin-left:calc(var(--fix) * 12)}
.mt-auto{margin-top:auto}.mt-0{margin-top:0}.mt-1{margin-top:var(--fix)}.mt-2{margin-top:calc(var(--fix) * 2)}.mt-3{margin-top:calc(var(--fix) * 3)}.mt-4{margin-top:calc(var(--fix) * 4)}.mt-5{margin-top:calc(var(--fix) * 5)}.mt-6{margin-top:calc(var(--fix) * 6)}.mt-7{margin-top:calc(var(--fix) * 7)}.mt-8{margin-top:calc(var(--fix) * 8)}.mt-9{margin-top:calc(var(--fix) * 9)}.mt-10{margin-top:calc(var(--fix) * 10)}.mt-11{margin-top:calc(var(--fix) * 11)}.mt-12{margin-top:calc(var(--fix) * 12)}
.mr-auto{margin-right:auto}.mr-0{margin-right:0}.mr-1{margin-right:var(--fix)}.mr-2{margin-right:calc(var(--fix) * 2)}.mr-3{margin-right:calc(var(--fix) * 3)}.mr-4{margin-right:calc(var(--fix) * 4)}.mr-5{margin-right:calc(var(--fix) * 5)}.mr-6{margin-right:calc(var(--fix) * 6)}.mr-7{margin-right:calc(var(--fix) * 7)}.mr-8{margin-right:calc(var(--fix) * 8)}.mr-9{margin-right:calc(var(--fix) * 9)}.mr-10{margin-right:calc(var(--fix) * 10)}.mr-11{margin-right:calc(var(--fix) * 11)}.mr-12{margin-right:calc(var(--fix) * 12)}
.mb-auto{margin-bottom:auto}.mb-0{margin-bottom:0}.mb-1{margin-bottom:var(--fix)}.mb-2{margin-bottom:calc(var(--fix) * 2)}.mb-3{margin-bottom:calc(var(--fix) * 3)}.mb-4{margin-bottom:calc(var(--fix) * 4)}.mb-5{margin-bottom:calc(var(--fix) * 5)}.mb-6{margin-bottom:calc(var(--fix) * 6)}.mb-7{margin-bottom:calc(var(--fix) * 7)}.mb-8{margin-bottom:calc(var(--fix) * 8)}.mb-9{margin-bottom:calc(var(--fix) * 9)}.mb-10{margin-bottom:calc(var(--fix) * 10)}.mb-11{margin-bottom:calc(var(--fix) * 11)}.mb-12{margin-bottom:calc(var(--fix) * 12)}
@media (min-width:576px){.m-sm-auto{margin:auto}.m-sm-0{margin:0}.m-sm-1{margin:var(--fix)}.m-sm-2{margin:calc(var(--fix) * 2)}.m-sm-3{margin:calc(var(--fix) * 3)}.m-sm-4{margin:calc(var(--fix) * 4)}.m-sm-5{margin:calc(var(--fix) * 5)}.m-sm-6{margin:calc(var(--fix) * 6)}.m-sm-7{margin:calc(var(--fix) * 7)}.m-sm-8{margin:calc(var(--fix) * 8)}.m-sm-9{margin:calc(var(--fix) * 9)}.m-sm-10{margin:calc(var(--fix) * 10)}.m-sm-11{margin:calc(var(--fix) * 11)}.m-sm-12{margin:calc(var(--fix) * 12)}.mh-sm-auto{margin-left:auto;margin-right:auto}.mh-sm-0{margin-left:0;margin-right:0}.mh-sm-1{margin-left:var(--fix);margin-right:var(--fix)}.mh-sm-2{margin-left:calc(var(--fix) * 2);margin-right:calc(var(--fix) * 2)}.mh-sm-3{margin-left:calc(var(--fix) * 3);margin-right:calc(var(--fix) * 3)}.mh-sm-4{margin-left:calc(var(--fix) * 4);margin-right:calc(var(--fix) * 4)}.mh-sm-5{margin-left:calc(var(--fix) * 5);margin-right:calc(var(--fix) * 5)}.mh-sm-6{margin-left:calc(var(--fix) * 6);margin-right:calc(var(--fix) * 6)}.mh-sm-7{margin-left:calc(var(--fix) * 7);margin-right:calc(var(--fix) * 7)}.mh-sm-8{margin-left:calc(var(--fix) * 8);margin-right:calc(var(--fix) * 8)}.mh-sm-9{margin-left:calc(var(--fix) * 9);margin-right:calc(var(--fix) * 9)}.mh-sm-10{margin-left:calc(var(--fix) * 10);margin-right:calc(var(--fix) * 10)}.mh-sm-11{margin-left:calc(var(--fix) * 11);margin-right:calc(var(--fix) * 11)}.mh-sm-12{margin-left:calc(var(--fix) * 12);margin-right:calc(var(--fix) * 12)}.mv-sm-auto{margin-top:auto;margin-bottom:auto}.mv-sm-0{margin-top:0;margin-bottom:0}.mv-sm-1{margin-top:var(--fix);margin-bottom:var(--fix)}.mv-sm-2{margin-top:calc(var(--fix) * 2);margin-bottom:calc(var(--fix) * 2)}.mv-sm-3{margin-top:calc(var(--fix) * 3);margin-bottom:calc(var(--fix) * 3)}.mv-sm-4{margin-top:calc(var(--fix) * 4);margin-bottom:calc(var(--fix) * 4)}.mv-sm-5{margin-top:calc(var(--fix) * 5);margin-bottom:calc(var(--fix) * 5)}.mv-sm-6{margin-top:calc(var(--fix) * 6);margin-bottom:calc(var(--fix) * 6)}.mv-sm-7{margin-top:calc(var(--fix) * 7);margin-bottom:calc(var(--fix) * 7)}.mv-sm-8{margin-top:calc(var(--fix) * 8);margin-bottom:calc(var(--fix) * 8)}.mv-sm-9{margin-top:calc(var(--fix) * 9);margin-bottom:calc(var(--fix) * 9)}.mv-sm-10{margin-top:calc(var(--fix) * 10);margin-bottom:calc(var(--fix) * 10)}.mv-sm-11{margin-top:calc(var(--fix) * 11);margin-bottom:calc(var(--fix) * 11)}.mv-sm-12{margin-top:calc(var(--fix) * 12);margin-bottom:calc(var(--fix) * 12)}.ml-sm-auto{margin-left:auto}.ml-sm-0{margin-left:0}.ml-sm-1{margin-left:var(--fix)}.ml-sm-2{margin-left:calc(var(--fix) * 2)}.ml-sm-3{margin-left:calc(var(--fix) * 3)}.ml-sm-4{margin-left:calc(var(--fix) * 4)}.ml-sm-5{margin-left:calc(var(--fix) * 5)}.ml-sm-6{margin-left:calc(var(--fix) * 6)}.ml-sm-7{margin-left:calc(var(--fix) * 7)}.ml-sm-8{margin-left:calc(var(--fix) * 8)}.ml-sm-9{margin-left:calc(var(--fix) * 9)}.ml-sm-10{margin-left:calc(var(--fix) * 10)}.ml-sm-11{margin-left:calc(var(--fix) * 11)}.ml-sm-12{margin-left:calc(var(--fix) * 12)}.mt-sm-auto{margin-top:auto}.mt-sm-0{margin-top:0}.mt-sm-1{margin-top:var(--fix)}.mt-sm-2{margin-top:calc(var(--fix) * 2)}.mt-sm-3{margin-top:calc(var(--fix) * 3)}.mt-sm-4{margin-top:calc(var(--fix) * 4)}.mt-sm-5{margin-top:calc(var(--fix) * 5)}.mt-sm-6{margin-top:calc(var(--fix) * 6)}.mt-sm-7{margin-top:calc(var(--fix) * 7)}.mt-sm-8{margin-top:calc(var(--fix) * 8)}.mt-sm-9{margin-top:calc(var(--fix) * 9)}.mt-sm-10{margin-top:calc(var(--fix) * 10)}.mt-sm-11{margin-top:calc(var(--fix) * 11)}.mt-sm-12{margin-top:calc(var(--fix) * 12)}.mr-sm-auto{margin-right:auto}.mr-sm-0{margin-right:0}.mr-sm-1{margin-right:var(--fix)}.mr-sm-2{margin-right:calc(var(--fix) * 2)}.mr-sm-3{margin-right:calc(var(--fix) * 3)}.mr-sm-4{margin-right:calc(var(--fix) * 4)}.mr-sm-5{margin-right:calc(var(--fix) * 5)}.mr-sm-6{margin-right:calc(var(--fix) * 6)}.mr-sm-7{margin-right:calc(var(--fix) * 7)}.mr-sm-8{margin-right:calc(var(--fix) * 8)}.mr-sm-9{margin-right:calc(var(--fix) * 9)}.mr-sm-10{margin-right:calc(var(--fix) * 10)}.mr-sm-11{margin-right:calc(var(--fix) * 11)}.mr-sm-12{margin-right:calc(var(--fix) * 12)}.mb-sm-auto{margin-bottom:auto}.mb-sm-0{margin-bottom:0}.mb-sm-1{margin-bottom:var(--fix)}.mb-sm-2{margin-bottom:calc(var(--fix) * 2)}.mb-sm-3{margin-bottom:calc(var(--fix) * 3)}.mb-sm-4{margin-bottom:calc(var(--fix) * 4)}.mb-sm-5{margin-bottom:calc(var(--fix) * 5)}.mb-sm-6{margin-bottom:calc(var(--fix) * 6)}.mb-sm-7{margin-bottom:calc(var(--fix) * 7)}.mb-sm-8{margin-bottom:calc(var(--fix) * 8)}.mb-sm-9{margin-bottom:calc(var(--fix) * 9)}.mb-sm-10{margin-bottom:calc(var(--fix) * 10)}.mb-sm-11{margin-bottom:calc(var(--fix) * 11)}.mb-sm-12{margin-bottom:calc(var(--fix) * 12)}}
@media (min-width:768px){.m-md-auto{margin:auto}.m-md-0{margin:0}.m-md-1{margin:var(--fix)}.m-md-2{margin:calc(var(--fix) * 2)}.m-md-3{margin:calc(var(--fix) * 3)}.m-md-4{margin:calc(var(--fix) * 4)}.m-md-5{margin:calc(var(--fix) * 5)}.m-md-6{margin:calc(var(--fix) * 6)}.m-md-7{margin:calc(var(--fix) * 7)}.m-md-8{margin:calc(var(--fix) * 8)}.m-md-9{margin:calc(var(--fix) * 9)}.m-md-10{margin:calc(var(--fix) * 10)}.m-md-11{margin:calc(var(--fix) * 11)}.m-md-12{margin:calc(var(--fix) * 12)}.mh-md-auto{margin-left:auto;margin-right:auto}.mh-md-0{margin-left:0;margin-right:0}.mh-md-1{margin-left:var(--fix);margin-right:var(--fix)}.mh-md-2{margin-left:calc(var(--fix) * 2);margin-right:calc(var(--fix) * 2)}.mh-md-3{margin-left:calc(var(--fix) * 3);margin-right:calc(var(--fix) * 3)}.mh-md-4{margin-left:calc(var(--fix) * 4);margin-right:calc(var(--fix) * 4)}.mh-md-5{margin-left:calc(var(--fix) * 5);margin-right:calc(var(--fix) * 5)}.mh-md-6{margin-left:calc(var(--fix) * 6);margin-right:calc(var(--fix) * 6)}.mh-md-7{margin-left:calc(var(--fix) * 7);margin-right:calc(var(--fix) * 7)}.mh-md-8{margin-left:calc(var(--fix) * 8);margin-right:calc(var(--fix) * 8)}.mh-md-9{margin-left:calc(var(--fix) * 9);margin-right:calc(var(--fix) * 9)}.mh-md-10{margin-left:calc(var(--fix) * 10);margin-right:calc(var(--fix) * 10)}.mh-md-11{margin-left:calc(var(--fix) * 11);margin-right:calc(var(--fix) * 11)}.mh-md-12{margin-left:calc(var(--fix) * 12);margin-right:calc(var(--fix) * 12)}.mv-md-auto{margin-top:auto;margin-bottom:auto}.mv-md-0{margin-top:0;margin-bottom:0}.mv-md-1{margin-top:var(--fix);margin-bottom:var(--fix)}.mv-md-2{margin-top:calc(var(--fix) * 2);margin-bottom:calc(var(--fix) * 2)}.mv-md-3{margin-top:calc(var(--fix) * 3);margin-bottom:calc(var(--fix) * 3)}.mv-md-4{margin-top:calc(var(--fix) * 4);margin-bottom:calc(var(--fix) * 4)}.mv-md-5{margin-top:calc(var(--fix) * 5);margin-bottom:calc(var(--fix) * 5)}.mv-md-6{margin-top:calc(var(--fix) * 6);margin-bottom:calc(var(--fix) * 6)}.mv-md-7{margin-top:calc(var(--fix) * 7);margin-bottom:calc(var(--fix) * 7)}.mv-md-8{margin-top:calc(var(--fix) * 8);margin-bottom:calc(var(--fix) * 8)}.mv-md-9{margin-top:calc(var(--fix) * 9);margin-bottom:calc(var(--fix) * 9)}.mv-md-10{margin-top:calc(var(--fix) * 10);margin-bottom:calc(var(--fix) * 10)}.mv-md-11{margin-top:calc(var(--fix) * 11);margin-bottom:calc(var(--fix) * 11)}.mv-md-12{margin-top:calc(var(--fix) * 12);margin-bottom:calc(var(--fix) * 12)}.ml-md-auto{margin-left:auto}.ml-md-0{margin-left:0}.ml-md-1{margin-left:var(--fix)}.ml-md-2{margin-left:calc(var(--fix) * 2)}.ml-md-3{margin-left:calc(var(--fix) * 3)}.ml-md-4{margin-left:calc(var(--fix) * 4)}.ml-md-5{margin-left:calc(var(--fix) * 5)}.ml-md-6{margin-left:calc(var(--fix) * 6)}.ml-md-7{margin-left:calc(var(--fix) * 7)}.ml-md-8{margin-left:calc(var(--fix) * 8)}.ml-md-9{margin-left:calc(var(--fix) * 9)}.ml-md-10{margin-left:calc(var(--fix) * 10)}.ml-md-11{margin-left:calc(var(--fix) * 11)}.ml-md-12{margin-left:calc(var(--fix) * 12)}.mt-md-auto{margin-top:auto}.mt-md-0{margin-top:0}.mt-md-1{margin-top:var(--fix)}.mt-md-2{margin-top:calc(var(--fix) * 2)}.mt-md-3{margin-top:calc(var(--fix) * 3)}.mt-md-4{margin-top:calc(var(--fix) * 4)}.mt-md-5{margin-top:calc(var(--fix) * 5)}.mt-md-6{margin-top:calc(var(--fix) * 6)}.mt-md-7{margin-top:calc(var(--fix) * 7)}.mt-md-8{margin-top:calc(var(--fix) * 8)}.mt-md-9{margin-top:calc(var(--fix) * 9)}.mt-md-10{margin-top:calc(var(--fix) * 10)}.mt-md-11{margin-top:calc(var(--fix) * 11)}.mt-md-12{margin-top:calc(var(--fix) * 12)}.mr-md-auto{margin-right:auto}.mr-md-0{margin-right:0}.mr-md-1{margin-right:var(--fix)}.mr-md-2{margin-right:calc(var(--fix) * 2)}.mr-md-3{margin-right:calc(var(--fix) * 3)}.mr-md-4{margin-right:calc(var(--fix) * 4)}.mr-md-5{margin-right:calc(var(--fix) * 5)}.mr-md-6{margin-right:calc(var(--fix) * 6)}.mr-md-7{margin-right:calc(var(--fix) * 7)}.mr-md-8{margin-right:calc(var(--fix) * 8)}.mr-md-9{margin-right:calc(var(--fix) * 9)}.mr-md-10{margin-right:calc(var(--fix) * 10)}.mr-md-11{margin-right:calc(var(--fix) * 11)}.mr-md-12{margin-right:calc(var(--fix) * 12)}.mb-md-auto{margin-bottom:auto}.mb-md-0{margin-bottom:0}.mb-md-1{margin-bottom:var(--fix)}.mb-md-2{margin-bottom:calc(var(--fix) * 2)}.mb-md-3{margin-bottom:calc(var(--fix) * 3)}.mb-md-4{margin-bottom:calc(var(--fix) * 4)}.mb-md-5{margin-bottom:calc(var(--fix) * 5)}.mb-md-6{margin-bottom:calc(var(--fix) * 6)}.mb-md-7{margin-bottom:calc(var(--fix) * 7)}.mb-md-8{margin-bottom:calc(var(--fix) * 8)}.mb-md-9{margin-bottom:calc(var(--fix) * 9)}.mb-md-10{margin-bottom:calc(var(--fix) * 10)}.mb-md-11{margin-bottom:calc(var(--fix) * 11)}.mb-md-12{margin-bottom:calc(var(--fix) * 12)}}
@media (min-width:992px){.m-lg-auto{margin:auto}.m-lg-0{margin:0}.m-lg-1{margin:var(--fix)}.m-lg-2{margin:calc(var(--fix) * 2)}.m-lg-3{margin:calc(var(--fix) * 3)}.m-lg-4{margin:calc(var(--fix) * 4)}.m-lg-5{margin:calc(var(--fix) * 5)}.m-lg-6{margin:calc(var(--fix) * 6)}.m-lg-7{margin:calc(var(--fix) * 7)}.m-lg-8{margin:calc(var(--fix) * 8)}.m-lg-9{margin:calc(var(--fix) * 9)}.m-lg-10{margin:calc(var(--fix) * 10)}.m-lg-11{margin:calc(var(--fix) * 11)}.m-lg-12{margin:calc(var(--fix) * 12)}.mh-lg-auto{margin-left:auto;margin-right:auto}.mh-lg-0{margin-left:0;margin-right:0}.mh-lg-1{margin-left:var(--fix);margin-right:var(--fix)}.mh-lg-2{margin-left:calc(var(--fix) * 2);margin-right:calc(var(--fix) * 2)}.mh-lg-3{margin-left:calc(var(--fix) * 3);margin-right:calc(var(--fix) * 3)}.mh-lg-4{margin-left:calc(var(--fix) * 4);margin-right:calc(var(--fix) * 4)}.mh-lg-5{margin-left:calc(var(--fix) * 5);margin-right:calc(var(--fix) * 5)}.mh-lg-6{margin-left:calc(var(--fix) * 6);margin-right:calc(var(--fix) * 6)}.mh-lg-7{margin-left:calc(var(--fix) * 7);margin-right:calc(var(--fix) * 7)}.mh-lg-8{margin-left:calc(var(--fix) * 8);margin-right:calc(var(--fix) * 8)}.mh-lg-9{margin-left:calc(var(--fix) * 9);margin-right:calc(var(--fix) * 9)}.mh-lg-10{margin-left:calc(var(--fix) * 10);margin-right:calc(var(--fix) * 10)}.mh-lg-11{margin-left:calc(var(--fix) * 11);margin-right:calc(var(--fix) * 11)}.mh-lg-12{margin-left:calc(var(--fix) * 12);margin-right:calc(var(--fix) * 12)}.mv-lg-auto{margin-top:auto;margin-bottom:auto}.mv-lg-0{margin-top:0;margin-bottom:0}.mv-lg-1{margin-top:var(--fix);margin-bottom:var(--fix)}.mv-lg-2{margin-top:calc(var(--fix) * 2);margin-bottom:calc(var(--fix) * 2)}.mv-lg-3{margin-top:calc(var(--fix) * 3);margin-bottom:calc(var(--fix) * 3)}.mv-lg-4{margin-top:calc(var(--fix) * 4);margin-bottom:calc(var(--fix) * 4)}.mv-lg-5{margin-top:calc(var(--fix) * 5);margin-bottom:calc(var(--fix) * 5)}.mv-lg-6{margin-top:calc(var(--fix) * 6);margin-bottom:calc(var(--fix) * 6)}.mv-lg-7{margin-top:calc(var(--fix) * 7);margin-bottom:calc(var(--fix) * 7)}.mv-lg-8{margin-top:calc(var(--fix) * 8);margin-bottom:calc(var(--fix) * 8)}.mv-lg-9{margin-top:calc(var(--fix) * 9);margin-bottom:calc(var(--fix) * 9)}.mv-lg-10{margin-top:calc(var(--fix) * 10);margin-bottom:calc(var(--fix) * 10)}.mv-lg-11{margin-top:calc(var(--fix) * 11);margin-bottom:calc(var(--fix) * 11)}.mv-lg-12{margin-top:calc(var(--fix) * 12);margin-bottom:calc(var(--fix) * 12)}.ml-lg-auto{margin-left:auto}.ml-lg-0{margin-left:0}.ml-lg-1{margin-left:var(--fix)}.ml-lg-2{margin-left:calc(var(--fix) * 2)}.ml-lg-3{margin-left:calc(var(--fix) * 3)}.ml-lg-4{margin-left:calc(var(--fix) * 4)}.ml-lg-5{margin-left:calc(var(--fix) * 5)}.ml-lg-6{margin-left:calc(var(--fix) * 6)}.ml-lg-7{margin-left:calc(var(--fix) * 7)}.ml-lg-8{margin-left:calc(var(--fix) * 8)}.ml-lg-9{margin-left:calc(var(--fix) * 9)}.ml-lg-10{margin-left:calc(var(--fix) * 10)}.ml-lg-11{margin-left:calc(var(--fix) * 11)}.ml-lg-12{margin-left:calc(var(--fix) * 12)}.mt-lg-auto{margin-top:auto}.mt-lg-0{margin-top:0}.mt-lg-1{margin-top:var(--fix)}.mt-lg-2{margin-top:calc(var(--fix) * 2)}.mt-lg-3{margin-top:calc(var(--fix) * 3)}.mt-lg-4{margin-top:calc(var(--fix) * 4)}.mt-lg-5{margin-top:calc(var(--fix) * 5)}.mt-lg-6{margin-top:calc(var(--fix) * 6)}.mt-lg-7{margin-top:calc(var(--fix) * 7)}.mt-lg-8{margin-top:calc(var(--fix) * 8)}.mt-lg-9{margin-top:calc(var(--fix) * 9)}.mt-lg-10{margin-top:calc(var(--fix) * 10)}.mt-lg-11{margin-top:calc(var(--fix) * 11)}.mt-lg-12{margin-top:calc(var(--fix) * 12)}.mr-lg-auto{margin-right:auto}.mr-lg-0{margin-right:0}.mr-lg-1{margin-right:var(--fix)}.mr-lg-2{margin-right:calc(var(--fix) * 2)}.mr-lg-3{margin-right:calc(var(--fix) * 3)}.mr-lg-4{margin-right:calc(var(--fix) * 4)}.mr-lg-5{margin-right:calc(var(--fix) * 5)}.mr-lg-6{margin-right:calc(var(--fix) * 6)}.mr-lg-7{margin-right:calc(var(--fix) * 7)}.mr-lg-8{margin-right:calc(var(--fix) * 8)}.mr-lg-9{margin-right:calc(var(--fix) * 9)}.mr-lg-10{margin-right:calc(var(--fix) * 10)}.mr-lg-11{margin-right:calc(var(--fix) * 11)}.mr-lg-12{margin-right:calc(var(--fix) * 12)}.mb-lg-auto{margin-bottom:auto}.mb-lg-0{margin-bottom:0}.mb-lg-1{margin-bottom:var(--fix)}.mb-lg-2{margin-bottom:calc(var(--fix) * 2)}.mb-lg-3{margin-bottom:calc(var(--fix) * 3)}.mb-lg-4{margin-bottom:calc(var(--fix) * 4)}.mb-lg-5{margin-bottom:calc(var(--fix) * 5)}.mb-lg-6{margin-bottom:calc(var(--fix) * 6)}.mb-lg-7{margin-bottom:calc(var(--fix) * 7)}.mb-lg-8{margin-bottom:calc(var(--fix) * 8)}.mb-lg-9{margin-bottom:calc(var(--fix) * 9)}.mb-lg-10{margin-bottom:calc(var(--fix) * 10)}.mb-lg-11{margin-bottom:calc(var(--fix) * 11)}.mb-lg-12{margin-bottom:calc(var(--fix) * 12)}}
@media (min-width:1200px){.m-xl-auto{margin:auto}.m-xl-0{margin:0}.m-xl-1{margin:var(--fix)}.m-xl-2{margin:calc(var(--fix) * 2)}.m-xl-3{margin:calc(var(--fix) * 3)}.m-xl-4{margin:calc(var(--fix) * 4)}.m-xl-5{margin:calc(var(--fix) * 5)}.m-xl-6{margin:calc(var(--fix) * 6)}.m-xl-7{margin:calc(var(--fix) * 7)}.m-xl-8{margin:calc(var(--fix) * 8)}.m-xl-9{margin:calc(var(--fix) * 9)}.m-xl-10{margin:calc(var(--fix) * 10)}.m-xl-11{margin:calc(var(--fix) * 11)}.m-xl-12{margin:calc(var(--fix) * 12)}.mh-xl-auto{margin-left:auto;margin-right:auto}.mh-xl-0{margin-left:0;margin-right:0}.mh-xl-1{margin-left:var(--fix);margin-right:var(--fix)}.mh-xl-2{margin-left:calc(var(--fix) * 2);margin-right:calc(var(--fix) * 2)}.mh-xl-3{margin-left:calc(var(--fix) * 3);margin-right:calc(var(--fix) * 3)}.mh-xl-4{margin-left:calc(var(--fix) * 4);margin-right:calc(var(--fix) * 4)}.mh-xl-5{margin-left:calc(var(--fix) * 5);margin-right:calc(var(--fix) * 5)}.mh-xl-6{margin-left:calc(var(--fix) * 6);margin-right:calc(var(--fix) * 6)}.mh-xl-7{margin-left:calc(var(--fix) * 7);margin-right:calc(var(--fix) * 7)}.mh-xl-8{margin-left:calc(var(--fix) * 8);margin-right:calc(var(--fix) * 8)}.mh-xl-9{margin-left:calc(var(--fix) * 9);margin-right:calc(var(--fix) * 9)}.mh-xl-10{margin-left:calc(var(--fix) * 10);margin-right:calc(var(--fix) * 10)}.mh-xl-11{margin-left:calc(var(--fix) * 11);margin-right:calc(var(--fix) * 11)}.mh-xl-12{margin-left:calc(var(--fix) * 12);margin-right:calc(var(--fix) * 12)}.mv-xl-auto{margin-top:auto;margin-bottom:auto}.mv-xl-0{margin-top:0;margin-bottom:0}.mv-xl-1{margin-top:var(--fix);margin-bottom:var(--fix)}.mv-xl-2{margin-top:calc(var(--fix) * 2);margin-bottom:calc(var(--fix) * 2)}.mv-xl-3{margin-top:calc(var(--fix) * 3);margin-bottom:calc(var(--fix) * 3)}.mv-xl-4{margin-top:calc(var(--fix) * 4);margin-bottom:calc(var(--fix) * 4)}.mv-xl-5{margin-top:calc(var(--fix) * 5);margin-bottom:calc(var(--fix) * 5)}.mv-xl-6{margin-top:calc(var(--fix) * 6);margin-bottom:calc(var(--fix) * 6)}.mv-xl-7{margin-top:calc(var(--fix) * 7);margin-bottom:calc(var(--fix) * 7)}.mv-xl-8{margin-top:calc(var(--fix) * 8);margin-bottom:calc(var(--fix) * 8)}.mv-xl-9{margin-top:calc(var(--fix) * 9);margin-bottom:calc(var(--fix) * 9)}.mv-xl-10{margin-top:calc(var(--fix) * 10);margin-bottom:calc(var(--fix) * 10)}.mv-xl-11{margin-top:calc(var(--fix) * 11);margin-bottom:calc(var(--fix) * 11)}.mv-xl-12{margin-top:calc(var(--fix) * 12);margin-bottom:calc(var(--fix) * 12)}.ml-xl-auto{margin-left:auto}.ml-xl-0{margin-left:0}.ml-xl-1{margin-left:var(--fix)}.ml-xl-2{margin-left:calc(var(--fix) * 2)}.ml-xl-3{margin-left:calc(var(--fix) * 3)}.ml-xl-4{margin-left:calc(var(--fix) * 4)}.ml-xl-5{margin-left:calc(var(--fix) * 5)}.ml-xl-6{margin-left:calc(var(--fix) * 6)}.ml-xl-7{margin-left:calc(var(--fix) * 7)}.ml-xl-8{margin-left:calc(var(--fix) * 8)}.ml-xl-9{margin-left:calc(var(--fix) * 9)}.ml-xl-10{margin-left:calc(var(--fix) * 10)}.ml-xl-11{margin-left:calc(var(--fix) * 11)}.ml-xl-12{margin-left:calc(var(--fix) * 12)}.mt-xl-auto{margin-top:auto}.mt-xl-0{margin-top:0}.mt-xl-1{margin-top:var(--fix)}.mt-xl-2{margin-top:calc(var(--fix) * 2)}.mt-xl-3{margin-top:calc(var(--fix) * 3)}.mt-xl-4{margin-top:calc(var(--fix) * 4)}.mt-xl-5{margin-top:calc(var(--fix) * 5)}.mt-xl-6{margin-top:calc(var(--fix) * 6)}.mt-xl-7{margin-top:calc(var(--fix) * 7)}.mt-xl-8{margin-top:calc(var(--fix) * 8)}.mt-xl-9{margin-top:calc(var(--fix) * 9)}.mt-xl-10{margin-top:calc(var(--fix) * 10)}.mt-xl-11{margin-top:calc(var(--fix) * 11)}.mt-xl-12{margin-top:calc(var(--fix) * 12)}.mr-xl-auto{margin-right:auto}.mr-xl-0{margin-right:0}.mr-xl-1{margin-right:var(--fix)}.mr-xl-2{margin-right:calc(var(--fix) * 2)}.mr-xl-3{margin-right:calc(var(--fix) * 3)}.mr-xl-4{margin-right:calc(var(--fix) * 4)}.mr-xl-5{margin-right:calc(var(--fix) * 5)}.mr-xl-6{margin-right:calc(var(--fix) * 6)}.mr-xl-7{margin-right:calc(var(--fix) * 7)}.mr-xl-8{margin-right:calc(var(--fix) * 8)}.mr-xl-9{margin-right:calc(var(--fix) * 9)}.mr-xl-10{margin-right:calc(var(--fix) * 10)}.mr-xl-11{margin-right:calc(var(--fix) * 11)}.mr-xl-12{margin-right:calc(var(--fix) * 12)}.mb-xl-auto{margin-bottom:auto}.mb-xl-0{margin-bottom:0}.mb-xl-1{margin-bottom:var(--fix)}.mb-xl-2{margin-bottom:calc(var(--fix) * 2)}.mb-xl-3{margin-bottom:calc(var(--fix) * 3)}.mb-xl-4{margin-bottom:calc(var(--fix) * 4)}.mb-xl-5{margin-bottom:calc(var(--fix) * 5)}.mb-xl-6{margin-bottom:calc(var(--fix) * 6)}.mb-xl-7{margin-bottom:calc(var(--fix) * 7)}.mb-xl-8{margin-bottom:calc(var(--fix) * 8)}.mb-xl-9{margin-bottom:calc(var(--fix) * 9)}.mb-xl-10{margin-bottom:calc(var(--fix) * 10)}.mb-xl-11{margin-bottom:calc(var(--fix) * 11)}.mb-xl-12{margin-bottom:calc(var(--fix) * 12)}}

/* Text Align */
.ta-left{text-align:left}.ta-right{text-align:right}.ta-center{text-align:center}.ta-justify{text-align:justify}
@media (min-width:576px){.ta-sm-left{text-align:left}.ta-sm-right{text-align:right}.ta-sm-center{text-align:center}.ta-sm-justify{text-align:justify}}
@media (min-width:768px){.ta-md-left{text-align:left}.ta-md-right{text-align:right}.ta-md-center{text-align:center}.ta-md-justify{text-align:justify}}
@media (min-width:992px){.ta-lg-left{text-align:left}.ta-lg-right{text-align:right}.ta-lg-center{text-align:center}.ta-lg-justify{text-align:justify}}
@media (min-width:1200px){.ta-xl-left{text-align:left}.ta-xl-right{text-align:right}.ta-xl-center{text-align:center}.ta-xl-justify{text-align:justify}}

/* Br */
.brn{display: none}.br{display: initial}
@media (min-width:576px){.brn-sm{display: none}.br-sm{display: initial}} 
@media (min-width:768px){.brn-md{display: none}.br-md{display: initial}} 
@media (min-width:992px){.brn-lg{display: none}.br-lg{display: initial}} 
@media (min-width:1200px){.brn-xl{display: none}.br-xl{display: initial}}

/* Flexbox */
.fx-wrap{-ms-flex-wrap:wrap;flex-wrap:wrap}
.fx-nowrap{-ms-flex-wrap:nowrap;flex-wrap:nowrap}

.fx-d-row{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.fx-d-col{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.fx-d-row-r{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}
.fx-d-col-r{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}

.jc-around{-ms-flex-pack:distribute;justify-content:space-around}
.jc-end{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}
.jc-center{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.jc-start{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}
.jc-between{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.jc-evenly{-webkit-box-pack:space-evenly;-ms-flex-pack:space-evenly;justify-content:space-evenly}

@media (min-width:576px){.jc-sm-around{-ms-flex-pack:distribute;justify-content:space-around}.jc-sm-end{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.jc-sm-center{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.jc-sm-start{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}.jc-sm-between{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.jc-sm-evenly{-webkit-box-pack:space-evenly;-ms-flex-pack:space-evenly;justify-content:space-evenly}}
@media (min-width:768px){.jc-md-around{-ms-flex-pack:distribute;justify-content:space-around}.jc-md-end{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.jc-md-center{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.jc-md-start{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}.jc-md-between{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.jc-md-evenly{-webkit-box-pack:space-evenly;-ms-flex-pack:space-evenly;justify-content:space-evenly}}
@media (min-width:992px){.jc-lg-around{-ms-flex-pack:distribute;justify-content:space-around}.jc-lg-end{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.jc-lg-center{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.jc-lg-start{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}.jc-lg-between{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.jc-lg-evenly{-webkit-box-pack:space-evenly;-ms-flex-pack:space-evenly;justify-content:space-evenly}}
@media (min-width:1200px){.jc-xl-around{-ms-flex-pack:distribute;justify-content:space-around}.jc-xl-end{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.jc-xl-center{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.jc-xl-start{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}.jc-xl-between{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.jc-xl-evenly{-webkit-box-pack:space-evenly;-ms-flex-pack:space-evenly;justify-content:space-evenly}}

.ai-end{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}
.ai-center{-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.ai-start{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}
.ai-stretch{-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch}
.ai-baseline{-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline}

.ac-end{-ms-flex-line-pack:end;align-content:flex-end}
.ac-center{-ms-flex-line-pack:center;align-content:center}
.ac-start{-ms-flex-line-pack:start;align-content:flex-start}
.ac-stretch{-ms-flex-line-pack:stretch;align-content:stretch}
.ac-between{-ms-flex-line-pack:justify;align-content:space-between}
.ac-around{-ms-flex-line-pack:distribute;align-content:space-around}

.as-end{-ms-flex-item-align:end;align-self:flex-end}
.as-start{-ms-flex-item-align:start;align-self:flex-start}
.as-center{-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center}
.as-stretch{-ms-flex-item-align:stretch;-ms-grid-row-align:stretch;align-self:stretch}

.fx-1{-webkit-box-flex:1;-ms-flex:1;flex:1}.fx-2{-webkit-box-flex:2;-ms-flex:2;flex:2}.fx-auto{-webkit-box-flex:1;-ms-flex:auto;flex:auto}
@media (min-width:576px){.fx-sm-1{-webkit-box-flex:1;-ms-flex:1;flex:1}.fx-sm-2{-webkit-box-flex:2;-ms-flex:2;flex:2}.fx-sm-auto{-webkit-box-flex:1;-ms-flex:auto;flex:auto}}
@media (min-width:768px){.fx-md-1{-webkit-box-flex:1;-ms-flex:1;flex:1}.fx-md-2{-webkit-box-flex:2;-ms-flex:2;flex:2}.fx-md-auto{-webkit-box-flex:1;-ms-flex:auto;flex:auto}}
@media (min-width:992px){.fx-lg-1{-webkit-box-flex:1;-ms-flex:1;flex:1}.fx-lg-2{-webkit-box-flex:2;-ms-flex:2;flex:2}.fx-lg-auto{-webkit-box-flex:1;-ms-flex:auto;flex:auto}}
@media (min-width:1200px){.fx-xl-1{-webkit-box-flex:1;-ms-flex:1;flex:1}.fx-xl-2{-webkit-box-flex:2;-ms-flex:2;flex:2}.fx-xl-auto{-webkit-box-flex:1;-ms-flex:auto;flex:auto}}

/* Display */
.flex{display:flex}.block{display:block}.inline-block{display: inline-block}.inherit{display:inherit}.none{display:none}
@media (min-width:576px){.flex-sm{display:flex}.block-sm{display:block}.inline-block-sm{display:inline-block}.inherit-sm{display:inherit}.none-sm{display:none}}
@media (min-width:768px){.flex-md{display:flex}.block-md{display:block}.inline-block-md{display:inline-block}.inherit-md{display:inherit}.none-md{display:none}}
@media (min-width:992px){.flex-lg{display:flex}.block-lg{display:block}.inline-block-lg{display:inline-block}.inherit-lg{display:inherit}.none-lg{display:none}}
@media (min-width:1200px){.flex-xl{display:flex}.block-xl{display:block}.inline-block-xl{display:inline-block}.inherit-xl{display:inherit}.none-xl{display:none}}


/* Largura e altura */
.w{width:100%}.w-vw{width:100vw}.w-auto{width:auto}.h{height:100%}.h-vh{height:100vh}.h-auto{height:auto}
@media (min-width:576px){.w-sm{width:100%}.w-sm-auto{width:auto}.h-sm{height:100%}.h-sm-auto{height:auto}}
@media (min-width:768px){.w-md{width:100%}.w-md-auto{width:auto}.h-md{height:100%}.h-md-auto{height:auto}}
@media (min-width:992px){.w-lg{width:100%}.w-lg-auto{width:auto}.h-lg{height:100%}.h-lg-auto{height:auto}}
@media (min-width:1200px){.w-xl{width:100%}.w-xl-auto{width:auto}.h-xl{height:100%}.h-xl-auto{height:auto}}
/* Posições */
.fixed{position:fixed}
.static{position:static}
.relative{position:relative}
.absolute{position:absolute}

.top-left{top:0;left:0}
.top-right{top:0;right:0}
.bottom-left{bottom:0;left:0}
.bottom-right{bottom:0;right:0}

.z-index{z-index: 1;}
.in-back{z-index: -1}
.in-front{z-index: 2}

.pointer{cursor:pointer}
.line-height{line-height:1}
.word-wrap{word-wrap:break-word}
.small-caps{font-variant:small-caps}
.uppercase{text-transform: uppercase}
.fs-inherit{font-size: inherit}
.no-select{user-select: none}

.overflow-hidden{overflow: hidden}
.vertical-middle{vertical-align: middle}

/* Bordas arredondas */
.radius{border-radius:var(--radius)}
.radius-2{border-radius:calc(var(--radius) * 2)}
.radius-3{border-radius:calc(var(--radius) * 3)}
.radius-4{border-radius:calc(var(--radius) * 4)}
.radius-5{border-radius:calc(var(--radius) * 5)}
.radius-6{border-radius:calc(var(--radius) * 6)}
.radius-7{border-radius:calc(var(--radius) * 7)}
.radius-8{border-radius:calc(var(--radius) * 8)}
.radius-9{border-radius:calc(var(--radius) * 9)}

.round{border-radius:50%}
.radius-inherit{border-radius:inherit}
.radius-right{border-bottom-left-radius:0; border-top-left-radius:0}
.radius-bottom{border-top-left-radius:0; border-top-right-radius: 0}
.radius-left{border-bottom-right-radius:0; border-top-right-radius:0}
.radius-top{border-bottom-left-radius:0; border-bottom-right-radius:0}

/* Sombras */
.shadow{box-shadow:var(--shadow)}
.txt-shadow{text-shadow:var(--txt-shadow)}
.drop-shadow{filter:drop-shadow(var(--shadow))}

/* Peso de fontes */
.fw-thin{font-weight: var(--fw-thin)}
.fw-light{font-weight: var(--fw-light)}
.fw-normal{font-weight: var(--fw-normal)}
.fw-medium{font-weight: var(--fw-medium)}
.fw-semi-bold{font-weight: var(--fw-semi-bold)}
.fw-bold{font-weight:var(--fw-bold)}
.fw-black{font-weight: var(--fw-black)}/* Text */
.txt-main{color:var(--main)}
.txt-contrast{color:var(--contrast)}
.txt-main-dark{color:var(--main-dark)}
.txt-main-light{color:var(--main-light)}

.txt-spotlight{color:var(--spotlight)}
.txt-spotlight-dark{color:var(--spotlight-dark)}

.txt-primary{color:var(--primary)}
.txt-secondary{color:var(--secondary)}

.txt-white{color:#fff}
.txt-medium{color:var(--medium)}

/* Background */
.bg-main{background-color:var(--main)}
.bg-main-dark{background-color:var(--main-dark)}
.bg-main-light{background-color:var(--main-light)}
.bg-gradient{background: var(--gradient);}
.bg-white-transparent{background: var(--white-transparent)}

.bg-spotlight{background-color:var(--spotlight)}
.bg-spotlight-dark{background-color:var(--spotlight-dark)}

.bg-dark{background-color:var(--dark)}
.bg-light{background-color:var(--light)}
.bg-medium{background-color:var(--medium)}

.bg-white{background-color:#fff}
.bg-black{background-color:var(--black)}

/* Hover */
.hover-main{background-color:var(--main)}
.hover-main:hover{background-color:var(--main-dark)}

.hover-spotlight{background-color:var(--spotlight)}
.hover-spotlight:hover{background-color:var(--spotlight-dark)}

.hover-transparent{background-color:transparent; border: thin solid #fff;}
.hover-transparent:hover{background-color:var(--main); border-color: var(--main);}

.hover-underline:hover{text-decoration:underline}
.hover-underline-a a:hover{text-decoration:underline}

.hover-shadow{box-shadow: var(--shadow)}
.hover-shadow:hover{box-shadow: var(--shadow-lg)}

.link-main{color:var(--main); transition: color .2s}
.link-main:hover{color:var(--main-dark)}
/**
 * Elementos do projeto
 */

/* Botões */
.btn__white{background: #fff; color: var(--main); border: 0;}
.btn__white:hover{background: var(--gradient); color: #fff;}

/* Sections */
.section__title{font-size: 2rem;}
.section__subtitle{font-size: 1rem; color: var(--main-dark); background-color: rgba(245,95,141,.1); letter-spacing: 2px; margin-bottom: 2rem; display: inline-block; border-radius: .6rem; padding: .75rem 2rem; font-weight: 600; text-transform: uppercase;}

@media (min-width:992px){
    .section__title{font-size: 2.5rem;}
    .section__subtitle{font-size: 1.2rem;}
}

/* Card */
.card__box{position: relative; height: 100%; overflow: hidden; border-radius: 10px; padding: 2rem; box-shadow: 0 0 10px 4px rgb(31 66 135 / 10%); background-color: #fff; z-index: 0;fill: var(--main); }
.card__box .icon{position: relative; display: flex; justify-content: center; align-items: center; width: 70px; height: 70px; border-radius: 50%; background-color: rgba(245, 95, 141, .1);}
.card__box .icon::after{content:""; display: block; position:absolute; top: -18px; left: -13px; width:100px; height:100px; background-image: url(../images/pattern.png); background-repeat: no-repeat; background-repeat: no-repeat; background-size: cover;}
.card__box svg{height: 34px; display: block; line-height: 0; }
.card__box .title{margin-bottom: 1rem; font-size: 1.5rem; }
.card__box .desc{color: var(--secondary); line-height: 1.5}

.card__box .effect {position: absolute; width: 0; height: 0; bottom: 0; right:0; transform: translate(45%, 45%); transition: width .2s, height.2s;z-index: -1; }
.card__box .effect span{display: block; position: relative; border-radius: 50%; width: 100%; height: 100%; background-color: rgba(255,255,255,.2);  }
.card__box .effect span::before,
.card__box .effect span::after{content: ""; position: absolute; display: block; width: 75%; height: 75%; background-color:rgba(255,255,255,.3); border-radius: 50%; bottom: 50%;  right: 50%; transform: translate(50%,50%); transition: width .4s ease-in-out, height.4s ease-in-out; }
.card__box .effect span::after{background-color:var(--main); width: 50%; height: 50%;} 

.card__box:hover{background: var(--gradient); color: #fff; fill: #fff; text-shadow: 0 3px 5px rgba(0,0,0,.2);  }
.card__box:hover .desc{color: #fff;  }
.card__box:hover .icon{background-color: rgba(255,255,255,.2);}
.card__box:hover .icon::after{background-image: url(../images/pattern-white.png)}

 .card__box:hover .effect{width: 380px; height: 380px;} 




/* TopBar */
.top_bar .content{border-bottom: thin solid #fff; fill: #fff}
.top_bar a{display: flex; justify-content: center; align-items: center; align-content: center;}
.top_bar svg{height: 14px; display: block; line-height: 0;}

.top_bar .contact a:first-child{margin-right: 1rem;}
.top_bar .contact span{padding-bottom: 3px;}
.top_bar .contact svg{margin-right: 5px;}

.top_bar .social a{width: 30px; height: 30px; background-color: #fff; border-radius: 50%; fill: var(--main); transition: background .2s, color .2s;}
.top_bar .social a:not(:last-child){margin-right: 4px}
.top_bar .social a:hover{background: var(--gradient); fill: #fff;}

/* Logo Principal */
.main_logo{width: 120px; display: block}
.main_logo svg{line-height: 0;display: block;}

/* Orçamento */
.top_budget{font-size: .86rem; padding: .6rem 1.2rem; border-radius: 1rem; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); transition: transform .2s;}
.top_budget:hover{transform: scale(1.1);}

/* Ícone Nav Mobile */
#navToggle{width:30px;padding: 5px;margin-left: 1.2rem;cursor:pointer}
#navToggle span,
#navToggle::before,
#navToggle::after{content:'';position:relative;display:block;width:100%;height:2px;background-color:#fff;border-radius:3px;transition:transform .2s,opacity .2s,visibility .2s,background-color .2s, top .2s}
#navToggle span{margin-top: 5px;margin-bottom:5px}
#navToggle.visible span{opacity: 0; visibility: hidden}
#navToggle.visible::before {transform:rotate(-45deg); top: 7px}
#navToggle.visible::after {transform: rotate(45deg); top: -7px}

/* Navegação */
#mainNav{position: fixed; display: flex; justify-content: center; align-items: flex-start; width: 100%; height: 100vh; background-color: rgba(0,0,0,.2); top: 0; left: 0; z-index: 99; visibility: hidden; opacity: 0; transition: visibility .2s, opacity .2s}
#mainNav nav{position: relative; display: flex; flex-direction: column; min-width: 300px; background-color: #fff; height: auto; border-radius: 20px; padding: 2rem; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); overflow: hidden; z-index: 0; opacity: 0; transition: margin-top .3s, opacity .2s;}
#mainNav nav::before, #mainNav nav::after{content: ""; display: block; width: 300px; height: 300px; position: absolute; bottom: -30%; right: -40%; background-color: var(--main); border-radius: 50%; z-index: -1; opacity: .1;}
#mainNav nav::after{top: -40%; left: -40%; right: auto; bottom: auto;}

#mainNav a{display: block; padding: .7rem; font-weight: var(--fw-semi-bold); text-align: center; color: var(--primary); border-radius: 6px; font-size: 1.2rem; user-select: none;}
#mainNav a:hover{background-color: var(--main); color: #fff}
#mainNav.visible{opacity: 1; visibility: visible;}
#mainNav.visible nav{opacity: 1; margin-top: 100px;}

@media (min-width:768px){
    .main_logo{width: 160px;}
    .top_budget{font-size: 1.1rem; padding: .7rem 1.5rem; border-radius: 30px;}
}

@media (min-width:992px){
    #mainNav{position: relative; align-self: flex-end; display: block; width: auto; height: auto; background-color: transparent; top: auto; left: auto; z-index: 0; visibility: visible; opacity: 1; transition: none}
    #mainNav nav{flex-direction: row; height: 50px; border-radius: 0; align-items: center; background-color:transparent; box-shadow: none; opacity: 1; padding: 0; transition: none;}
    #mainNav nav::before, #mainNav nav::after{display: none;}
    #mainNav a{text-shadow: 0 3px 5px rgba(0,0,0,.2); padding: .25rem 1rem; color: #fff; transition: background-color .2s, color .2s, box-shadow .2s; border-radius: 50px;}
    #mainNav a:hover{background-color: transparent; background-color: #fff; color: var(--main); box-shadow: 0 5px .5rem rgba(0,0,0,.15);   }
}

/* Rodapé */
.main_footer::before{content: ""; display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: var(--gradient-dark); z-index: -2;}

.main_footer::after{content: ""; position: absolute; display: block; width: 100%; height: 100%; right: -50px; top: 0;  z-index: -1; background-image: url(../images/bg4.png); background-position: center center; background-repeat: no-repeat; background-size: contain; transform: rotate(45deg); opacity: .6;}

@media (min-width:768px){
    .main_footer::after{transform: rotate(0);}
}


.footer_logo{width: 180px; margin-bottom: 2rem;}

.main_footer .contact{fill: #fff; color: #fff;}
.main_footer .contact li{margin-bottom: 1rem;}
.main_footer .contact a{display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.main_footer .contact .icon{display: -webkit-box;display: -ms-flexbox;display: flex; width: 44px; height: 44px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background: var(--gradient); border-radius: 50%; margin-right: .5rem;}
.main_footer .contact svg{height: 18px;}

.footer_list .title{font-size:1.25rem;position:relative; margin-bottom: 2rem;padding-bottom:1rem;}
.footer_list .title:after,.footer_list .title:before{content:"";position:absolute;bottom:0;left:0;height:4px;border-radius:20px;background-color:#fff}
.footer_list .title:before {width: 15px}
.footer_list .title:after {width: 60px; left: 20px;}

.footer_list li{margin-bottom: 1rem; display: block}
.footer_list .list a{display: inline-block; padding-left: 0; padding-right: 5px;  -webkit-transition: padding .2s;  -o-transition: padding .2s;  transition: padding .2s;}
.footer_list .list a:hover{padding-left: 5px; padding-right: 0;}

.main_footer .social a{display: -webkit-box;display: -ms-flexbox;display: flex; fill: var(--main); -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 40px; height: 40px; background: #fff; border-radius: 50%}
.main_footer .social a:not(:last-child){margin-right: 5px}
.main_footer .social svg{height: 16px;}
.main_footer .social a:hover{background: var(--gradient); fill: #fff;}

.copyright{background-color: var(--black); font-size: .9rem; line-height: 1.5;}

.presentation::before{content: ""; display: block; width: 100%; height: calc(100% - 1px); position: absolute; left: 0; top: 0; background: var(--gradient); z-index: -2;}
.presentation::after{content: ""; display: block; width: 580px; height: 600px; position: absolute; top: 0;  right: 0; background-repeat: no-repeat; background-size: contain; z-index: -1;}

.presentation .welcome{padding: .7rem 2.5rem; font-size: 1.2rem; border-radius: 20px; letter-spacing:3px;}
.presentation .title{font-size: 1.9rem}
.presentation .desc{line-height: 1.5; font-size: 1.1rem;}
.presentation .content .btn{font-size: 1.1rem; padding: 1rem 1.5rem; border-radius: 40px; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)}
.presentation .image{display: block; user-select: none; z-index: -1}
.presentation .balls{top:-20px; left: -110px; height: 100%; animation: move 5s infinite;user-select: none;}
.presentation .circle{animation: move 5s infinite;}
.presentation .circle span{display: block; position:absolute; bottom: -90px; left: 250px; background: var(--gradient); border-radius: 50%; width: 120px; height: 120px;box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)}
.presentation .circle span:last-child{bottom: -250px; width: 70px; height: 70px; right: -100px; left: auto;}

@keyframes move {
    0%{transform:rotate(0)}
    50%{transform:rotate(2deg)}
    100%{transform:rotate(0)}
}

@media (min-width:576px){
    .presentation .balls{ left: -70px;}
}

@media (min-width:992px){
    .presentation::after{ background-image: url(../images/pic-home.webp);}
}

@media (min-width:1200px){
    .presentation .balls{height: 650px; top: -30px; left: -160px;}
    .presentation .title{font-size: 3rem}
    .presentation .desc{font-size: 1.3rem}
    .presentation .content .btn{font-size: 1.3rem;}
    .presentation::after{width: 650px; height: 720px;}
}

@media (min-width:1366px){
    .presentation::after{width: 800px; height: 820px;}
}


/* Quem somos */
.about{fill: var(--main);}
.about p{font-size: 1.05rem; line-height: 1.3; color: var(--secondary);}
.about p:not(:last-child){margin-bottom: 1rem}
.about li{display: flex; align-items: center; line-height: 1;}
.about li:not(:last-child){margin-bottom: 1rem;}
.about .list svg{height: 20px; margin-right: .5rem;}

.about .social a{background: var(--gradient); display: flex; align-items: center; justify-content: center; border-radius: 50%; width: 46px; height: 46px; transition: transform .2s; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)}
.about .social a:not(:last-child){margin-right: 5px;}
.about .social svg{fill: #fff; height: 20px;}
.about .social a:hover{transform: scale(1.1);}

/* Marketing integrado */

.mkt p{font-size: 1.05rem; line-height: 1.3; color: var(--secondary);}
.mkt p:not(:last-child){margin-bottom: 1rem}