/* Table */
.table {position: relative; display: block; min-width: 100%; width: auto; overflow: auto}
.table table{min-width: 100%; border-collapse: collapse; white-space:nowrap; font-size: .9rem; text-align: left;}

.table th, .table td{display: table-cell; vertical-align: middle; padding: .75rem}
.table th{padding: .75rem}

.table thead a{color: inherit}
.table thead a:hover{text-decoration: underline}
.table th a{font-weight: inherit; color: inherit}
.table thead, .table b{font-weight: var(--fw-medium)}

.table tr{ border-bottom: thin solid var(--light)}
.table tr td:first-child, .table tr th:first-child {padding-left: 1.5rem}

.table .btn{border-radius: var(--radius); color: #fff; background-color: var(--main); font-weight: var(--fw-medium); padding: .2rem 1rem;}

.table-striped tbody tr:nth-child(even){background-color: var(--light)}
.table-hover tbody tr:hover{background-color:#e9e9e9}

@media (min-width: 480px){
    .table, .table table{width:100%}
}